In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('Resources/airlines_reviews.csv')

In [8]:
df.head()

,Title,Name,Review Date,Airline,Verified,Reviews,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended
0,Flight was amazing,Alison Soetantyo,2024-03-01,Singapore Airlines,True,Flight was amazing. The crew onboard this fl...,Solo Leisure,December 2023,Jakarta to Singapore,Business Class,4,4,4,4,4,9,yes
1,seats on this aircraft are dreadful,Robert Watson,2024-02-21,Singapore Airlines,True,Booking an emergency exit seat still meant h...,Solo Leisure,February 2024,Phuket to Singapore,Economy Class,5,3,4,4,1,3,no
2,Food was plentiful and tasty,S Han,2024-02-20,Singapore Airlines,True,Excellent performance on all fronts. I would...,Family Leisure,February 2024,Siem Reap to Singapore,Economy Class,1,5,2,1,5,10,yes
3,“how much food was available,D Laynes,2024-02-19,Singapore Airlines,True,Pretty comfortable flight considering I was f...,Solo Leisure,February 2024,Singapore to London Heathrow,Economy Class,5,5,5,5,5,10,yes
4,“service was consistently good”,A Othman,2024-02-19,Singapore Airlines,True,The service was consistently good from start ...,Family Leisure,February 2024,Singapore to Phnom Penh,Economy Class,5,5,5,5,5,10,yes

In [9]:
df.columns

Index(['Title', 'Name', 'Review Date', 'Airline', 'Verified', 'Reviews',
       'Type of Traveller', 'Month Flown', 'Route', 'Class', 'Seat Comfort',
       'Staff Service', 'Food & Beverages', 'Inflight Entertainment',
       'Value For Money', 'Overall Rating', 'Recommended'],
      dtype='object')

In [12]:
df.shape

(8100, 17)

In [11]:
from textblob import TextBlob
import csv

In [ ]:
with open('Resources/airlines_reviews.csv', 'r') as file:
    reader = csv.reader(file)
    # Skip the header row if it exists
    next(reader, None)

    # Iterate over the rows and extract the comments
    comments = [row[0] for row in reader]
    ratings = (float[row[17] for row in reader])

polarities = []
subjectivities = []

# Analyze the sentiment of each comment
for comment in comments:
    blob = TextBlob(comment)
    polarity = blob.sentiment.polarity
    subjectivity = blob.sentiment.subjectivity
    polarities.append(polarity)
    subjectivities.append(subjectivity)
    
    print(f"Comment: {comment}")
    print(f"Polarity: {polarity}")
    print(f"Subjectivity: {subjectivity}")
    print()

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(8, 6))
scatter = plt.scatter(polarities, subjectivities, c=ratings, cmap='viridis', alpha=0.5)
plt.xlabel('Polarity')
plt.ylabel('Subjectivity')
plt.title('Polarity vs. Subjectivity')
plt.show()

In [14]:
df['Name'].nunique()

6583

In [6]:
df['Title']

0                         Flight was amazing
1       seats on this aircraft are dreadful
2               Food was plentiful and tasty
3               “how much food was available
4            “service was consistently good”
                        ...
8095                    an uneventful flight
8096             Korean Air always impresses
8097                   didn’t offer anything
8098         appreciated the service onboard
8099                genuinely friendly staff
Name: Title, Length: 8100, dtype: object

In [10]:
df['Title'].value_counts()

Title
Turkish Airlines customer review    11
Qatar Airways customer review       11
worst customer service               9
a pleasant experience                9
seats were comfortable               8
                                    ..
very comfortable experience          1
not impressed by the performance     1
ANA is simply the best               1
bad communication                    1
genuinely friendly staff             1
Name: count, Length: 7614, dtype: int64

In [11]:
df['Route'].value_counts()

Route
Bangkok to Hong Kong                  24
London to Singapore                   23
Istanbul to London                    20
Bangkok to Singapore                  20
Hong Kong to Singapore                19
                                      ..
Amsterdam to Cebu via Dubai            1
Ho Chi Minh to Frankfurt via Dubai     1
Sydney to Moscow via Dubai             1
Brisbane to Madrid via Dubai           1
ICN to YYZ                             1
Name: count, Length: 5566, dtype: int64

In [13]:
df['Airline'].value_counts()

Airline
Turkish Airlines          1685
Qatar Airways             1624
Emirates                  1350
Singapore Airlines         972
Air France                 798
Cathay Pacific Airways     744
EVA Air                    281
All Nippon Airways         258
Japan Airlines             201
Korean Air                 187
Name: count, dtype: int64

In [ ]:
# keep routes & split into Origin & Destination, find coord for the locations
# Target "Recommended"
# maybe user can provide the following and 
# Type of Traveller', 'Route', 'Class', 'Seat Comfort',
# 'Staff Service', 'Food & Beverages', 'Inflight Entertainment',
# 'Value For Money