In [1]:
import csv
import sqlite3
import functions
import pandas as pd
import requests as rq
from config import api_key
# pip install geopy
import time
from math import ceil
import pickle

In [2]:
df = pickle.load(open('df.pkl','rb'))

In [3]:
df

,Airline,Month Flown,Year Flown,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended,...,Title Polarity,Title Subjectivity,Class_Business Class,Class_Economy Class,Class_First Class,Class_Premium Economy,Type of Traveller_Business,Type of Traveller_Couple Leisure,Type of Traveller_Family Leisure,Type of Traveller_Solo Leisure
0,Singapore Airlines,12,2023,4,4,4,4,4,9,1,...,0.600,0.9,True,False,False,False,False,False,False,True
1,Singapore Airlines,2,2024,5,3,4,4,1,3,0,...,-1.000,1.0,False,True,False,False,False,False,False,True
2,Singapore Airlines,2,2024,1,5,2,1,5,10,1,...,0.000,0.0,False,True,False,False,False,False,True,False
3,Singapore Airlines,2,2024,5,5,5,5,5,10,1,...,0.300,0.3,False,True,False,False,False,False,False,True
4,Singapore Airlines,2,2024,5,5,5,5,5,10,1,...,0.700,0.6,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8095,Korean Air,6,2016,5,4,5,3,4,7,1,...,0.000,0.0,False,True,False,False,True,False,False,False
8096,Korean Air,6,2016,3,5,5,4,5,10,1,...,0.000,0.0,False,True,False,False,False,True,False,False
8097,Korean Air,4,2016,4,5,5,5,1,2,0,...,0.000,0.0,True,False,False,False,True,False,False,False
8098,Korean Air,4,2016,5,1,3,4,5,10,1,...,0.200,0.1,True,False,False,False,True,False,False,False
8099,Korean Air,4,2016,3,5,3,3,5,10,1,...,0.375,0.5,True,False,False,False,True,False,False,False

In [4]:
print(f'Rows and Columns: {df.shape}')
df.columns

Rows and Columns: (7683, 31)

Index(['Airline', 'Month Flown', 'Year Flown', 'Seat Comfort', 'Staff Service',
       'Food & Beverages', 'Inflight Entertainment', 'Value For Money',
       'Overall Rating', 'Recommended', 'Origin', 'Destination', 'Via',
       'Origin_Code', 'Destination_Code', 'Via_Code', 'Origin_City',
       'Destination_City', 'Via_City', 'Comment Polarity',
       'Comment Subjectivity', 'Title Polarity', 'Title Subjectivity',
       'Class_Business Class', 'Class_Economy Class', 'Class_First Class',
       'Class_Premium Economy', 'Type of Traveller_Business',
       'Type of Traveller_Couple Leisure', 'Type of Traveller_Family Leisure',
       'Type of Traveller_Solo Leisure'],
      dtype='object')

In [7]:
values_to_drop = ['LED', 'KBL', 'IST', 'VLC', 'RZV', 'LON', 'CBU', 'SKG', 'NYC']
columns_to_check = ['Origin_Code', 'Destination_Code', 'Via_Code']

# Create a boolean mask to identify rows with values to drop
mask = df[columns_to_check].isin(values_to_drop).any(axis=1)

# Drop rows that contain the specified values
df = df[~mask]

# Display the cleaned DataFrame
df

,Airline,Month Flown,Year Flown,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended,...,Title Polarity,Title Subjectivity,Class_Business Class,Class_Economy Class,Class_First Class,Class_Premium Economy,Type of Traveller_Business,Type of Traveller_Couple Leisure,Type of Traveller_Family Leisure,Type of Traveller_Solo Leisure
0,Singapore Airlines,12,2023,4,4,4,4,4,9,1,...,0.600,0.9,True,False,False,False,False,False,False,True
1,Singapore Airlines,2,2024,5,3,4,4,1,3,0,...,-1.000,1.0,False,True,False,False,False,False,False,True
2,Singapore Airlines,2,2024,1,5,2,1,5,10,1,...,0.000,0.0,False,True,False,False,False,False,True,False
3,Singapore Airlines,2,2024,5,5,5,5,5,10,1,...,0.300,0.3,False,True,False,False,False,False,False,True
4,Singapore Airlines,2,2024,5,5,5,5,5,10,1,...,0.700,0.6,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8095,Korean Air,6,2016,5,4,5,3,4,7,1,...,0.000,0.0,False,True,False,False,True,False,False,False
8096,Korean Air,6,2016,3,5,5,4,5,10,1,...,0.000,0.0,False,True,False,False,False,True,False,False
8097,Korean Air,4,2016,4,5,5,5,1,2,0,...,0.000,0.0,True,False,False,False,True,False,False,False
8098,Korean Air,4,2016,5,1,3,4,5,10,1,...,0.200,0.1,True,False,False,False,True,False,False,False
8099,Korean Air,4,2016,3,5,3,3,5,10,1,...,0.375,0.5,True,False,False,False,True,False,False,False

In [13]:
df['Destination_Code'].nunique()

292

In [14]:
unique_codes_Origin = df['Origin_Code'].unique()
len(unique_codes_Origin)
unique_codes_Origin

array(['CGK', 'HKT', 'SAI', 'SIN', 'BWN', 'LHR', 'PER', 'MIL', 'BKK',
       'KUL', 'PEN', 'FRA', 'BNE', 'MEL', 'AKL', 'JNB', 'SYD', 'MNL',
       'BOM', 'ATH', 'CAN', 'KCZ', 'DXB', 'SFO', 'ADL', 'CPT', 'EWR',
       'HKG', 'YVR', 'PNH', 'DPS', 'HAN', 'MAN', 'JFK', 'LAX', 'SUB',
       'PAR', 'BLR', 'AMS', 'SGN', 'DAD', 'ROM', 'CCU', 'MUC', 'CMB',
       'SAO', 'KIX', 'HND', 'ZRH', 'UPG', 'AMD', 'CPH', 'PUS', 'SPK',
       'PVG', 'DEL', 'DAC', 'SEA', 'ARN', 'CHC', 'ICN', 'DUS', 'NRT',
       'WLG', 'BCN', 'TPE', 'RGN', 'DVO', 'CJB', 'MAA', 'IAH', 'CBR',
       'DME', 'MXP', 'CDG', 'FCO', 'DOH', 'ORD', 'NCE', 'TBS', 'BEY',
       'LGW', 'DFW', 'KWI', 'LUN', 'BRU', 'RUH', 'OSL', 'KTM', 'VIE',
       'BWI', 'AUH', 'EBB', 'PHL', 'WAW', 'EDI', 'GVA', 'YMQ', 'DAL',
       'MPM', 'BUH', 'DUB', 'BOS', 'MAD', 'IKA', 'SOF', 'LOS', 'PRG',
       'NBO', 'ATL', 'ALG', 'SHJ', 'MIA', 'ZAG', 'COK', 'ISB', 'ESB',
       'KGL', 'BSR', 'MLE', 'YTO', 'TUN', 'CAI', 'BJV', 'AGP', 'CTU',
       'BEG', 'DMM', 'TRV', 'CCJ', 'HEL', 'ZNZ', 'CAS', 'IEV', 'BER',
       'NJF', 'MCT', 'LHE', 'MGQ', 'EVN', 'ISU', 'LIS', 'AMM', 'ATQ',
       'BUD', 'BHX', 'PSA', 'VCE', 'GOI', 'CWL', 'SEZ', 'DAR', 'KBP',
       'SVO', 'GOT', 'SJJ', 'CRK', 'NAG', 'RAK', 'SXF', 'DUR', 'BAK',
       'SLL', 'STN', 'KHI', 'TXL', 'KBV', 'TIF', 'EZE', 'LAS', 'IAD',
       'GRU', 'TOY', 'FUK', 'IWK', 'CTS', 'OKJ', 'OKA', 'HNL', 'NGO',
       'ITM', 'HIJ', 'SHE', 'HGH', 'NGS', 'SJO', 'SEL', 'MEX', 'PEK',
       'GMP', 'TAK', 'AUS', 'BGW', 'GLA', 'BAH', 'CTA', 'MUB', 'MRU',
       'STL', 'HAM', 'NCL', 'CKY', 'MCO', 'PEW', 'BGO', 'DBV', 'TLV',
       'BLQ', 'FLL', 'KRK', 'ADD', 'MLA', 'ODS', 'KRT', 'LCA', 'DET',
       'LYS', 'SAV', 'HYD', 'OTP', 'JED', 'GIG', 'YYZ', 'AXT', 'SAN',
       'HKD', 'DLM', 'ECN', 'SKP', 'AYT', 'CLJ', 'CGN', 'PHX', 'SYZ',
       'DEN', 'SAW', 'BXH', 'SCQ', 'BOG', 'GDN', 'TNR', 'RBA', 'RDU',
       'MRS', 'ORN', 'NAP', 'SXB', 'ORY', 'CUN', 'LFW', 'PUJ', 'WAS',
       'DKR', 'FLR', 'ABV', 'BOD', 'FOR', 'BSL', 'BIA', 'FDF', 'ABZ',
       'NKC', 'HAV', 'TLS', 'NUE', 'ORK', 'FNA', 'NIM', 'OPO', 'CAY',
       'RNS', 'RIO', 'SOU', 'RUN', 'BUE', 'PPT', 'PTP', 'LJU', 'AJA',
       'DLA', 'LIM', 'STR', 'PTY', 'SXM', 'BHM', 'MSP', 'NKG', 'YXE',
       'YEA', 'CNS', 'CEB', 'SHA', 'XIY', 'HRB', 'CNX', 'KNH', 'IKT',
       'CJU', 'DLC', 'ULN'], dtype=object)

In [15]:
unique_codes_Dest = df['Destination_Code'].unique()
len(unique_codes_Dest)
unique_codes_Dest

array(['SIN', 'LHR', 'PNH', 'CNS', 'FRA', 'BWN', 'CGK', 'HND', 'HKG',
       'BKK', 'MEL', 'ADL', 'MAN', 'SYD', 'AKL', 'PER', 'PEN', 'ZAG',
       'DPS', 'LAX', 'JFK', 'DXB', 'HKT', 'FUK', 'CHC', 'PAR', 'DEL',
       'ZRH', 'KIX', 'SGN', 'MIL', 'SEA', 'JNB', 'KUL', 'MNL', 'BNE',
       'CPH', 'IAH', 'SFO', 'YTO', 'AMS', 'CPT', 'BOM', 'MUC', 'CCU',
       'SAI', 'EWR', 'MLE', 'SVO', 'DUB', 'NRT', 'TPE', 'NGO', 'USM',
       'UPG', 'CMB', 'ICN', 'HAN', 'CJB', 'TAO', 'PVG', 'TRV', 'BLR',
       'KCZ', 'CBR', 'SUB', 'PEK', 'ATH', 'ROM', 'WLG', 'DUS', 'DAC',
       'ARN', 'XMN', 'AMD', 'CAN', 'BCN', 'MAA', 'VTE', 'CDG', 'CNX',
       'DME', 'GRU', 'RGN', 'MXP', 'YMQ', 'DOH', 'JRO', 'DET', 'BSR',
       'GOI', 'BRU', 'WAW', 'SLL', 'LYS', 'BWI', 'LUN', 'KWI', 'SAO',
       'ORD', 'LGW', 'KTM', 'MCT', 'VIE', 'BAH', 'AUH', 'EDI', 'IKA',
       'BER', 'WDH', 'PHL', 'RUH', 'BGW', 'LOS', 'BUH', 'DAL', 'MAD',
       'NBO', 'SHJ', 'ISB', 'PRG', 'OSL', 'BOS', 'DMM', 'LHE', 'MIA',
       'CEB', 'CAI', 'BUD', 'ATL', 'HEL', 'BEY', 'EBB', 'SAN', 'NAG',
       'DUR', 'AMM', 'CCJ', 'SKT', 'MED', 'BAK', 'CAS', 'LCA', 'CRK',
       'JED', 'KEF', 'EVN', 'KHI', 'ZNZ', 'IAD', 'QUF', 'DFW', 'YVR',
       'COK', 'DAD', 'NJF', 'IEV', 'AYT', 'SOF', 'KGL', 'GOT', 'LGK',
       'BHX', 'MUX', 'VCE', 'NCE', 'TUN', 'ESB', 'ATQ', 'RIO', 'DAR',
       'GVA', 'CWL', 'KBP', 'BEG', 'TBS', 'CKG', 'AEX', 'TIF', 'CMN',
       'DWC', 'FCO', 'TXL', 'HYD', 'SPK', 'TSJ', 'OKA', 'WKJ', 'ITM',
       'LSG', 'MEX', 'HNL', 'AOJ', 'KUH', 'CTS', 'SJO', 'SJC', 'SEZ',
       'UEE', 'MGQ', 'CTA', 'NCL', 'GLA', 'TLV', 'MRU', 'TAS', 'MCO',
       'ALG', 'MLA', 'FRU', 'DYU', 'STN', 'LIS', 'ADD', 'ISU', 'LYP',
       'HAM', 'ABV', 'BLQ', 'EZE', 'YYZ', 'KIJ', 'PUS', 'TBZ', 'DLM',
       'IZM', 'ALA', 'SVG', 'SAW', 'STR', 'LIM', 'ABJ', 'TNG', 'PPT',
       'DEN', 'MRS', 'AJA', 'FLR', 'NKC', 'ORY', 'SFG', 'BOD', 'SCL',
       'PMI', 'MPL', 'PUJ', 'NUE', 'CKY', 'CUN', 'SXM', 'BUE', 'HAV',
       'ORK', 'RBA', 'YAO', 'DLA', 'TLS', 'NTE', 'UIO', 'BIQ', 'YYC',
       'PGF', 'FNA', 'ABZ', 'MVD', 'LFW', 'RIX', 'BIO', 'CAY', 'BKO',
       'CVG', 'NDJ', 'SOU', 'TLN', 'RUN', 'BRE', 'FSC', 'BOG', 'PTP',
       'DTW', 'GIG', 'TNR', 'NKG', 'TSA', 'KHH', 'SEL', 'CJU', 'DLC',
       'ULN', 'SHE', 'NAN', 'LAS'], dtype=object)

In [17]:
unique_codes_Origin = set(unique_codes_Origin)
unique_codes_Dest = set(unique_codes_Dest)
unique_codes = unique_codes_Origin.union(unique_codes_Dest)
unique_codes

{'ABJ',
 'ABV',
 'ABZ',
 'ADD',
 'ADL',
 'AEX',
 'AGP',
 'AJA',
 'AKL',
 'ALA',
 'ALG',
 'AMD',
 'AMM',
 'AMS',
 'AOJ',
 'ARN',
 'ATH',
 'ATL',
 'ATQ',
 'AUH',
 'AUS',
 'AXT',
 'AYT',
 'BAH',
 'BAK',
 'BCN',
 'BEG',
 'BER',
 'BEY',
 'BGO',
 'BGW',
 'BHM',
 'BHX',
 'BIA',
 'BIO',
 'BIQ',
 'BJV',
 'BKK',
 'BKO',
 'BLQ',
 'BLR',
 'BNE',
 'BOD',
 'BOG',
 'BOM',
 'BOS',
 'BRE',
 'BRU',
 'BSL',
 'BSR',
 'BUD',
 'BUE',
 'BUH',
 'BWI',
 'BWN',
 'BXH',
 'CAI',
 'CAN',
 'CAS',
 'CAY',
 'CBR',
 'CCJ',
 'CCU',
 'CDG',
 'CEB',
 'CGK',
 'CGN',
 'CHC',
 'CJB',
 'CJU',
 'CKG',
 'CKY',
 'CLJ',
 'CMB',
 'CMN',
 'CNS',
 'CNX',
 'COK',
 'CPH',
 'CPT',
 'CRK',
 'CTA',
 'CTS',
 'CTU',
 'CUN',
 'CVG',
 'CWL',
 'DAC',
 'DAD',
 'DAL',
 'DAR',
 'DBV',
 'DEL',
 'DEN',
 'DET',
 'DFW',
 'DKR',
 'DLA',
 'DLC',
 'DLM',
 'DME',
 'DMM',
 'DOH',
 'DPS',
 'DTW',
 'DUB',
 'DUR',
 'DUS',
 'DVO',
 'DWC',
 'DXB',
 'DYU',
 'EBB',
 'ECN',
 'EDI',
 'ESB',
 'EVN',
 'EWR',
 'EZE',
 'FCO',
 'FDF',
 'FLL',
 'FLR',
 'FNA',
 'FOR',
 'FRA',
 'FRU',
 'FSC',
 'FUK',
 'GDN',
 'GIG',
 'GLA',
 'GMP',
 'GOI',
 'GOT',
 'GRU',
 'GVA',
 'HAM',
 'HAN',
 'HAV',
 'HEL',
 'HGH',
 'HIJ',
 'HKD',
 'HKG',
 'HKT',
 'HND',
 'HNL',
 'HRB',
 'HYD',
 'IAD',
 'IAH',
 'ICN',
 'IEV',
 'IKA',
 'IKT',
 'ISB',
 'ISU',
 'ITM',
 'IWK',
 'IZM',
 'JED',
 'JFK',
 'JNB',
 'JRO',
 'KBP',
 'KBV',
 'KCZ',
 'KEF',
 'KGL',
 'KHH',
 'KHI',
 'KIJ',
 'KIX',
 'KNH',
 'KRK',
 'KRT',
 'KTM',
 'KUH',
 'KUL',
 'KWI',
 'LAS',
 'LAX',
 'LCA',
 'LFW',
 'LGK',
 'LGW',
 'LHE',
 'LHR',
 'LIM',
 'LIS',
 'LJU',
 'LOS',
 'LSG',
 'LUN',
 'LYP',
 'LYS',
 'MAA',
 'MAD',
 'MAN',
 'MCO',
 'MCT',
 'MED',
 'MEL',
 'MEX',
 'MGQ',
 'MIA',
 'MIL',
 'MLA',
 'MLE',
 'MNL',
 'MPL',
 'MPM',
 'MRS',
 'MRU',
 'MSP',
 'MUB',
 'MUC',
 'MUX',
 'MVD',
 'MXP',
 'NAG',
 'NAN',
 'NAP',
 'NBO',
 'NCE',
 'NCL',
 'NDJ',
 'NGO',
 'NGS',
 'NIM',
 'NJF',
 'NKC',
 'NKG',
 'NRT',
 'NTE',
 'NUE',
 'ODS',
 'OKA',
 'OKJ',
 'OPO',
 'ORD',
 'ORK',
 'ORN',
 'ORY',
 'OSL',
 'OTP',
 'PAR',
 'PEK',
 'PEN',
 'PER',
 'PEW',
 'PGF',
 'PHL',
 'PHX',
 'PMI',
 'PNH',
 'PPT',
 'PRG',
 'PSA',
 'PTP',
 'PTY',
 'PUJ',
 'PUS',
 'PVG',
 'QUF',
 'RAK',
 'RBA',
 'RDU',
 'RGN',
 'RIO',
 'RIX',
 'RNS',
 'ROM',
 'RUH',
 'RUN',
 'SAI',
 'SAN',
 'SAO',
 'SAV',
 'SAW',
 'SCL',
 'SCQ',
 'SEA',
 'SEL',
 'SEZ',
 'SFG',
 'SFO',
 'SGN',
 'SHA',
 'SHE',
 'SHJ',
 'SIN',
 'SJC',
 'SJJ',
 'SJO',
 'SKP',
 'SKT',
 'SLL',
 'SOF',
 'SOU',
 'SPK',
 'STL',
 'STN',
 'STR',
 'SUB',
 'SVG',
 'SVO',
 'SXB',
 'SXF',
 'SXM',
 'SYD',
 'SYZ',
 'TAK',
 'TAO',
 'TAS',
 'TBS',
 'TBZ',
 'TIF',
 'TLN',
 'TLS',
 'TLV',
 'TNG',
 'TNR',
 'TOY',
 'TPE',
 'TRV',
 'TSA',
 'TSJ',
 'TUN',
 'TXL',
 'UEE',
 'UIO',
 'ULN',
 'UPG',
 'USM',
 'VCE',
 'VIE',
 'VTE',
 'WAS',
 'WAW',
 'WDH',
 'WKJ',
 'WLG',
 'XIY',
 'XMN',
 'YAO',
 'YEA',
 'YMQ',
 'YTO',
 'YVR',
 'YXE',
 'YYC',
 'YYZ',
 'ZAG',
 'ZNZ',
 'ZRH'}

In [20]:
len(unique_codes)

357

In [21]:
pickle.dump(df, open('df_2.pkl','wb'))