In [1]:
import csv
import sqlite3
# import functions
import pandas as pd

In [2]:
df = pd.read_csv('Resources/airlines_reviews.csv')
df.head(2)

,Title,Name,Review Date,Airline,Verified,Reviews,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended
0,Flight was amazing,Alison Soetantyo,2024-03-01,Singapore Airlines,True,Flight was amazing. The crew onboard this fl...,Solo Leisure,December 2023,Jakarta to Singapore,Business Class,4,4,4,4,4,9,yes
1,seats on this aircraft are dreadful,Robert Watson,2024-02-21,Singapore Airlines,True,Booking an emergency exit seat still meant h...,Solo Leisure,February 2024,Phuket to Singapore,Economy Class,5,3,4,4,1,3,no

In [3]:
functions.split_to_via(df,"Route")
split_to_via(df, 'Route')

,Title,Name,Review Date,Airline,Verified,Reviews,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended,Origin,Destination,Via
0,Flight was amazing,Alison Soetantyo,2024-03-01,Singapore Airlines,True,Flight was amazing. The crew onboard this fl...,Solo Leisure,December 2023,Jakarta to Singapore,Business Class,4,4,4,4,4,9,yes,Jakarta,Singapore,None
1,seats on this aircraft are dreadful,Robert Watson,2024-02-21,Singapore Airlines,True,Booking an emergency exit seat still meant h...,Solo Leisure,February 2024,Phuket to Singapore,Economy Class,5,3,4,4,1,3,no,Phuket,Singapore,None
2,Food was plentiful and tasty,S Han,2024-02-20,Singapore Airlines,True,Excellent performance on all fronts. I would...,Family Leisure,February 2024,Siem Reap to Singapore,Economy Class,1,5,2,1,5,10,yes,Siem Reap,Singapore,None
3,“how much food was available,D Laynes,2024-02-19,Singapore Airlines,True,Pretty comfortable flight considering I was f...,Solo Leisure,February 2024,Singapore to London Heathrow,Economy Class,5,5,5,5,5,10,yes,Singapore,London Heathrow,None
4,“service was consistently good”,A Othman,2024-02-19,Singapore Airlines,True,The service was consistently good from start ...,Family Leisure,February 2024,Singapore to Phnom Penh,Economy Class,5,5,5,5,5,10,yes,Singapore,Phnom Penh,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8095,an uneventful flight,N Vickers,2016-06-20,Korean Air,True,"KE124, Brisbane to Incheon (A330) and KE867,...",Business,June 2016,BNE to ULN via ICN,Economy Class,5,4,5,3,4,7,yes,BNE,ULN,ICN
8096,Korean Air always impresses,Kim Holloway,2016-06-12,Korean Air,False,Our recent flight was our fourth trip to the...,Couple Leisure,June 2016,SYD to LHR via ICN,Economy Class,3,5,5,4,5,10,yes,SYD,LHR,ICN
8097,didn’t offer anything,C Clark,2016-06-06,Korean Air,True,I flew Korean Air from Bali to Seoul in Pres...,Business,April 2016,DPS to ICN,Business Class,4,5,5,5,1,2,no,DPS,ICN,None
8098,appreciated the service onboard,E Petan,2016-04-21,Korean Air,False,Seoul to Paris with Korean Air. I am traveli...,Business,April 2016,ICN to CDG,Business Class,5,1,3,4,5,10,yes,ICN,CDG,None
8099,genuinely friendly staff,D Lanor,2016-04-12,Korean Air,False,The 13 hour flight in Business class from Se...,Business,April 2016,ICN to YYZ,Business Class,3,5,3,3,5,10,yes,ICN,YYZ,None

In [4]:
df.tail()

,Title,Name,Review Date,Airline,Verified,Reviews,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended,Origin,Destination,Via
8095,an uneventful flight,N Vickers,2016-06-20,Korean Air,True,"KE124, Brisbane to Incheon (A330) and KE867,...",Business,June 2016,BNE to ULN via ICN,Economy Class,5,4,5,3,4,7,yes,BNE,ULN,ICN
8096,Korean Air always impresses,Kim Holloway,2016-06-12,Korean Air,False,Our recent flight was our fourth trip to the...,Couple Leisure,June 2016,SYD to LHR via ICN,Economy Class,3,5,5,4,5,10,yes,SYD,LHR,ICN
8097,didn’t offer anything,C Clark,2016-06-06,Korean Air,True,I flew Korean Air from Bali to Seoul in Pres...,Business,April 2016,DPS to ICN,Business Class,4,5,5,5,1,2,no,DPS,ICN,None
8098,appreciated the service onboard,E Petan,2016-04-21,Korean Air,False,Seoul to Paris with Korean Air. I am traveli...,Business,April 2016,ICN to CDG,Business Class,5,1,3,4,5,10,yes,ICN,CDG,None
8099,genuinely friendly staff,D Lanor,2016-04-12,Korean Air,False,The 13 hour flight in Business class from Se...,Business,April 2016,ICN to YYZ,Business Class,3,5,3,3,5,10,yes,ICN,YYZ,None

In [5]:
print(f'Rows and Columns: {df.shape}')
df.columns

Rows and Columns: (8100, 20)

Index(['Title', 'Name', 'Review Date', 'Airline', 'Verified', 'Reviews',
       'Type of Traveller', 'Month Flown', 'Route', 'Class', 'Seat Comfort',
       'Staff Service', 'Food & Beverages', 'Inflight Entertainment',
       'Value For Money', 'Overall Rating', 'Recommended', 'Origin',
       'Destination', 'Via'],
      dtype='object')

In [6]:
airport_codes = pd.read_csv('Resources/airports_utf.csv')

In [7]:
df_singapore = df[df['Origin'].str.contains('Shanghai')]
df_singapore

,Title,Name,Review Date,Airline,Verified,Reviews,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended,Origin,Destination,Via
354,service was generally good,L Tran,2019-12-02,Singapore Airlines,True,Singapore to Tokyo. I chose this particular ...,Solo Leisure,November 2019,Shanghai to Singapore,Business Class,4,5,3,5,5,9,yes,Shanghai,Singapore,None
355,most comfortable experienced,L Tran,2019-12-02,Singapore Airlines,True,Shanghai to Singapore. Shanghai is currently...,Solo Leisure,November 2019,Shanghai to Singapore,First Class,3,1,2,4,5,10,yes,Shanghai,Singapore,None
611,Singapore Airlines customer review,Jim Abarquez,2018-08-29,Singapore Airlines,True,San Francisco to Singapore. Service was grea...,Business,May 2018,Shanghai to Singapore,Business Class,5,5,5,4,5,10,yes,Shanghai,Singapore,None
797,certainly use Singapore Airlines again,Christine Fontijn,2017-05-21,Singapore Airlines,True,Sydney to Manchester via Singapore. No probl...,Couple Leisure,May 2017,Shanghai to Singapore,Business Class,4,3,2,4,5,9,yes,Shanghai,Singapore,None
2100,atrocious check-in personnel,Jomar Pires,2018-05-19,Qatar Airways,True,London to Doha. Overall the experience is gr...,Business,April 2018,Shanghai to Stockholm via Doha,Economy Class,4,5,2,5,2,7,no,Shanghai,Stockholm,Doha
2601,fail to load my check-in luggage,Q Han,2024-01-05,All Nippon Airways,True,First airline I've encountered which waited ...,Solo Leisure,November 2023,Shanghai to Haneda,Economy Class,1,3,2,2,1,1,no,Shanghai,Haneda,None
3220,found the seats very comfortable,Michael Gardiner,2020-02-12,Emirates,False,Manchester to Denpasar Bali via Dubai. A fau...,Couple Leisure,February 2020,Shanghai to Gatwick via Dubai,Business Class,5,1,4,2,4,10,yes,Shanghai,Gatwick,Dubai
3539,we were very well looked,H Becker,2018-11-29,Emirates,True,Very smooth trip from Dubai to Hamburg. Our ...,Solo Leisure,November 2018,Shanghai to Dubai,Business Class,2,3,4,2,5,10,yes,Shanghai,Dubai,None
4277,seat had no storage,M Keale,2020-01-15,Japan Airlines,True,Melbourne to Tokyo. Did not get off to a goo...,Business,January 2020,Shanghai to San Diego via Tokyo,Business Class,5,5,5,5,1,3,no,Shanghai,San Diego,Tokyo
4370,cabin temperature is just too high,David McVicar,2017-02-28,Japan Airlines,False,Tokyo Narita to Sydney. Love everything abou...,Couple Leisure,February 2017,Shanghai to Osaka,Economy Class,4,5,4,3,4,5,no,Shanghai,Osaka,None
5715,FAs need to improve their English,M LaPrairie,2018-04-14,Turkish Airlines,True,On time departure from IAD and smooth connect...,Business,April 2018,Shanghai to Paris CDG via Istanbul,Business Class,3,5,4,4,4,7,yes,Shanghai,Paris CDG,Istanbul
6119,Only one hot meal was served,Y Balsten,2023-10-30,Air France,True,The flight was on time and the Premium Econo...,Business,October 2023,Shanghai to Paris,Premium Economy,1,2,1,3,2,3,no,Shanghai,Paris,None
6610,my bags didn't arrive,Camilo Echavarria,2018-07-24,Air France,True,Business Class from Bogota to Paris. The pla...,Couple Leisure,June 2018,Shanghai to Paris CDG,Business Class,4,4,5,3,3,5,no,Shanghai,Paris CDG,None
6621,missed my connecting flight,P Dorkhir,2018-07-04,Air France,True,We were 2 passenger travelling from Dubai to...,Couple Leisure,June 2018,Shanghai to Paris,Economy Class,5,4,5,2,2,1,no,Shanghai,Paris,None
6719,cabin crews were helpful and friendly,M Gibson,2017-11-14,Air France,True,I’ve had a very good experience flying with ...,Business,October 2017,Shanghai to Paris,Economy Class,3,4,5,5,5,10,yes,Shanghai,Paris,None
7076,would not recommend this airline,Sonia Wosiek,2019-09-19,Cathay Pacific Airways,True,Shanghai to Barcelona via Hong Kong. The 1st...,Solo Leisure,September 2019,Shanghai to Barcelona via Hong Kong,Economy Class,3,3,2,3,1,1,no,Shanghai,Barcelona,Hong Kong
7332,always been a pleasant experience,H Tsang,2018-02-19,Cathay Pacific Airways,True,Whenever I fly Business with Cathay Pacific i...,Business,February 2018,Shanghai to Hong Kong,Business Class,5,4,1,3,4,9,yes,Shanghai,Hong Kong,None
7714,the seat was very comfortable,Ethan Phua,2019-11-18,EVA Air,True,Shanghai Pudong to Taipei Taoyuan. When I fou...,Family Leisure,November 2019,Shanghai Pudong to Taipei Taoyuan,Economy Class,5,5,5,1,5,8,yes,Shanghai Pudong,Taipei Taoyuan,None
7849,a very positive feedback,L Sergehk,2017-08-15,EVA Air,True,Shanghai to San Francisco via Taipei. I gene...,Business,August 2017,Shanghai to San Francisco via Taipei,Business Class,5,5,3,5,5,9,yes,Shanghai,San Francisco,Taipei

In [8]:
singapore_routes = df['Route'][df['Route'].str.contains('BK')]
singapore_routes

848                   SIN to BKK
851                   BKK to SIN
873     LAX to BKK via NRT / SIN
877                   BKK to SIN
880                   BKK to SIN
                  ...
7899          YVR to BKK via TPE
7902                  AMS to BKK
7904                  LHR to BKK
7909                  BKK to LHR
7912                  LHR to BKK
Name: Route, Length: 103, dtype: object

In [9]:
unique_singapore_origin = df['Origin'][df['Origin'].str.contains('DOH TO SOF')].unique()
unique_singapore_origin

array(['DOH TO SOF'], dtype=object)

In [10]:
def lookup_code(airport_string):
    if len(airport_string) == 3 and airport_string.isupper():
        return airport_string
    else: 
        code = airport_codes.loc[airport_codes["City"] == airport_string, "Code"]
        if code.empty:    # because .loc returns series (vs string), can't run "not code" instead run code.empty
            print(f'could not find code for {airport_string}')
            return None
        display(code)
        return code.iloc[0]

In [11]:
df.Origin.apply(lookup_code)

730    CGK
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

1589    SAI
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1589    SAI
Name: Code, dtype: object

129    BWN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1318    PEN
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1587    Southeast Asia
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

599    CAN
Name: Code, dtype: object

831    KCZ
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1318    PEN
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1593    SIN
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1334    PNH
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

414    DVO
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

626    HAN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

831    KCZ
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1666    SUB
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

131    BLR
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

653    SGN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

397    DAD
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

412    DPS
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

952    LHR
Name: Code, dtype: object

836    CCU
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

1594    SIN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

653    SGN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

626    HAN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1540    SAO
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1269    KIX
Name: Code, dtype: object

413    DPS
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1270    KIX
Name: Code, dtype: object

383    DAD
Name: Code, dtype: object

1318    PEN
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1737    HND
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1775    UPG
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

25    AMD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1589    SAI
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

655    SGN
Name: Code, dtype: object

1389    PUS
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1545    SPK
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1572    PVG
Name: Code, dtype: object

1572    PVG
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

131    BLR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

329    CHC
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

412    DPS
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

453    DUS
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

729    CGK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

329    CHC
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1270    KIX
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

655    SGN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

626    HAN
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1737    HND
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

1840    WLG
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

397    DAD
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

1903    ZRH
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1666    SUB
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

653    SGN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

599    CAN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1572    PVG
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1886    RGN
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

329    CHC
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

1840    WLG
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

414    DVO
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1840    WLG
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1840    WLG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

350    CJB
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

311    MAA
Name: Code, dtype: object

599    CAN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1666    SUB
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1666    SUB
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1156    MUC
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1903    ZRH
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1903    ZRH
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

277    CBR
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

1666    SUB
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

599    CAN
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1572    PVG
Name: Code, dtype: object

836    CCU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

453    DUS
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

453    DUS
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

408    DEL
Name: Code, dtype: object

453    DUS
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

could not find code for Chicago

1221    NCE
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1318    PEN
Name: Code, dtype: object

25    AMD
Name: Code, dtype: object

1696    TBS
Name: Code, dtype: object

could not find code for Spain

945    LON
946    YXU
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

412    DPS
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

391    DFW
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

653    SGN
Name: Code, dtype: object

454    DUS
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

655    SGN
Name: Code, dtype: object

864    KWI
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1001    SEZ
Name: Code, dtype: object

981    LUN
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1449    RUH
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

433    DOH
Name: Code, dtype: object

1275    OSL
Name: Code, dtype: object

784    KTM
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

could not find code for Washington

1306    PAR
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

479    EBB
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1332    PHL
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1830    WAW
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

710    ISB
Name: Code, dtype: object

548    GVA
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

could not find code for Chicago

434    DOH
Name: Code, dtype: object

388    DAL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

626    HAN
Name: Code, dtype: object

1029    MPM
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

731    CGK
Name: Code, dtype: object

245    BUH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

628    HRE
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1332    PHL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

1701    THR
Name: Code, dtype: object

1615    SOF
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

880    LOS
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1378    PRG
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

525    FRA
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

388    DAL
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1179    NBO
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

388    DAL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

548    GVA
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

600    GRU
Name: Code, dtype: object

654    SGN
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

49    ALG
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1575    SHJ
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

653    SGN
Name: Code, dtype: object

1894    ZAG
Name: Code, dtype: object

235    BNE
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

346    COK
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

831    KCZ
Name: Code, dtype: object

998    MAD
Name: Code, dtype: object

453    DUS
Name: Code, dtype: object

710    ISB
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

72    ANK
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

784    KTM
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

807    KGL
Name: Code, dtype: object

1332    PHL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

480    BSR
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

412    DPS
Name: Code, dtype: object

1275    OSL
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1010    MLE
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

1830    WAW
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

391    DFW
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

864    KWI
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

710    ISB
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1179    NBO
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

686    HDD
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

881    LOS
Name: Code, dtype: object

1029    MPM
Name: Code, dtype: object

1765    TUN
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

710    ISB
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

1179    NBO
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

1332    PHL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

266    CAI
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

479    EBB
Name: Code, dtype: object

1011    MLE
Name: Code, dtype: object

479    EBB
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1179    NBO
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1830    WAW
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

880    LOS
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

311    MAA
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1179    NBO
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

could not find code for Chicago

442    DUB
Name: Code, dtype: object

1332    PHL
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

204    BJV
Name: Code, dtype: object

1009    AGP
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

1830    WAW
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

310    CTU
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

293    CBU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

653    SGN
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

163    BEG
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

395    DMM
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1722    TRV
Name: Code, dtype: object

1830    WAW
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1830    WAW
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

266    CAI
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1275    OSL
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1332    PHL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

could not find code for Washington

1595    SIN
Name: Code, dtype: object

1449    RUH
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

390    DFW
Name: Code, dtype: object

710    ISB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

311    MAA
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

266    CAI
Name: Code, dtype: object

271    CCJ
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

642    HEL
Name: Code, dtype: object

1897    ZNZ
Name: Code, dtype: object

1332    PHL
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

266    CAI
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

1830    WAW
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

286    CAS
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

could not find code for Chicago

8    AUH
Name: Code, dtype: object

could not find code for Chicago

1179    NBO
Name: Code, dtype: object

864    KWI
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

could not find code for Chicago

664    HKG
Name: Code, dtype: object

1332    PHL
Name: Code, dtype: object

1179    NBO
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

could not find code for Chicago

1505    SFO
Name: Code, dtype: object

686    HDD
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

710    ISB
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

388    DAL
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

480    BSR
Name: Code, dtype: object

880    LOS
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

286    CAS
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

could not find code for Kyiv

216    BOS
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

807    KGL
Name: Code, dtype: object

784    KTM
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

could not find code for Washington

428    DAC
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1830    WAW
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1179    NBO
Name: Code, dtype: object

1011    MLE
Name: Code, dtype: object

1701    THR
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

266    CAI
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

175    BER
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1275    OSL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

could not find code for Chicago

1025    MNL
Name: Code, dtype: object

880    LOS
Name: Code, dtype: object

642    HEL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

346    COK
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

686    HDD
Name: Code, dtype: object

710    ISB
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1011    MLE
Name: Code, dtype: object

could not find code for Washington
could not find code for Chicago

710    ISB
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

391    DFW
Name: Code, dtype: object

1894    ZAG
Name: Code, dtype: object

245    BUH
Name: Code, dtype: object

388    DAL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

could not find code for Najaf

1556    SEA
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

883    LHE
Name: Code, dtype: object

could not find code for Chicago

1556    SEA
Name: Code, dtype: object

480    BSR
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

49    ALG
Name: Code, dtype: object

could not find code for Chicago

1650    ARN
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

311    MAA
Name: Code, dtype: object

could not find code for Muscat

883    LHE
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

784    KTM
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

245    BUH
Name: Code, dtype: object

1615    SOF
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1111    MGQ
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

could not find code for Zvartnots

807    KGL
Name: Code, dtype: object

could not find code for Krabi

730    CGK
Name: Code, dtype: object

1894    ZAG
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

1011    MLE
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

245    BUH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

1179    NBO
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

could not find code for Chicago

279    CPT
Name: Code, dtype: object

784    KTM
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1701    THR
Name: Code, dtype: object

480    BSR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1378    PRG
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

864    KWI
Name: Code, dtype: object

could not find code for Sulaymaniyah
could not find code for Tblisi

710    ISB
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

could not find code for Lisbon
could not find code for Amman

1087    MIL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

883    LHE
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

388    DAL
Name: Code, dtype: object

642    HEL
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

could not find code for Washington

1325    PER
Name: Code, dtype: object

784    KTM
Name: Code, dtype: object

could not find code for Chicago

945    LON
946    YXU
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

63    ATQ
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1886    RGN
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

247    BUD
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1378    PRG
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

642    HEL
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

could not find code for Amman

190    BHX
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

245    BUH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

686    HDD
Name: Code, dtype: object

could not find code for Washington

945    LON
946    YXU
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

883    LHE
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

391    DFW
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

63    ATQ
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

346    COK
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

could not find code for Kyiv

965    LAX
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

could not find code for Amman

1087    MIL
Name: Code, dtype: object

could not find code for Pisa
could not find code for Amman

25    AMD
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1275    OSL
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

1897    ZNZ
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

175    BER
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1029    MPM
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

could not find code for Venice

664    HKG
Name: Code, dtype: object

563    GOI
Name: Code, dtype: object

951    LHR
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

281    CWL
Name: Code, dtype: object

642    HEL
Name: Code, dtype: object

could not find code for Mahe

1065    MEL
Name: Code, dtype: object

1221    NCE
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

548    GVA
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

could not find code for Lisbon

134    BKK
Name: Code, dtype: object

1615    SOF
Name: Code, dtype: object

836    CCU
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

836    CCU
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

could not find code for Amman

642    HEL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

1696    TBS
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

399    DAR
Name: Code, dtype: object

could not find code for Kiev

1765    TUN
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

864    KWI
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1830    WAW
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

could not find code for Muscat

642    HEL
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

272    CCJ
Name: Code, dtype: object

could not find code for Moscow

1671    SYD
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

391    DFW
Name: Code, dtype: object

could not find code for Chicago

945    LON
946    YXU
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

831    KCZ
Name: Code, dtype: object

864    KWI
Name: Code, dtype: object

1332    PHL
Name: Code, dtype: object

626    HAN
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

563    GOI
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

1011    MLE
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

could not find code for Washington

163    BEG
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

1701    THR
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1029    MPM
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

311    MAA
Name: Code, dtype: object

1275    OSL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1565    ICN
Name: Code, dtype: object

1318    PEN
Name: Code, dtype: object

247    BUD
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

163    BEG
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

831    KCZ
Name: Code, dtype: object

could not find code for Gothenburg

1595    SIN
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

could not find code for Washington

965    LAX
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

could not find code for Washington

945    LON
946    YXU
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

175    BER
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1548    SJJ
Name: Code, dtype: object

807    KGL
Name: Code, dtype: object

1615    SOF
Name: Code, dtype: object

1696    TBS
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

388    DAL
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

686    HDD
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

247    BUD
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1179    NBO
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

388    DAL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

836    CCU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1897    ZNZ
Name: Code, dtype: object

could not find code for Clark

1671    SYD
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

807    KGL
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

could not find code for Najaf

434    DOH
Name: Code, dtype: object

642    HEL
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

277    CBR
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

281    CWL
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

could not find code for Mahé, Seychelles

434    DOH
Name: Code, dtype: object

686    HDD
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1275    OSL
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

209    BOM
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

72    ANK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1178    NAG
Name: Code, dtype: object

245    BUH
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

864    KWI
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1332    PHL
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

could not find code for Washington

864    KWI
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

could not find code for Washington

412    DPS
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

277    CBR
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1572    PVG
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

could not find code for Muscat

749    JNB
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

864    KWI
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

655    SGN
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

25    AMD
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1275    OSL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

807    KGL
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

710    ISB
Name: Code, dtype: object

could not find code for Chicago

1595    SIN
Name: Code, dtype: object

773    KHI
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Chicago

953    LHR
Name: Code, dtype: object

1696    TBS
Name: Code, dtype: object

could not find code for Venice
could not find code for Marrakech

945    LON
946    YXU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1332    PHL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

653    SGN
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

175    BER
Name: Code, dtype: object

could not find code for Washington

1029    MPM
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

391    DFW
Name: Code, dtype: object

600    GRU
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

could not find code for Berlin Tegel

1087    MIL
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

1010    MLE
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1332    PHL
Name: Code, dtype: object

could not find code for Muscat

134    BKK
Name: Code, dtype: object

could not find code for Venice

1671    SYD
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

388    DAL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

451    DUR
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

could not find code for Kiev

434    DOH
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

123    BAK
Name: Code, dtype: object

1701    THR
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1487    SLL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1615    SOF
Name: Code, dtype: object

626    HAN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Muscat

664    HKG
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

391    DFW
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

880    LOS
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

1332    PHL
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

391    DFW
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

175    BER
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

could not find code for London Heatrhow

428    DAC
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

could not find code for Berlin Tegel

16    ADL
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

could not find code for Venice

626    HAN
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

773    KHI
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

864    KWI
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

could not find code for Chicago

434    DOH
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

163    BEG
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

123    BAK
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

1615    SOF
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

655    SGN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1334    PNH
Name: Code, dtype: object

984    LXR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

266    CAI
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

could not find code for Muscat

279    CPT
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

395    DMM
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

63    ATQ
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

395    DMM
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

710    ISB
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

548    GVA
Name: Code, dtype: object

655    SGN
Name: Code, dtype: object

could not find code for Venice

1894    ZAG
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

could not find code for Washington DC

190    BHX
Name: Code, dtype: object

1575    SHJ
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

1449    RUH
Name: Code, dtype: object

1765    TUN
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Krabi

64    AMS
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1063    MED
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

1676    TIF
Name: Code, dtype: object

548    GVA
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1332    PHL
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

could not find code for doh TO sof

655    SGN
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1750    TOY
Name: Code, dtype: object

1572    PVG
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

536    FUK
Name: Code, dtype: object

1737    HND
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

could not find code for Iwakuni

1505    SFO
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

325    CTS
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

could not find code for Narita

1736    TYO
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1737    HND
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

could not find code for Chicago

1252    OKJ
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1737    HND
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

could not find code for Haneda
could not find code for Tokyo Narita

1505    SFO
Name: Code, dtype: object

could not find code for Haneda
could not find code for Washington

134    BKK
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

could not find code for Haneda

134    BKK
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

could not find code for Okinawa Naha

1270    KIX
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago
could not find code for Tokyo Narita

852    KUL
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

could not find code for Tokyo Narita

730    CGK
Name: Code, dtype: object

could not find code for Tokyo Narita (NRT)

730    CGK
Name: Code, dtype: object

could not find code for Tokyo Narita

1736    TYO
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

536    FUK
Name: Code, dtype: object

could not find code for Narita
could not find code for Okinawa

852    KUL
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

could not find code for Haneda

655    SGN
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

667    HNL
Name: Code, dtype: object

could not find code for Nagoya
could not find code for Itami

1736    TYO
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

1737    HND
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

could not find code for Tokyo ta

134    BKK
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

653    SGN
Name: Code, dtype: object

could not find code for Okinawa

1025    MNL
Name: Code, dtype: object

1737    HND
Name: Code, dtype: object

1886    RGN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1737    HND
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

could not find code for Hiroshima

965    LAX
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

could not find code for Tokyo-Haneda

1736    TYO
Name: Code, dtype: object

could not find code for Chicago

1737    HND
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1737    HND
Name: Code, dtype: object

could not find code for Naha

134    BKK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1579    SHE
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1737    HND
Name: Code, dtype: object

1334    PNH
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

could not find code for Chicago

667    HNL
Name: Code, dtype: object

1737    HND
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

could not find code for Hangzhou

730    CGK
Name: Code, dtype: object

1737    HND
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

could not find code for Hiroshima
could not find code for Chicago

1737    HND
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

could not find code for Haneda

1209    NYC
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1270    KIX
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1737    HND
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

could not find code for Chicago

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Washington

208    BOM
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

could not find code for Haneda

524    FRA
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

could not find code for New Chitose (Sapporo)

524    FRA
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

could not find code for Washington

852    KUL
Name: Code, dtype: object

1737    HND
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1270    KIX
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

could not find code for Washington Dulles

852    KUL
Name: Code, dtype: object

1176    NGS
Name: Code, dtype: object

could not find code for Nagoya

664    HKG
Name: Code, dtype: object

could not find code for Tokyo Narita

134    BKK
Name: Code, dtype: object

1507    SJO
Name: Code, dtype: object

1737    HND
Name: Code, dtype: object

could not find code for Kansai

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

could not find code for Seoul Gimpo

852    KUL
Name: Code, dtype: object

1334    PNH
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

209    BOM
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1737    HND
Name: Code, dtype: object

1176    NGS
Name: Code, dtype: object

could not find code for Tokyo Narita

1736    TYO
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1270    KIX
Name: Code, dtype: object

could not find code for Haneda

664    HKG
Name: Code, dtype: object

could not find code for Washington

1078    MEX
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1252    OKJ
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

could not find code for Sapporo New Chitose
could not find code for Haneda

852    KUL
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

155    PEK
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

could not find code for IAh

134    BKK
Name: Code, dtype: object

could not find code for London Stansted

1306    PAR
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

could not find code for Baghdad

236    BNE
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

951    LHR
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

559    GLA
Name: Code, dtype: object

1275    OSL
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

559    GLA
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

329    CHC
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

291    CTA
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1054    MUB
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

653    SGN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

could not find code for Mauritius

440    DXB
Name: Code, dtype: object

451    DUR
Name: Code, dtype: object

311    MAA
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1221    NCE
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

could not find code for Tokyo Narita

1157    MUC
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

could not find code for St Louis

190    BHX
Name: Code, dtype: object

559    GLA
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

could not find code for Amman

1204    JFK
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

could not find code for Trivandrum
could not find code for Lisbon
could not find code for Hamburg

236    BNE
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

831    KCZ
Name: Code, dtype: object

1378    PRG
Name: Code, dtype: object

346    COK
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1212    NCS
1213    NCL
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

could not find code for Mauritius

208    BOM
Name: Code, dtype: object

266    CAI
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1830    WAW
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

951    LHR
Name: Code, dtype: object

864    KWI
Name: Code, dtype: object

could not find code for Kempegowda Bengaluru

440    DXB
Name: Code, dtype: object

could not find code for St Petersburg

1021    MAN
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

773    KHI
Name: Code, dtype: object

could not find code for Chicago

836    CCU
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

could not find code for United States

948    LGW
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

361    CKY
Name: Code, dtype: object

408    DEL
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

could not find code for Tokyo Narita

428    DAC
Name: Code, dtype: object

could not find code for Orlando

1087    MIL
Name: Code, dtype: object

412    DPS
Name: Code, dtype: object

1212    NCS
1213    NCL
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

could not find code for Tokyo Narita

134    BKK
Name: Code, dtype: object

948    LGW
Name: Code, dtype: object

1329    PEW
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

could not find code for Venice

440    DXB
Name: Code, dtype: object

311    MAA
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

948    LGW
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

412    DPS
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

831    KCZ
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

559    GLA
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

131    BLR
Name: Code, dtype: object

388    DAL
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

could not find code for Stansted

1902    ZRH
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

391    DFW
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

could not find code for Adélaïde

121    BAH
Name: Code, dtype: object

1449    RUH
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

346    COK
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

could not find code for Lisbon

440    DXB
Name: Code, dtype: object

831    KCZ
Name: Code, dtype: object

174    BGO
Name: Code, dtype: object

444    DBV
Name: Code, dtype: object

395    DMM
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

could not find code for Washington
could not find code for Washington

655    SGN
Name: Code, dtype: object

1540    SAO
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

836    CCU
Name: Code, dtype: object

346    COK
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

could not find code for Mauritius

1209    NYC
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

948    LGW
Name: Code, dtype: object

could not find code for Lisbon

440    DXB
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

388    DAL
Name: Code, dtype: object

1701    THR
Name: Code, dtype: object

773    KHI
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

773    KHI
Name: Code, dtype: object

could not find code for Chicago

134    BKK
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

could not find code for Johannesbug

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Amman

1449    RUH
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

388    DAL
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1179    NBO
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

773    KHI
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1011    MLE
Name: Code, dtype: object

could not find code for Chicago

1902    ZRH
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

1179    NBO
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Washington

100    ATH
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1703    TLV
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1002    SEZ
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

1011    MLE
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

could not find code for Mexico

279    CPT
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

could not find code for Tunisia

440    DXB
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

could not find code for Chicago

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

could not find code for Orlando

1743    YTO
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

could not find code for Chicago

440    DXB
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

831    KCZ
Name: Code, dtype: object

710    ISB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

266    CAI
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

207    BLQ
Name: Code, dtype: object

293    CBU
Name: Code, dtype: object

could not find code for Chicago

236    BNE
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Chicago
could not find code for Bruxelles

108    AKL
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

could not find code for Fort Lauderdale

407    DEL
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

could not find code for Mauritius

1736    TYO
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Saint-Petersburg

1903    ZRH
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

311    MAA
Name: Code, dtype: object

653    SGN
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

653    SGN
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

could not find code for Washington

1021    MAN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

could not find code for London Stansted
could not find code for Orlando

311    MAA
Name: Code, dtype: object

655    SGN
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1011    MLE
Name: Code, dtype: object

1572    PVG
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

836    CCU
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

209    BOM
Name: Code, dtype: object

could not find code for Venice

279    CPT
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1701    THR
Name: Code, dtype: object

could not find code for Chicago

134    BKK
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

could not find code for Hamburg

440    DXB
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

could not find code for Stansted

664    HKG
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for Lisbon

664    HKG
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

266    CAI
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

could not find code for Muscat

852    KUL
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

could not find code for Amman

440    DXB
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

388    DAL
Name: Code, dtype: object

could not find code for Trivandrum

1087    MIL
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

981    LUN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

559    GLA
Name: Code, dtype: object

836    CCU
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

784    KTM
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1449    RUH
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

710    ISB
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1011    MLE
Name: Code, dtype: object

could not find code for New Dehli

190    BHX
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

could not find code for Trivandrum

64    AMS
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

412    DPS
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

311    MAA
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

1212    NCS
1213    NCL
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

329    CHC
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

1306    PAR
Name: Code, dtype: object

could not find code for Detroit
could not find code for Chicago

100    ATH
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

175    BER
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

could not find code for Milan Malpensa

1209    NYC
Name: Code, dtype: object

could not find code for Ercan

852    KUL
Name: Code, dtype: object

247    BUD
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

72    ANK
Name: Code, dtype: object

864    KWI
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

77    AYT
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Chicago

713    IST
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1894    ZAG
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

784    KTM
Name: Code, dtype: object

could not find code for Washington

1081    MIA
Name: Code, dtype: object

could not find code for Teheran

1696    TBS
Name: Code, dtype: object

245    BUH
Name: Code, dtype: object

245    BUH
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

could not find code for India
could not find code for Panama

713    IST
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

864    KWI
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Venice

1204    JFK
Name: Code, dtype: object

784    KTM
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

could not find code for Washington

442    DUB
Name: Code, dtype: object

1378    PRG
Name: Code, dtype: object

could not find code for Washington

713    IST
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

773    KHI
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

773    KHI
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

175    BER
Name: Code, dtype: object

385    DLM
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

could not find code for Kazakhstan

1615    SOF
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

could not find code for Cluj-Napoca

216    BOS
Name: Code, dtype: object

could not find code for Hamburg

713    IST
Name: Code, dtype: object

could not find code for Kiev

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Washington

880    LOS
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Sochi
could not find code for Saint Petersburg
could not find code for Washington tyo Tehran

1111    MGQ
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1701    THR
Name: Code, dtype: object

388    DAL
Name: Code, dtype: object

1009    AGP
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

773    KHI
Name: Code, dtype: object

1701    THR
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

883    LHE
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

388    DAL
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago

1275    OSL
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

391    DFW
Name: Code, dtype: object

could not find code for Almaty

1025    MNL
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago

713    IST
Name: Code, dtype: object

385    DLM
Name: Code, dtype: object

438    DLA
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

492    LYP
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

977    MLA
Name: Code, dtype: object

could not find code for Chicago

642    HEL
Name: Code, dtype: object

could not find code for Chicago

1081    MIA
Name: Code, dtype: object

could not find code for Panama City

440    DXB
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1765    TUN
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1696    TBS
Name: Code, dtype: object

could not find code for Chicago
could not find code for Marrakesh
could not find code for Toulouse
could not find code for MIami
could not find code for Parisnto Kiev
could not find code for Washington

440    DXB
Name: Code, dtype: object

146    BSL
Name: Code, dtype: object

391    DFW
Name: Code, dtype: object

could not find code for İzmir

100    ATH
Name: Code, dtype: object

could not find code for Odesa

672    IAH
Name: Code, dtype: object

266    CAI
Name: Code, dtype: object

388    DAL
Name: Code, dtype: object

883    LHE
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

could not find code for Washington

713    IST
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

266    CAI
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1044    MRS
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

175    BER
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

could not find code for Chicago O'Hare

713    IST
Name: Code, dtype: object

175    BER
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

1696    TBS
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

could not find code for Kyiv

368    CPH
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1693    TAS
Name: Code, dtype: object

could not find code for Odesa

713    IST
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

could not find code for Bishkek

100    ATH
Name: Code, dtype: object

883    LHE
Name: Code, dtype: object

1830    WAW
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1615    SOF
Name: Code, dtype: object

1894    ZAG
Name: Code, dtype: object

could not find code for Baghdad

713    IST
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1830    WAW
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

354    CGN
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

could not find code for Mexico

100    ATH
Name: Code, dtype: object

could not find code for Phoenix

77    AYT
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

941    LJU
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

773    KHI
Name: Code, dtype: object

245    BUH
Name: Code, dtype: object

1011    MLE
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

983    LUX
Name: Code, dtype: object

548    GVA
Name: Code, dtype: object

344    CLJ
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

could not find code for Kiyv

216    BOS
Name: Code, dtype: object

1220    NIM
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

could not find code for Chicago

928    LIM
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

773    KHI
Name: Code, dtype: object

could not find code for Washington
could not find code for Chicago

440    DXB
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

1696    TBS
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

354    CGN
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

1248    ODS
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1701    THR
Name: Code, dtype: object

could not find code for İstanbul

713    IST
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1863    VNO
Name: Code, dtype: object

could not find code for Moscow

1743    YTO
Name: Code, dtype: object

757    KBL
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

1111    MGQ
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

757    KBL
Name: Code, dtype: object

could not find code for Huston

713    IST
Name: Code, dtype: object

977    MLA
Name: Code, dtype: object

1703    TLV
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

773    KHI
Name: Code, dtype: object

15    ADD
Name: Code, dtype: object

399    DAR
Name: Code, dtype: object

15    ADD
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

802    KRT
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1701    THR
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1248    ODS
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Lviv

1081    MIA
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

680    HRG
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

883    LHE
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

941    LJU
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

600    GRU
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1582    SYZ
Name: Code, dtype: object

could not find code for Turkey

713    IST
Name: Code, dtype: object

77    AYT
Name: Code, dtype: object

987    LYS
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

146    BSL
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

883    LHE
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago

713    IST
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

1011    MLE
Name: Code, dtype: object

could not find code for Chicago

713    IST
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

883    LHE
Name: Code, dtype: object

880    LOS
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

could not find code for Moscow
could not find code for ISTANBUL

1144    VKO
Name: Code, dtype: object

13    ACC
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

864    KWI
Name: Code, dtype: object

864    KWI
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Istambul

664    HKG
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Moscow
could not find code for Moscow

1902    ZRH
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

883    LHE
Name: Code, dtype: object

293    CBU
Name: Code, dtype: object

175    BER
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Chicago

713    IST
Name: Code, dtype: object

could not find code for Washington DC

428    DAC
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

72    ANK
Name: Code, dtype: object

could not find code for Moscow

1021    MAN
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Denver

664    HKG
Name: Code, dtype: object

1693    TAS
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Panama City

266    CAI
Name: Code, dtype: object

1658    STR
Name: Code, dtype: object

1540    SAO
Name: Code, dtype: object

could not find code for Chicago

945    LON
946    YXU
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

72    ANK
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

790    ASR
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1002    SEZ
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1640    LED
Name: Code, dtype: object

205    BOG
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

977    MLA
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1658    STR
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

784    KTM
Name: Code, dtype: object

could not find code for Chicago

713    IST
Name: Code, dtype: object

1011    MLE
Name: Code, dtype: object

642    HEL
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

384    DKR
Name: Code, dtype: object

1693    TAS
Name: Code, dtype: object

1378    PRG
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

395    DMM
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

399    DAR
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

266    CAI
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

123    BAK
Name: Code, dtype: object

1777    ULN
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Milano

77    AYT
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Lisbon

672    IAH
Name: Code, dtype: object

977    MLA
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1009    AGP
Name: Code, dtype: object

680    HRG
Name: Code, dtype: object

883    LHE
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

657    SGN
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

354    CGN
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

123    BAK
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

could not find code for Washington

1081    MIA
Name: Code, dtype: object

could not find code for Chicago

266    CAI
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1894    ZAG
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

could not find code for Lisbon

1743    YTO
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Chicago

266    CAI
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1615    SOF
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

791    ASR
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Washington

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

1243    NUE
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

385    DLM
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

could not find code for Lvov

713    IST
Name: Code, dtype: object

could not find code for İstanbul

72    ANK
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Mauritius

713    IST
Name: Code, dtype: object

could not find code for Kiev

713    IST
Name: Code, dtype: object

could not find code for İstanbul

950    LGW
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

204    BJV
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Amman

1902    ZRH
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

843    KSC
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

247    BUD
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1607    SKP
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

840    KYA
Name: Code, dtype: object

247    BUD
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

395    DMM
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1615    SOF
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1830    WAW
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

948    LGW
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

204    BJV
Name: Code, dtype: object

could not find code for Kinshasa

1378    PRG
Name: Code, dtype: object

773    KHI
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

15    ADD
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

453    DUS
Name: Code, dtype: object

14    ADA
Name: Code, dtype: object

1703    TLV
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

could not find code for Havana

395    DMM
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

791    ASR
Name: Code, dtype: object

could not find code for Kiev

945    LON
946    YXU
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

could not find code for Alexandria

713    IST
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

791    ASR
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1703    TLV
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

13    ACC
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Kiev
could not find code for Kiev

713    IST
Name: Code, dtype: object

1703    TLV
Name: Code, dtype: object

784    KTM
Name: Code, dtype: object

could not find code for Moscow

15    ADD
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

807    KGL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

434    DOH
Name: Code, dtype: object

could not find code for Chișinău
could not find code for Chisinau

407    DEL
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

could not find code for Mombasa

945    LON
946    YXU
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

could not find code for Washington Dulles

208    BOM
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

146    BSL
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

could not find code for Venice

1209    NYC
Name: Code, dtype: object

1701    THR
Name: Code, dtype: object

163    BEG
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

1693    TAS
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Nakhchivan

953    LHR
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

718    IZM
Name: Code, dtype: object

408    DEL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

123    BAK
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

784    KTM
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

599    CAN
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

880    LOS
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1378    PRG
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Venice

1595    SIN
Name: Code, dtype: object

642    HEL
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

680    HRG
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

626    HAN
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

72    ANK
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

987    LYS
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

1179    NBO
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

802    KRT
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

642    HEL
Name: Code, dtype: object

385    DLM
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1009    AGP
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1029    MPM
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

175    BER
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

1703    TLV
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

1002    SEZ
Name: Code, dtype: object

784    KTM
Name: Code, dtype: object

could not find code for Sharm el Sheikh

713    IST
Name: Code, dtype: object

1703    TLV
Name: Code, dtype: object

123    BAK
Name: Code, dtype: object

1540    SAO
Name: Code, dtype: object

could not find code for İstanbul

1743    YTO
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

1693    TAS
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Alexandria

208    BOM
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Kilaminjaro

1650    ARN
Name: Code, dtype: object

883    LHE
Name: Code, dtype: object

451    DUR
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

could not find code for Tirana

279    CPT
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1449    RUH
Name: Code, dtype: object

163    BEG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

could not find code for Washington

802    KRT
Name: Code, dtype: object

175    BER
Name: Code, dtype: object

948    LGW
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

could not find code for Chicago

945    LON
946    YXU
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Istanbul Atatürk

713    IST
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

72    ANK
Name: Code, dtype: object

72    ANK
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

718    IZM
Name: Code, dtype: object

1703    TLV
Name: Code, dtype: object

718    IZM
Name: Code, dtype: object

266    CAI
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

354    CGN
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

1378    PRG
Name: Code, dtype: object

883    LHE
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

could not find code for Lvov

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Lisbon

155    PEK
Name: Code, dtype: object

could not find code for Yaoundé

713    IST
Name: Code, dtype: object

344    CLJ
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1894    ZAG
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

could not find code for Kiev

1792    VLC
1793    VLN
Name: Code, dtype: object

could not find code for Venice
could not find code for Gothenburg

385    DLM
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

77    AYT
Name: Code, dtype: object

could not find code for Venice

77    AYT
Name: Code, dtype: object

6    ABJ
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Washington

434    DOH
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

428    DAC
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1903    ZRH
Name: Code, dtype: object

175    BER
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

883    LHE
Name: Code, dtype: object

444    DBV
Name: Code, dtype: object

951    LHR
Name: Code, dtype: object

1009    AGP
Name: Code, dtype: object

187    BLL
Name: Code, dtype: object

948    LGW
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

could not find code for Detroit

1209    NYC
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

773    KHI
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1701    THR
Name: Code, dtype: object

1442    RIX
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

could not find code for Washington

945    LON
946    YXU
Name: Code, dtype: object

883    LHE
Name: Code, dtype: object

245    BUH
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Moscow

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Kinshasa

1449    RUH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

280    CCS
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1703    TLV
Name: Code, dtype: object

791    ASR
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

175    BER
Name: Code, dtype: object

could not find code for Washington

941    LJU
Name: Code, dtype: object

could not find code for Calgary
could not find code for Minsk

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

49    ALG
Name: Code, dtype: object

1894    ZAG
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

could not find code for Oporto

1595    SIN
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

could not find code for Toulouse

1081    MIA
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago

713    IST
Name: Code, dtype: object

1002    SEZ
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1111    MGQ
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1378    PRG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Hamburg

1209    NYC
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

could not find code for Pisa
could not find code for Chicago
could not find code for Chicago

208    BOM
Name: Code, dtype: object

77    AYT
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

could not find code for Muscat

216    BOS
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

453    DUS
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

454    DUS
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1385    PRN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

791    ASR
Name: Code, dtype: object

could not find code for Washington

266    CAI
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

155    PEK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1449    RUH
Name: Code, dtype: object

1572    PVG
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

could not find code for Mauritius

718    IZM
Name: Code, dtype: object

175    BER
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

245    BUH
Name: Code, dtype: object

could not find code for Moscow

713    IST
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1703    TLV
Name: Code, dtype: object

could not find code for Gothenburg

163    BEG
Name: Code, dtype: object

could not find code for Thessaloniki
could not find code for Chicago

1650    ARN
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

1696    TBS
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

843    KSC
Name: Code, dtype: object

could not find code for Chicago

713    IST
Name: Code, dtype: object

could not find code for Napoli

945    LON
946    YXU
Name: Code, dtype: object

941    LJU
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

could not find code for İstanbul
could not find code for Washington

1157    MUC
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

548    GVA
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

864    KWI
Name: Code, dtype: object

1063    MED
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

could not find code for Mombasa

713    IST
Name: Code, dtype: object

1011    MLE
Name: Code, dtype: object

13    ACC
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

642    HEL
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

791    ASR
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

247    BUD
Name: Code, dtype: object

784    KTM
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

77    AYT
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

249    BUE
Name: Code, dtype: object

could not find code for Washington

713    IST
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Mashad

524    FRA
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

1703    TLV
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Giresun
could not find code for Mauritius

1209    NYC
Name: Code, dtype: object

77    AYT
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Was

1743    YTO
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

354    CGN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

249    BUE
Name: Code, dtype: object

395    DMM
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1378    PRG
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

could not find code for Chicago

1179    NBO
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

385    DLM
Name: Code, dtype: object

187    BLL
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

49    ALG
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1275    OSL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

could not find code for Moscow

713    IST
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1703    TLV
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

155    PEK
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

1442    RIX
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

266    CAI
Name: Code, dtype: object

864    KWI
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1548    SJJ
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Venice
could not find code for Cluj-Napoca
could not find code for Tallin
could not find code for Kiev

190    BHX
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1696    TBS
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1703    TLV
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

784    KTM
Name: Code, dtype: object

could not find code for Moscow

1902    ZRH
Name: Code, dtype: object

163    BEG
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

could not find code for Dushanbe

139    BCN
140    BLA
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

205    BOG
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

could not find code for IA
could not find code for BXH toCPT

1306    PAR
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

205    BOG
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

could not find code for Haneda

247    BUD
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

655    SGN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Dallas Fort-Worth

546    GDN
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for Venice

1465    ROM
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Chicago

1306    PAR
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for Antanarivo

1306    PAR
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

1572    PVG
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1275    OSL
Name: Code, dtype: object

207    BLQ
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

could not find code for Rabat

945    LON
946    YXU
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for Haneda
could not find code for Raleigh Durham

1306    PAR
Name: Code, dtype: object

could not find code for París CDG

1209    NYC
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

1044    MRS
Name: Code, dtype: object

286    CAS
Name: Code, dtype: object

could not find code for Lisbon

1902    ZRH
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

could not find code for Kansai

1044    MRS
Name: Code, dtype: object

could not find code for Dallas Fort-Worth

208    BOM
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

could not find code for Oran

1378    PRG
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

1044    MRS
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

408    DEL
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1378    PRG
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1185    NAP
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

could not find code for Strasbourg

1204    JFK
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

could not find code for Paris Orly
could not find code for Marseilles

216    BOS
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1507    SJO
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

278    CUN
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

247    BUD
Name: Code, dtype: object

453    DUS
Name: Code, dtype: object

928    LIM
Name: Code, dtype: object

could not find code for Paris Orly

205    BOG
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

987    LYS
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

944    LFW
Name: Code, dtype: object

278    CUN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1507    SJO
Name: Code, dtype: object

461    EDI
Name: Code, dtype: object

could not find code for Hamburg

1306    PAR
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

could not find code for Chicago

1021    MAN
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1078    MEX
Name: Code, dtype: object

1402    PUJ
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

454    DUS
Name: Code, dtype: object

could not find code for Paris Orly
could not find code for Mauritius

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

245    BUH
Name: Code, dtype: object

could not find code for Washington

205    BOG
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for New U=York

1209    NYC
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Hamburg

104    ATL
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

361    CKY
Name: Code, dtype: object

could not find code for Montréal

1306    PAR
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1760    TRD
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

245    BUH
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for Orlando

1209    NYC
Name: Code, dtype: object

could not find code for Washington

1306    PAR
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1834    WAS
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1044    MRS
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

388    DAL
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

could not find code for Senegal

1185    NAP
Name: Code, dtype: object

987    LYS
Name: Code, dtype: object

could not find code for Lisbon

175    BER
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1179    NBO
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

could not find code for Firenze

1129    YMQ
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1270    KIX
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for Washington

749    JNB
Name: Code, dtype: object

175    BER
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

548    GVA
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

could not find code for Paris, France

361    CKY
Name: Code, dtype: object

could not find code for Abuja

1306    PAR
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1703    TLV
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

361    CKY
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

could not find code for Detroit

245    BUH
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1765    TUN
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

247    BUD
Name: Code, dtype: object

could not find code for Washington

1221    NCE
Name: Code, dtype: object

could not find code for Colombo, Sri Lanka

1306    PAR
Name: Code, dtype: object

213    BOD
Name: Code, dtype: object

could not find code for Chicago

1465    ROM
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

361    CKY
Name: Code, dtype: object

could not find code for Mosco

953    LHR
Name: Code, dtype: object

could not find code for Washington

1087    MIL
Name: Code, dtype: object

1765    TUN
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for San José

139    BCN
140    BLA
Name: Code, dtype: object

521    FOR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

could not find code for Washington

1021    MAN
Name: Code, dtype: object

could not find code for Lisbon

64    AMS
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for Washington

965    LAX
Name: Code, dtype: object

could not find code for Moscow
could not find code for Chicago

440    DXB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

could not find code for Bangkok,

1307    CDG
Name: Code, dtype: object

1696    TBS
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

146    BSL
Name: Code, dtype: object

1179    NBO
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

713    IST
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1894    ZAG
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

could not find code for Marseilles
could not find code for Georgia

149    BIA
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for Kiev

965    LAX
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

1615    SOF
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

266    CAI
Name: Code, dtype: object

1275    OSL
Name: Code, dtype: object

could not find code for Marrakech

965    LAX
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

509    FDF
Name: Code, dtype: object

could not find code for Hamburg

64    AMS
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

207    BLQ
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1378    PRG
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1378    PRG
Name: Code, dtype: object

could not find code for Detroit

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for Salt Lake City

4    ABZ
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

could not find code for Bogotá

1021    MAN
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

4    ABZ
Name: Code, dtype: object

245    BUH
Name: Code, dtype: object

1078    MEX
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

504    FLR
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

could not find code for Lisbon

146    BSL
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1212    NCS
1213    NCL
Name: Code, dtype: object

205    BOG
Name: Code, dtype: object

987    LYS
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

could not find code for Venice

190    BHX
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1237    NKC
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Kiev

1307    CDG
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

could not find code for Mauritius

1306    PAR
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for Havana

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for Toulouse

1157    MUC
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

509    FDF
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

146    BSL
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

1378    PRG
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

131    BLR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

could not find code for Papeete

655    SGN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1830    WAW
Name: Code, dtype: object

1078    MEX
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for Nuremburg

440    DXB
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Cancún

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1078    MEX
Name: Code, dtype: object

373    ORK
Name: Code, dtype: object

530    FNA
Name: Code, dtype: object

205    BOG
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

530    FNA
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

278    CUN
Name: Code, dtype: object

could not find code for Moscow

1306    PAR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1378    PRG
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1220    NIM
Name: Code, dtype: object

1371    OPO
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

292    CAY
Name: Code, dtype: object

could not find code for Paris Orly

1306    PAR
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1701    THR
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

49    ALG
Name: Code, dtype: object

could not find code for Mauritius

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Mauritius
could not find code for Washington

1081    MIA
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for Detroit

1505    SFO
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for Washington
could not find code for San Diego

1432    RNS
Name: Code, dtype: object

158    BEY
Name: Code, dtype: object

could not find code for Washington

1306    PAR
Name: Code, dtype: object

163    BEG
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1212    NCS
1213    NCL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

205    BOG
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1572    PVG
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1221    NCE
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1572    PVG
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1703    TLV
Name: Code, dtype: object

could not find code for Mauritius

1306    PAR
Name: Code, dtype: object

1081    MIA
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

548    GVA
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

453    DUS
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

530    FNA
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

could not find code for Paris Orly

999    MAD
Name: Code, dtype: object

247    BUD
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

1446    RIO
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

286    CAS
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1221    NCE
Name: Code, dtype: object

could not find code for Geneva and Paris CDG

1012    MLE
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for Chicago

945    LON
946    YXU
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

could not find code for Moscow

1306    PAR
Name: Code, dtype: object

could not find code for Southampton
could not find code for Lisbon

100    ATH
Name: Code, dtype: object

could not find code for Orly
could not find code for Reunion

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1185    NAP
Name: Code, dtype: object

951    LHR
Name: Code, dtype: object

249    BUE
Name: Code, dtype: object

could not find code for Berlin TXL

1306    PAR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Lisbon
could not find code for Tel Avivi

279    CPT
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

could not find code for Hamburg

953    LHR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1221    NCE
Name: Code, dtype: object

205    BOG
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Papeete

999    MAD
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

could not find code for Hamburg

945    LON
946    YXU
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1572    PVG
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

could not find code for Paris Orly

292    CAY
Name: Code, dtype: object

could not find code for Paris-Orly

64    AMS
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

205    BOG
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

131    BLR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

266    CAI
Name: Code, dtype: object

could not find code for Point-a-Pitre

1306    PAR
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

could not find code for Ljubliana

1306    PAR
Name: Code, dtype: object

987    LYS
Name: Code, dtype: object

243    BRU
Name: Code, dtype: object

1157    MUC
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

26    AJA
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

504    FLR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

213    BOD
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

504    FLR
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

could not find code for Washington

1306    PAR
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1615    SOF
Name: Code, dtype: object

1378    PRG
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

could not find code for Cameroon

1307    CDG
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1540    SAO
Name: Code, dtype: object

453    DUS
Name: Code, dtype: object

928    LIM
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1212    NCS
1213    NCL
Name: Code, dtype: object

368    CPH
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1270    KIX
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1650    ARN
Name: Code, dtype: object

504    FLR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1830    WAW
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

190    BHX
Name: Code, dtype: object

1658    STR
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1044    MRS
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

155    PEK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

could not find code for Kansa

953    LHR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

could not find code for Chicago

1209    NYC
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1270    KIX
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

626    HAN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

536    FUK
Name: Code, dtype: object

could not find code for Narita

664    HKG
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

1087    MIL
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

could not find code for Kaohsiung

664    HKG
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

could not find code for Nanjing

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

could not find code for Kansai

1325    PER
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

310    CTU
Name: Code, dtype: object

1550    YXE
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

293    CBU
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1545    SPK
Name: Code, dtype: object

155    PEK
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

653    SGN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

462    YEA
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

could not find code for Chicago

664    HKG
Name: Code, dtype: object

462    YEA
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

155    PEK
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

311    MAA
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

442    DUB
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

could not find code for Washington DC

1902    ZRH
Name: Code, dtype: object

1572    PVG
Name: Code, dtype: object

293    CBU
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

293    CBU
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

655    SGN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

414    DVO
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

could not find code for Washington

139    BCN
140    BLA
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

999    MAD
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

265    CNS
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

could not find code for Haikou

1325    PER
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

293    CBU
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

356    CMB
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1270    KIX
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

could not find code for Kaohsiung

1736    TYO
Name: Code, dtype: object

279    CPT
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

293    CBU
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1564    ICN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

311    MAA
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

could not find code for Chicago

1207    EWR
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

311    MAA
Name: Code, dtype: object

could not find code for Washington
could not find code for Nagoya

1903    ZRH
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

155    PEK
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1564    ICN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1666    SUB
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1465    ROM
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

653    SGN
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

453    DUS
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

could not find code for Hkg

1025    MNL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

1325    PER
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

311    MAA
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

could not find code for Denpasar Bali

664    HKG
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

948    LGW
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1572    PVG
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

407    DEL
Name: Code, dtype: object

655    SGN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

could not find code for Seoul Incheaon

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

311    MAA
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1270    KIX
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

could not find code for Kansai

664    HKG
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1021    MAN
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

412    DPS
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1207    EWR
Name: Code, dtype: object

216    BOS
Name: Code, dtype: object

could not find code for Kansai

134    BKK
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

653    SGN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

453    DUS
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

could not find code for Kansai

664    HKG
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

1270    KIX
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

749    JNB
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

950    LGW
Name: Code, dtype: object

1307    CDG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

1902    ZRH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1065    MEL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1564    ICN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

could not find code for Chicago

664    HKG
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

155    PEK
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

655    SGN
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

293    CBU
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

951    LHR
Name: Code, dtype: object

1903    ZRH
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

836    CCU
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1318    PEN
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

could not find code for Tokyo Narita

1025    MNL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

155    PEK
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

could not find code for BA
could not find code for Xi'an

1856    VIE
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

657    SGN
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Taipei Taoyuan Airport

1856    VIE
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago

462    YEA
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1856    VIE
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

could not find code for Harbin

134    BKK
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

155    PEK
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1270    KIX
Name: Code, dtype: object

could not find code for Shanghai Pudong

1505    SFO
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

could not find code for Chicago

1736    TYO
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

655    SGN
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

could not find code for Chicago

314    CNX
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

314    CNX
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

could not find code for Chicago

134    BKK
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

could not find code for Kinmen

1677    TPE
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

could not find code for Kansai

965    LAX
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

293    CBU
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1565    ICN
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1565    ICN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

953    LHR
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

653    SGN
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

655    SGN
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

1572    PVG
Name: Code, dtype: object

672    IAH
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1209    NYC
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

951    LHR
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

139    BCN
140    BLA
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1337    HKT
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

667    HNL
Name: Code, dtype: object

1564    ICN
Name: Code, dtype: object

440    DXB
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1389    PUS
Name: Code, dtype: object

1562    GMP
Name: Code, dtype: object

could not find code for Washington

655    SGN
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1565    ICN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1565    ICN
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1129    YMQ
Name: Code, dtype: object

1737    HND
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

730    CGK
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1334    PNH
Name: Code, dtype: object

1334    PNH
Name: Code, dtype: object

667    HNL
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

293    CBU
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1174    NAN
Name: Code, dtype: object

655    SGN
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

708    IKT
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

739    CJU
Name: Code, dtype: object

1703    TLV
Name: Code, dtype: object

667    HNL
Name: Code, dtype: object

1565    ICN
Name: Code, dtype: object

664    HKG
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

387    DLC
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

could not find code for Rome Fiumicino

1563    ICN
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1565    ICN
Name: Code, dtype: object

could not find code for Chicago

1565    ICN
Name: Code, dtype: object

1736    TYO
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1545    SPK
Name: Code, dtype: object

667    HNL
Name: Code, dtype: object

1565    ICN
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

could not find code for Washington

1563    ICN
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

667    HNL
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1252    OKJ
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1012    MLE
Name: Code, dtype: object

415    DPS
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

236    BNE
Name: Code, dtype: object

could not find code for Chicago

1564    ICN
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

293    CBU
Name: Code, dtype: object

1025    MNL
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

1797    YVR
Name: Code, dtype: object

1677    TPE
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

653    SGN
Name: Code, dtype: object

536    FUK
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

524    FRA
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

1505    SFO
Name: Code, dtype: object

391    DFW
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

could not find code for JeJu Island

413    DPS
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

134    BKK
Name: Code, dtype: object

1565    ICN
Name: Code, dtype: object

1204    JFK
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1565    ICN
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

852    KUL
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1556    SEA
Name: Code, dtype: object

293    CBU
Name: Code, dtype: object

1564    ICN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

155    PEK
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

1671    SYD
Name: Code, dtype: object

1743    YTO
Name: Code, dtype: object

208    BOM
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

945    LON
946    YXU
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

965    LAX
Name: Code, dtype: object

1306    PAR
Name: Code, dtype: object

1777    ULN
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1563    ICN
Name: Code, dtype: object

1595    SIN
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

0       CGK
1       HKT
2       SAI
3       SIN
4       SIN
       ...
8095    BNE
8096    SYD
8097    DPS
8098    ICN
8099    ICN
Name: Origin, Length: 8100, dtype: object

In [ ]:
df['Origin'].value_counts()

In [ ]:
def lookup_code(airport_string):
    if len(airport_string) == 3 and airport_string.isupper():
        return airport_string
    else: 
        code = airport_codes.loc[airport_codes["City"] == airport_string, "Code"]
        if code.empty:    # because .loc returns series (vs string), can't run "not code" instead run code.empty
            print(f'could not find code for {airport_string}')
            return None
        display(code)
        return code.iloc[0]

In [ ]:
df['O'].value_counts()

In [ ]:
lookup_code("Fukuoka")

In [ ]:
df['Origin'].apply(functions.lookup_code)

In [ ]:
airport_codes.head()

In [ ]:
def lookup_city(airport_string):
    if len(airport_string) == 3 and not airport_string.isupper():
        # city = airport_codes.loc[airport_codes['Code'] == airport_string, 'City']
        return airport_string
    else: 
        city = airport_codes.loc[airport_codes["Code"] == airport_string, "City"]
        if city.empty:  
            print(f'could not find city for {airport_string}')
            return None
        display(city)
        return city.iloc[0]

In [ ]:
lookup_city("JFK")

In [ ]:
### create new columns for "origin_code" "origin_city" "destination_code" "destination_city" "via_code" "via_city"
df[:2]

In [13]:
df.insert(18,'origin_code',df['Origin'].apply(functions.lookup_code))

could not find code for Jakarta

1754    HKT
Name: Code, dtype: object

could not find code for Siem Reap
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Siem Reap

1714    BWN
Name: Code, dtype: object

could not find code for Singapore
could not find code for London Heathrow
could not find code for Singapore
could not find code for Singapore
could not find code for Perth
could not find code for Sydney

654    MIL
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Singapore

1754    HKT
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Penang
could not find code for Frankfurt

1543    BNE
Name: Code, dtype: object

could not find code for Singapore
could not find code for Melbourne
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Siam Reap, Cambodia
could not find code for London Heathrow
could not find code for New York
could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Sydney
could not find code for Manila
could not find code for Mumbai

470    ATH
Name: Code, dtype: object

could not find code for Singapore
could not find code for Guangzhou

279    KCZ
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Singapore
could not find code for Singapore
could not find code for San Francisco
could not find code for Singapore

1534    ADL
Name: Code, dtype: object

could not find code for Mumbai

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne

1    CPT
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York
could not find code for Penang
could not find code for Melbourne
could not find code for Singapoe
could not find code for Perth

1543    BNE
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Newark
could not find code for Frankfurt
could not find code for Frankfurt
could not find code for Hong Kong
could not find code for Vancouver

1534    ADL
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

could not find code for Manila
could not find code for Phnom Penh
could not find code for Frankfurt
could not find code for Sydney
could not find code for Davao
could not find code for Singapore
could not find code for New York
could not find code for Denpasar

1692    AKL
Name: Code, dtype: object

could not find code for Hanoi
could not find code for Singapore
could not find code for New York

1543    BNE
Name: Code, dtype: object

could not find code for Singapore

791    MAN
Name: Code, dtype: object

could not find code for London Heathrow

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York JFK
could not find code for Johannesburg

791    MAN
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Frankfurt

203    TYO
Name: Code, dtype: object

279    KCZ
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

could not find code for Singapore
could not find code for Denpasar
could not find code for Istanbul
could not find code for Singapore
could not find code for Frankfurt
could not find code for Singapore
could not find code for Denpasar
could not find code for San Francisco

1543    BNE
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Surabaya

584    PAR
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

654    MIL
Name: Code, dtype: object

could not find code for Perth
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

233    BLR
Name: Code, dtype: object

could not find code for Sydney
could not find code for Frankfurt
could not find code for Sydney

791    MAN
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Amsterdam

791    MAN
Name: Code, dtype: object

could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Singapore
could not find code for Bengaluru
could not find code for Mumbai
could not find code for Singapore
could not find code for Ho Chi Minh
could not find code for Singapore
could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Denpasar
could not find code for Melbourne

1543    BNE
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Sydney
could not find code for London Heathrow
could not find code for Danang

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Sydney
could not find code for New York
could not find code for Singapore
could not find code for Singapore
could not find code for Frankfurt
could not find code for Melbourne
could not find code for Sydney
could not find code for Sydney
could not find code for Bali
could not find code for Johannesburg

1    CPT
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Sydney
could not find code for Istanbul
could not find code for Amsterdam

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York JFK
could not find code for New York
could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Sydney

667    ROM
Name: Code, dtype: object

could not find code for Los Angeles

1543    BNE
Name: Code, dtype: object

1534    ADL
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Sydney
could not find code for Singapore
could not find code for Denpasar
could not find code for Sydney
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for London Heahrow
could not find code for Kolkata
could not find code for Jakarta
could not find code for Frankfurt
could not find code for Istanbul

1750    BKK
Name: Code, dtype: object

could not find code for Singapore

1543    BNE
Name: Code, dtype: object

could not find code for Singapore
could not find code for Istanbul

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Sydney
could not find code for San Francisco
could not find code for Singapore
could not find code for Singapore
could not find code for Munich
could not find code for singapore
could not find code for Hong Kong
could not find code for Singapore

1754    HKT
Name: Code, dtype: object

could not find code for Ho Chi Minh

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Hanoi
could not find code for Singapore
could not find code for Newark
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

1543    BNE
Name: Code, dtype: object

could not find code for Newark
could not find code for Singapore
could not find code for Frankfurt

1692    AKL
Name: Code, dtype: object

could not find code for Singapore
could not find code for Sydney

785    LON
919    YXU
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Kuala Lumpur
could not find code for New York

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Newark

584    PAR
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Melbourne

584    PAR
Name: Code, dtype: object

could not find code for Sydney
could not find code for Singapore

791    MAN
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Singapore
could not find code for Munich
could not find code for Singapore

210    CMB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Melbourne
could not find code for Singapore

868    DXB
Name: Code, dtype: object

could not find code for Sydney

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Hong Kong

1750    BKK
Name: Code, dtype: object

could not find code for Singapore
could not find code for New York
could not find code for New York JFK
could not find code for Frankfurt

1750    BKK
Name: Code, dtype: object

could not find code for Jakarta

1750    BKK
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Istanbul
could not find code for London Heathrow

1750    BKK
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Singapore
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Perth

1475    SAO
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Osaka Kansai
could not find code for Bali Denpasar
could not find code for Singapore
could not find code for Amsterdam
could not find code for Singapore
could not find code for Osaka
could not find code for Da Nang
could not find code for Penang
could not find code for Manila
could not find code for Melbourne

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Jakarta

1692    AKL
Name: Code, dtype: object

could not find code for Tokyo Haneda
could not find code for Singapore
could not find code for Zurich

1534    ADL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Makassar
could not find code for Sydney

1754    HKT
Name: Code, dtype: object

229    AMD
Name: Code, dtype: object

could not find code for Singapore
could not find code for Los Angeles
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

1543    BNE
Name: Code, dtype: object

could not find code for Singapore
could not find code for Los Angeles
could not find code for Jakarta
could not find code for Melbourne
could not find code for Siem Reap
could not find code for Manila
could not find code for Los Angeles

1543    BNE
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Ho Chi Minh City
could not find code for Busan
could not find code for Los Angeles
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Denpasar

584    PAR
Name: Code, dtype: object

could not find code for Singapore
could not find code for Sydney
could not find code for Singapore
could not find code for Singapore
could not find code for San Francisco
could not find code for Perth
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Singapore
could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Singapore
could not find code for Munich
could not find code for Perth
could not find code for Perth
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore

197    SPK
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Johannesburg
could not find code for Jakarta
could not find code for Sydney
could not find code for Singapore
could not find code for New York JFK
could not find code for Singapore
could not find code for Shanghai
could not find code for Shanghai
could not find code for Singapore
could not find code for Amsterdam

1750    BKK
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Delhi

233    BLR
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Bengaluru

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Melbourne
could not find code for Frankfurt
could not find code for Sydney
could not find code for Melbourne

791    MAN
Name: Code, dtype: object

could not find code for Los Angeles

210    CMB
Name: Code, dtype: object

could not find code for Singapore
could not find code for Perth

1543    BNE
Name: Code, dtype: object

could not find code for Frankfurt

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore

213    DAC
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Jakarta
could not find code for New York

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Singapore
could not find code for Perth
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Amsterdam

1543    BNE
Name: Code, dtype: object

could not find code for Seattle
could not find code for Singapore
could not find code for Stockholm
could not find code for Singapore
could not find code for Stockholm
could not find code for Singapore
could not find code for Singapore
could not find code for Jakarta
could not find code for Singapore
could not find code for Singapore
could not find code for Melbourne

210    CMB
Name: Code, dtype: object

could not find code for Singapore

1694    CHC
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Jakarta
could not find code for Singapore
could not find code for Melbourne
could not find code for Seoul

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Mumbai
could not find code for Istanbul
could not find code for Bali
could not find code for Singapore
could not find code for Singapore
could not find code for Sydney
could not find code for Singapore
could not find code for Singapore
could not find code for San Francisco
could not find code for Munich
could not find code for Perth

584    PAR
Name: Code, dtype: object

could not find code for Zurich
could not find code for Melbourne
could not find code for Manila
could not find code for Singapore
could not find code for Dusseldorf
could not find code for Singapore
could not find code for Singapore
could not find code for Los Angeles
could not find code for Johannesburg
could not find code for Singapore
could not find code for Singapore
could not find code for Amsterdam
could not find code for Singapore
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Singapore
could not find code for Sydney
could not find code for Melbourne

1543    BNE
Name: Code, dtype: object

could not find code for Munich
could not find code for Jogjakarta

1750    BKK
Name: Code, dtype: object

could not find code for Zurich

584    PAR
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Mumbai

1750    BKK
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Sydney
could not find code for Sydney
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Melbourne

1543    BNE
Name: Code, dtype: object

could not find code for Singapore

1694    CHC
Name: Code, dtype: object

could not find code for Perth

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Hong Kong
could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Osaka
could not find code for Singapore
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Ho Chi Minh City

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York
could not find code for Manila
could not find code for Singapore
could not find code for Amsterdam
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

463    CPH
Name: Code, dtype: object

could not find code for Singapore
could not find code for Hanoi
could not find code for Frankfurt
could not find code for Singapore
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Manila
could not find code for Singapore
could not find code for Los Angeles
could not find code for Melbourne
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

203    TYO
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Perth

868    DXB
Name: Code, dtype: object

could not find code for Mumbai
could not find code for Mumbai
could not find code for Singapore
could not find code for Amsterdam
could not find code for Singapore
could not find code for Melbourne
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Singapore
could not find code for Tokyo Haneda
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Perth
could not find code for Singapore
could not find code for Melbourne
could not find code for Singapore
could not find code for Kuala Lumpur

1    CPT
Name: Code, dtype: object

1705    WLG
Name: Code, dtype: object

could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore

667    ROM
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Jakarta
could not find code for San Francisco
could not find code for Sydney
could not find code for Newark

584    PAR
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for New York JFK
could not find code for Singapore
could not find code for Singapore
could not find code for Danang
could not find code for Zurich
could not find code for Zürich

463    CPH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

868    DXB
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Mumbai
could not find code for Singapore
could not find code for Surabaya
could not find code for Singapore
could not find code for Sydney

868    DXB
Name: Code, dtype: object

could not find code for Singapore
could not find code for Sydney
could not find code for Seoul
could not find code for London Heathrow
could not find code for Manila

1692    AKL
Name: Code, dtype: object

could not find code for Delhi
could not find code for Singapore
could not find code for Singapore

868    DXB
Name: Code, dtype: object

could not find code for Singapore
could not find code for Hong Kong
could not find code for Singapore
could not find code for Mumbai

1    CPT
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Singapore
could not find code for Singapore
could not find code for Delhi
could not find code for Manila
could not find code for Perth
could not find code for Jakarta
could not find code for Singapore
could not find code for Frankfurt
could not find code for Singapore
could not find code for Denpasar
could not find code for Melbourne
could not find code for Perth
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore

791    MAN
Name: Code, dtype: object

could not find code for Perth
could not find code for Ho Chi Minh
could not find code for Singapore
could not find code for Jakarta
could not find code for Guangzhou
could not find code for Singapore
could not find code for Johannesburg
could not find code for Singapore

1534    ADL
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Singapore
could not find code for San Francisco
could not find code for Shanghai
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore

213    DAC
Name: Code, dtype: object

could not find code for Taipei

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Singapore
could not find code for Yangon
could not find code for Jakarta
could not find code for Frankfurt
could not find code for Frankfurt
could not find code for Singapore
could not find code for San Francisco
could not find code for Manila
could not find code for Singapore

1694    CHC
Name: Code, dtype: object

could not find code for Denpasar

1705    WLG
Name: Code, dtype: object

could not find code for Sydney
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Davao
could not find code for Singapore
could not find code for Melbourne
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Mumbai
could not find code for Singapore

1705    WLG
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Singapore
could not find code for Perth
could not find code for Hong Kong

1750    BKK
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Singapore
could not find code for Jakarta

1750    BKK
Name: Code, dtype: object

could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for London Heathrow
could not find code for London Heathrow

584    PAR
Name: Code, dtype: object

1705    WLG
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Sydney
could not find code for San Francisco
could not find code for Frankfurt
could not find code for Singapore
could not find code for Munich
could not find code for Johannesburg
could not find code for Melbourne
could not find code for London Heathrow
could not find code for Singapore
could not find code for Perth
could not find code for San Francisco
could not find code for Jakarta
could not find code for Kuala Lumpur
could not find code for Jakarta
could not find code for Singapore

244    CJB
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Los Angeles

791    MAN
Name: Code, dtype: object

could not find code for Chennai
could not find code for Guangzhou
could not find code for Singapore
could not find code for Singapore
could not find code for Frankfurt

203    TYO
Name: Code, dtype: object

could not find code for Istanbul

667    ROM
Name: Code, dtype: object

could not find code for Perth
could not find code for Delhi
could not find code for Singapore
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Surabaya
could not find code for Kuala Lumpur
could not find code for Surabaya

1543    BNE
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Sydney
could not find code for Singapore
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Sydney
could not find code for München
could not find code for Singapore
could not find code for Singapore
could not find code for Melbourne
could not find code for Munich
could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Houston

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Zürich
could not find code for Singapore
could not find code for Singapore
could not find code for Sydney
could not find code for Zürich
could not find code for Singapore

1549    CBR
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Jakarta
could not find code for Singapore
could not find code for Istanbul
could not find code for Singapore
could not find code for Amsterdam
could not find code for Singapore
could not find code for Singapore

584    PAR
Name: Code, dtype: object

could not find code for Singapore
could not find code for Sydney
could not find code for Singapore
could not find code for Jakarta
could not find code for Singapore
could not find code for Sydney
could not find code for Singapore

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Houston
could not find code for Frankfurt
could not find code for Singapore

213    DAC
Name: Code, dtype: object

could not find code for Singapore
could not find code for Perth
could not find code for Frankfurt
could not find code for Munich
could not find code for Surabaya
could not find code for Melbourne
could not find code for Hong Kong
could not find code for Singapore

667    ROM
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

could not find code for Singapore
could not find code for Hong Kong

791    MAN
Name: Code, dtype: object

could not find code for Stockholm

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Melbourne

868    DXB
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Sydney
could not find code for Singapore
could not find code for Denpasar
could not find code for San Francisco
could not find code for Singapore
could not find code for Los Angeles
could not find code for Jakarta
could not find code for Singapore
could not find code for Perth

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Jakarta
could not find code for Delhi
could not find code for San Francisco
could not find code for Sydney
could not find code for Singapore
could not find code for Guangzhou
could not find code for Munich

1534    ADL
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Singapore
could not find code for Munich
could not find code for Denpasar

1750    BKK
Name: Code, dtype: object

could not find code for Singapore
could not find code for Manila
could not find code for Hong Kong
could not find code for Singapore
could not find code for Sydney
could not find code for Shanghai
could not find code for Kolkata
could not find code for Singapore
could not find code for Hong Kong
could not find code for Dusseldorf
could not find code for Singapore

1    CPT
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Singapore
could not find code for Jakarta
could not find code for Singapore
could not find code for Singapore

1543    BNE
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Sydney

1750    BKK
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Sydney

868    DXB
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Manila
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Dusseldorf
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Perth
could not find code for Singapore

791    MAN
Name: Code, dtype: object

could not find code for BK

203    TYO
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for New Delhi
could not find code for Dusseldorf
could not find code for Frankfurt
could not find code for New York
could not find code for Chicago
could not find code for Nice

860    DOH
Name: Code, dtype: object

could not find code for Penang

229    AMD
Name: Code, dtype: object

could not find code for Tbilisi
could not find code for Spain

785    LON
919    YXU
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Gatwick
could not find code for Bali

860    DOH
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Dallas Ft Worth

791    MAN
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Ho Chi Minh
could not find code for Düsseldorf

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Ho Chi Minh City
could not find code for Kuwait

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Mahé

186    LUN
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Melbourne
could not find code for New York
could not find code for Seattle

511    BRU
Name: Code, dtype: object

could not find code for Perth
could not find code for Denpasar

860    DOH
Name: Code, dtype: object

could not find code for Stockholm

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Riyadh
could not find code for Zurich
could not find code for Singapore
could not find code for doh

488    OSL
Name: Code, dtype: object

could not find code for Kathmandu

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

could not find code for Vienna

210    CMB
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for London Heathrow

868    DXB
Name: Code, dtype: object

could not find code for London Heathrow
could not find code for Amsterdam

1750    BKK
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Washington

584    PAR
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Vienna

1750    BKK
Name: Code, dtype: object

could not find code for Singapore

860    DOH
Name: Code, dtype: object

could not find code for Vienna

860    DOH
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

866    AUH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

180    EBB
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Sydney

1543    BNE
Name: Code, dtype: object

could not find code for Philadelphia

803    BEY
Name: Code, dtype: object

could not find code for Mumbai

860    DOH
Name: Code, dtype: object

could not find code for London Heathrow

1750    BKK
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Sydney
could not find code for Islamabad

764    GVA
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

921    YMQ
Name: Code, dtype: object

could not find code for Chicago

860    DOH
Name: Code, dtype: object

could not find code for Dallas
could not find code for Singapore
could not find code for Zurich

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Perth
could not find code for Hanoi
could not find code for Maputo
could not find code for Frankfurt

667    ROM
Name: Code, dtype: object

could not find code for Jarkata

399    BUH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Manila
could not find code for New York
could not find code for Johannesburg
could not find code for Johannesburg

192    HRE
Name: Code, dtype: object

could not find code for Mumbai
could not find code for Philadelphia

860    DOH
Name: Code, dtype: object

866    AUH
Name: Code, dtype: object

could not find code for New York JFK
could not find code for Boston
could not find code for Frankfurt
could not find code for Los Angeles

866    AUH
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Madrid
could not find code for Tehran
could not find code for Sofia

1692    AKL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Lagos

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Manila
could not find code for Prague

1750    BKK
Name: Code, dtype: object

could not find code for Delhi

470    ATH
Name: Code, dtype: object

could not find code for Franfurt
could not find code for Perth

860    DOH
Name: Code, dtype: object

could not find code for Sydney
could not find code for Dallas

1754    HKT
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Stockholm
could not find code for Johannesburg

77    NBO
Name: Code, dtype: object

could not find code for London Heathrow

1750    BKK
Name: Code, dtype: object

could not find code for Thailand
could not find code for Atlanta
could not find code for Delhi

1543    BNE
Name: Code, dtype: object

could not find code for Dallas

860    DOH
Name: Code, dtype: object

764    GVA
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

could not find code for São Paulo
could not find code for Ho chi Minh City

480    DUB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

3    ALG
Name: Code, dtype: object

could not find code for Munich

785    LON
919    YXU
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

870    SHJ
Name: Code, dtype: object

could not find code for Miami
could not find code for Kuala Lumpur
could not find code for San Francisco
could not find code for Ho Chi Minh
could not find code for Zagreb
could not find code for Brisibane

1750    BKK
Name: Code, dtype: object

243    COK
Name: Code, dtype: object

could not find code for Sydney
could not find code for Singapore

1    CPT
Name: Code, dtype: object

could not find code for New York
could not find code for Atlanta

1543    BNE
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Manila

279    KCZ
Name: Code, dtype: object

could not find code for madrid
could not find code for Dusseldorf
could not find code for Islamabad

860    DOH
Name: Code, dtype: object

could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Frankfurt

860    DOH
Name: Code, dtype: object

could not find code for New York JFK

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for London Heathrow

866    AUH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

862    ANK
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Munich

1750    BKK
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Kathmandu
could not find code for Istanbul
could not find code for Kigali
could not find code for Philadelphia

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Erbil

1750    BKK
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

921    YMQ
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

could not find code for Zurich
could not find code for Boston
could not find code for Munich
could not find code for Singapore
could not find code for Singapore
could not find code for Bali

488    OSL
Name: Code, dtype: object

could not find code for Denpasar

860    DOH
Name: Code, dtype: object

could not find code for Maldives

950    YTO
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Frankfurt

791    MAN
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Dallas Ft Worth

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

921    YMQ
Name: Code, dtype: object

could not find code for Kuala Lumpur

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Zurich
could not find code for Los Angeles
could not find code for Zurich

860    DOH
Name: Code, dtype: object

could not find code for Mumbai

860    DOH
Name: Code, dtype: object

could not find code for Madrid

860    DOH
Name: Code, dtype: object

could not find code for Stockholm

1750    BKK
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Sydney
could not find code for Manila

480    DUB
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Mumbai
could not find code for Los Angeles

210    CMB
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Islamabad

860    DOH
Name: Code, dtype: object

could not find code for New York

921    YMQ
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Zurich
could not find code for Jakarta

866    AUH
Name: Code, dtype: object

could not find code for Johannesburg

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Singapore

860    DOH
Name: Code, dtype: object

could not find code for Seattle
could not find code for Perth

77    NBO
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Singapore

832    HDD
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

could not find code for New York
could not find code for Lagos, Nigeria
could not find code for Maputo
could not find code for Tunis

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Vienna

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Islamabad

654    MIL
Name: Code, dtype: object

77    NBO
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Madrid
could not find code for Philadelphia
could not find code for Singapore
could not find code for Cairo

803    BEY
Name: Code, dtype: object

180    EBB
Name: Code, dtype: object

could not find code for Male

180    EBB
Name: Code, dtype: object

could not find code for Mumbai
could not find code for Singapore

791    MAN
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

77    NBO
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for New York JFK
could not find code for Lagos

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Singapore

584    PAR
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Singapore

868    DXB
Name: Code, dtype: object

could not find code for Melbourne

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Manila
could not find code for Chennai
could not find code for Jakarta

77    NBO
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Chicago

480    DUB
Name: Code, dtype: object

could not find code for Philadelphia
could not find code for Amsterdam
could not find code for Kuala Lumpur
could not find code for Los Angeles

1692    AKL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Bodrum

726    AGP
Name: Code, dtype: object

could not find code for Sydney

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

318    CTU
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

1747    CBU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Frankfurt
could not find code for Amsterdam
could not find code for Ho Chi Minh

860    DOH
Name: Code, dtype: object

could not find code for Johannesburg

950    YTO
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne

860    DOH
Name: Code, dtype: object

could not find code for Johannesburg

1    CPT
Name: Code, dtype: object

921    YMQ
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Belgrade

1750    BKK
Name: Code, dtype: object

could not find code for New York

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Dammam
could not find code for Sydney
could not find code for Amsterdam

263    TRV
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

could not find code for Miami

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Johannesburg

1534    ADL
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Cairo
could not find code for New York

488    OSL
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Seattle
could not find code for Sydney

584    PAR
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Hong Kong

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Sydney

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Philadelphia

1750    BKK
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

could not find code for Kuala Lumpur

1    CPT
Name: Code, dtype: object

could not find code for Washington
could not find code for Singapore
could not find code for Riyadh

654    MIL
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Dallas Fort Worth
could not find code for Islamabad

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Manila
could not find code for Chennai

463    CPH
Name: Code, dtype: object

could not find code for New York
could not find code for Cairo
could not find code for Kozikhode
could not find code for Houston
could not find code for Johannesburg

791    MAN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Helsinki
could not find code for Zanzibar
could not find code for Philadelphia
could not find code for Sydney

921    YMQ
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for London Heathrow
could not find code for Cairo

860    DOH
Name: Code, dtype: object

1534    ADL
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

could not find code for Johannesburg

1750    BKK
Name: Code, dtype: object

could not find code for Seattle

785    LON
919    YXU
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

95    CAS
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Chicago

866    AUH
Name: Code, dtype: object

could not find code for Chicago

77    NBO
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Munich

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

could not find code for Sydney
could not find code for Chicago
could not find code for Hong Kong
could not find code for Philadelphia

77    NBO
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Stockholm

866    AUH
Name: Code, dtype: object

could not find code for Los Angeles

860    DOH
Name: Code, dtype: object

could not find code for Chicago
could not find code for San Francisco

832    HDD
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Islamabad
could not find code for Zurich
could not find code for San Francisco

1    CPT
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Dallas
could not find code for New York
could not find code for Munich
could not find code for Erbil
could not find code for Lagos

667    ROM
Name: Code, dtype: object

95    CAS
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Kyiv
could not find code for Boston
could not find code for Vienna
could not find code for Melbourne
could not find code for Kigali
could not find code for Kathmandu
could not find code for Johannesburg

210    CMB
Name: Code, dtype: object

could not find code for Washington

213    DAC
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

77    NBO
Name: Code, dtype: object

could not find code for Male
could not find code for Tehran

1692    AKL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Manila
could not find code for Cairo
could not find code for Singapore

465    BER
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

488    OSL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Boston

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Chicago
could not find code for Manila
could not find code for Lagos
could not find code for Helsinki

1750    BKK
Name: Code, dtype: object

could not find code for Delhi
could not find code for Boston

921    YMQ
Name: Code, dtype: object

243    COK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

could not find code for Islamabad

860    DOH
Name: Code, dtype: object

could not find code for Male
could not find code for Washington
could not find code for Chicago
could not find code for Islamabad

480    DUB
Name: Code, dtype: object

could not find code for Dallas Ft Worth
could not find code for Zagreb

399    BUH
Name: Code, dtype: object

could not find code for Dallas

860    DOH
Name: Code, dtype: object

could not find code for Najaf
could not find code for Seattle

1750    BKK
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Boston
could not find code for Kuala Lumpur

839    LHE
Name: Code, dtype: object

could not find code for Chicago
could not find code for Seattle
could not find code for Erbil
could not find code for New York JFK
could not find code for Seoul
could not find code for Houston
could not find code for Jakarta

921    YMQ
Name: Code, dtype: object

could not find code for London Heathrow

3    ALG
Name: Code, dtype: object

could not find code for Chicago
could not find code for Stockholm
could not find code for Boston
could not find code for Chennai
could not find code for Muscat

839    LHE
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Stockholm
could not find code for Kathmandu
could not find code for Istanbul
could not find code for Amsterdam

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

399    BUH
Name: Code, dtype: object

could not find code for Sofia
could not find code for Seoul

584    PAR
Name: Code, dtype: object

could not find code for Mogadishu
could not find code for Stockholm
could not find code for Zvartnots
could not find code for Kigali
could not find code for Krabi
could not find code for Jakarta
could not find code for Zagreb
could not find code for Sydney

463    CPH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Zurich
could not find code for Male

213    DAC
Name: Code, dtype: object

399    BUH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

77    NBO
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Munich
could not find code for Chicago

1    CPT
Name: Code, dtype: object

could not find code for Kathmandu
could not find code for London Heathrow
could not find code for Tehran
could not find code for Erbil

785    LON
919    YXU
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Prague
could not find code for New York

860    DOH
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Perth
could not find code for Kuala Lumpur
could not find code for Kuwait
could not find code for Sulaymaniyah
could not find code for Tblisi
could not find code for Islamabad

1543    BNE
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Lisbon
could not find code for Amman

654    MIL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Melbourne

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Perth

803    BEY
Name: Code, dtype: object

could not find code for Melbourne

860    DOH
Name: Code, dtype: object

233    BLR
Name: Code, dtype: object

839    LHE
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Dallas
could not find code for Helsinki
could not find code for Melbourne
could not find code for Washington
could not find code for Perth
could not find code for Kathmandu
could not find code for Chicago

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Melbourne

230    ATQ
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Perth
could not find code for Yangon
could not find code for New York
could not find code for Budapest

1692    AKL
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Prague
could not find code for Frankfurt

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Helsinki

1754    HKT
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

1534    ADL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Johannesburg

1754    HKT
Name: Code, dtype: object

could not find code for Amman

772    BHX
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

399    BUH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

could not find code for Washington

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Sydney

839    LHE
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

could not find code for Singapore

791    MAN
Name: Code, dtype: object

could not find code for Perth

463    CPH
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

could not find code for New York
could not find code for Dallas Ft Worth
could not find code for Gatwick
could not find code for Houston
could not find code for Gatwick

791    MAN
Name: Code, dtype: object

230    ATQ
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Istanbul

243    COK
Name: Code, dtype: object

could not find code for Mumbai
could not find code for Perth
could not find code for Hong Kong
could not find code for Kyiv
could not find code for Los Angeles

785    LON
919    YXU
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Sydney
could not find code for Denpasar
could not find code for Manila

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

could not find code for Amman

654    MIL
Name: Code, dtype: object

could not find code for Pisa
could not find code for Amman

229    AMD
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Kuala Lumpur

860    DOH
Name: Code, dtype: object

488    OSL
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

could not find code for Stockholm

463    CPH
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Melbourne
could not find code for Manila

463    CPH
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

could not find code for Zanzibar
could not find code for Sydney

465    BER
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Maputo
could not find code for New York JFK

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Perth
could not find code for Stockholm

791    MAN
Name: Code, dtype: object

could not find code for London Heathrow
could not find code for Sydney

463    CPH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Sydney

584    PAR
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Venice
could not find code for Hong Kong

246    GOI
Name: Code, dtype: object

could not find code for Heathrow
could not find code for Manila

860    DOH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Melbourne

775    CWL
Name: Code, dtype: object

could not find code for Helsinki
could not find code for Mahe
could not find code for Melbourne
could not find code for Nice
could not find code for Gatwick

860    DOH
Name: Code, dtype: object

764    GVA
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Lisbon

1750    BKK
Name: Code, dtype: object

could not find code for Sofia
could not find code for Kolkata
could not find code for Perth

463    CPH
Name: Code, dtype: object

could not find code for Denpasar
could not find code for Istanbul
could not find code for Kolkata
could not find code for Perth
could not find code for Amman
could not find code for Helsinki

860    DOH
Name: Code, dtype: object

921    YMQ
Name: Code, dtype: object

could not find code for Tbilisi
could not find code for Amsterdam

860    DOH
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Dar es Salaam
could not find code for Kiev
could not find code for Tunis

470    ATH
Name: Code, dtype: object

could not find code for Amsterdam

791    MAN
Name: Code, dtype: object

could not find code for Gatwick

1534    ADL
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

could not find code for Denpasar
could not find code for Johannesburg

1750    BKK
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Vienna

203    TYO
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Sydney

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

could not find code for Johannesburg

860    DOH
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

could not find code for Singapore
could not find code for Denpasar

1692    AKL
Name: Code, dtype: object

could not find code for Mumbai

511    BRU
Name: Code, dtype: object

could not find code for Sydney

480    DUB
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Mumbai

491    WAW
Name: Code, dtype: object

could not find code for Sydney
could not find code for Muscat
could not find code for Helsinki
could not find code for Stockholm

1750    BKK
Name: Code, dtype: object

240    CCJ
Name: Code, dtype: object

could not find code for Moscow
could not find code for Sydney
could not find code for Paris CDG
could not find code for Frankfurt

1    CPT
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

could not find code for Dallas Ft Worth
could not find code for Chicago

785    LON
919    YXU
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

279    KCZ
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Philadelphia
could not find code for Hanoi
could not find code for Melbourne

860    DOH
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Sydney

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Sydney
could not find code for Singapore

246    GOI
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

could not find code for Sydney

584    PAR
Name: Code, dtype: object

could not find code for Munich

860    DOH
Name: Code, dtype: object

could not find code for Singapore

511    BRU
Name: Code, dtype: object

could not find code for Vienna

654    MIL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

could not find code for Gatwick

860    DOH
Name: Code, dtype: object

could not find code for Singapore

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Gatwick
could not find code for Johannesburg

772    BHX
Name: Code, dtype: object

could not find code for Stockholm
could not find code for Male

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Washington
could not find code for Belgrade

860    DOH
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Denpasar

233    BLR
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Boston

778    EDI
Name: Code, dtype: object

could not find code for Tehran

860    DOH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Maputo
could not find code for Vienna
could not find code for Perth
could not find code for Stockholm

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for London Heathrow
could not find code for Kuala Lumpur

480    DUB
Name: Code, dtype: object

could not find code for Chennai

488    OSL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

233    BLR
Name: Code, dtype: object

could not find code for Atlanta

791    MAN
Name: Code, dtype: object

could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Incheon
could not find code for Penang
could not find code for Budapest

1750    BKK
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Hong Kong

921    YMQ
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Sydney
could not find code for Belgrade

463    CPH
Name: Code, dtype: object

could not find code for Singapore

860    DOH
Name: Code, dtype: object

could not find code for Munich
could not find code for Sydney

860    DOH
Name: Code, dtype: object

could not find code for Mumbai

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

233    BLR
Name: Code, dtype: object

279    KCZ
Name: Code, dtype: object

could not find code for Gothenburg
could not find code for Singapore

950    YTO
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Perth
could not find code for Johannesburg
could not find code for Sydney
could not find code for Washington
could not find code for Los Angeles

860    DOH
Name: Code, dtype: object

could not find code for Perth
could not find code for Washington

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Denpasar

860    DOH
Name: Code, dtype: object

465    BER
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

392    SJJ
Name: Code, dtype: object

could not find code for Kigali
could not find code for Sofia
could not find code for Tbilisi

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Zurich

778    EDI
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for New York
could not find code for Dallas

233    BLR
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

could not find code for New York

1534    ADL
Name: Code, dtype: object

could not find code for London Heathrow
could not find code for Budapest
could not find code for Kuala Lumpur

77    NBO
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Vienna
could not find code for Jakarta
could not find code for Dallas

860    DOH
Name: Code, dtype: object

could not find code for Kolkata

860    DOH
Name: Code, dtype: object

could not find code for Zanzibar
could not find code for Clark
could not find code for Sydney

511    BRU
Name: Code, dtype: object

could not find code for Amsterdam

921    YMQ
Name: Code, dtype: object

could not find code for Perth

654    MIL
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Kuala Lumpur

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Melbourne

860    DOH
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Kigali

584    PAR
Name: Code, dtype: object

could not find code for Munich

860    DOH
Name: Code, dtype: object

could not find code for Najaf

860    DOH
Name: Code, dtype: object

could not find code for Helsinki
could not find code for Jakarta
could not find code for Stockholm
could not find code for Miami

1549    CBR
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

775    CWL
Name: Code, dtype: object

could not find code for Delhi

785    LON
919    YXU
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Denpasar
could not find code for Sydney

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

could not find code for Perth
could not find code for Denpasar
could not find code for Mahé, Seychelles

860    DOH
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

could not find code for Kuala Lumpur

488    OSL
Name: Code, dtype: object

could not find code for Manila

584    PAR
Name: Code, dtype: object

could not find code for Perth

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Jakarta

238    BOM
Name: Code, dtype: object

could not find code for Melbourne

862    ANK
Name: Code, dtype: object

could not find code for Singapore

256    NAG
Name: Code, dtype: object

399    BUH
Name: Code, dtype: object

could not find code for Vienna
could not find code for Boston

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Munich
could not find code for Kuwait
could not find code for Melbourne

860    DOH
Name: Code, dtype: object

could not find code for Philadelphia

1543    BNE
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1534    ADL
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Zurich
could not find code for Perth
could not find code for Johannesburg
could not find code for Melbourne

463    CPH
Name: Code, dtype: object

could not find code for Washington
could not find code for Kuwait
could not find code for Houston
could not find code for Washington
could not find code for Bali

1692    AKL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1549    CBR
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Melbourne

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Shanghai
could not find code for Denpasar
could not find code for Muscat
could not find code for Johannesburg

1534    ADL
Name: Code, dtype: object

could not find code for Kuwait

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Vienna

778    EDI
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

could not find code for Miami
could not find code for Atlanta

860    DOH
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Hong Kong

772    BHX
Name: Code, dtype: object

could not find code for Johannesburg

1534    ADL
Name: Code, dtype: object

could not find code for New York JFK

1692    AKL
Name: Code, dtype: object

could not find code for Ho Chi Minh City

1692    AKL
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

229    AMD
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

488    OSL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

could not find code for New York

860    DOH
Name: Code, dtype: object

could not find code for Jakarta

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Johannesburg
could not find code for Frankfurt

785    LON
919    YXU
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Frankfurt

715     BCN
1522    BLA
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Kigali
could not find code for Boston

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Islamabad
could not find code for Chicago
could not find code for Singapore
could not find code for Karachi

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Chicago
could not find code for London Heathrow
could not find code for Tbilisi
could not find code for Venice
could not find code for Marrakech

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Philadelphia

860    DOH
Name: Code, dtype: object

could not find code for Ho Chi Minh
could not find code for Munich

470    ATH
Name: Code, dtype: object

465    BER
Name: Code, dtype: object

could not find code for Washington
could not find code for Maputo

1750    BKK
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Dallas Ft Worth
could not find code for São Paulo
could not find code for Hong Kong
could not find code for Miami
could not find code for New York JFK

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Berlin Tegel

654    MIL
Name: Code, dtype: object

could not find code for Munich
could not find code for Maldives
could not find code for Melbourne

860    DOH
Name: Code, dtype: object

could not find code for Manila
could not find code for Melbourne
could not find code for Jakarta

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Philadelphia
could not find code for Muscat

1750    BKK
Name: Code, dtype: object

could not find code for Venice
could not find code for Sydney

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Melbourne

860    DOH
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Dallas
could not find code for Singapore
could not find code for Atlanta

860    DOH
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

136    DUR
Name: Code, dtype: object

could not find code for Delhi
could not find code for Kiev

860    DOH
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

could not find code for Sydney

463    CPH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for London Heathrow

1750    BKK
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for London Heathrow

785    LON
919    YXU
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

402    BAK
Name: Code, dtype: object

could not find code for Tehran
could not find code for Munich
could not find code for Johannesburg
could not find code for Denpasar

1750    BKK
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

824    SLL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Sydney
could not find code for Sydney
could not find code for Sofia
could not find code for Hanoi

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Muscat
could not find code for Hong Kong

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Dallas Ft Worth
could not find code for Melbourne

791    MAN
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Stockholm

463    CPH
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Sydney
could not find code for New York JFK

1692    AKL
Name: Code, dtype: object

could not find code for Melbourne

860    DOH
Name: Code, dtype: object

could not find code for Lagos

860    DOH
Name: Code, dtype: object

could not find code for Kuala Lumpur

1750    BKK
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Munich
could not find code for Philadelphia

791    MAN
Name: Code, dtype: object

could not find code for Dallas Ft Worth

778    EDI
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for New York JFK
could not find code for Istanbul
could not find code for Melbourne
could not find code for Denpasar

1692    AKL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

could not find code for Atlanta

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York

465    BER
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Stockholm

868    DXB
Name: Code, dtype: object

could not find code for London Heatrhow

213    DAC
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Frankfurt

1534    ADL
Name: Code, dtype: object

could not find code for Zurich
could not find code for Berlin Tegel

1534    ADL
Name: Code, dtype: object

could not find code for Manila
could not find code for Venice
could not find code for Hanoi
could not find code for Perth
could not find code for Melbourne
could not find code for Sydney
could not find code for Karachi
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Mumbai

1750    BKK
Name: Code, dtype: object

could not find code for Los Angeles

1692    AKL
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Melbourne

772    BHX
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Chicago

860    DOH
Name: Code, dtype: object

could not find code for Atlanta
could not find code for Sydney
could not find code for Belgrade

860    DOH
Name: Code, dtype: object

could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

402    BAK
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Munich
could not find code for Sofia
could not find code for Istanbul

868    DXB
Name: Code, dtype: object

could not find code for Ho Chi Minh City

785    LON
919    YXU
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Phnom Penh

50    LXR
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Cairo

860    DOH
Name: Code, dtype: object

could not find code for Muscat

1    CPT
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

could not find code for Dammam

210    CMB
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

230    ATQ
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Dammam
could not find code for Munich
could not find code for Islamabad
could not find code for Madrid
could not find code for Vienna

764    GVA
Name: Code, dtype: object

could not find code for Ho Chi Minh City
could not find code for Venice
could not find code for Zagreb

1750    BKK
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Sydney
could not find code for Washington DC

772    BHX
Name: Code, dtype: object

870    SHJ
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York

470    ATH
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Kuala Lumpur

511    BRU
Name: Code, dtype: object

could not find code for Zurich

860    DOH
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Madrid

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Riyadh
could not find code for Tunis
could not find code for Frankfurt

860    DOH
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Krabi
could not find code for Amsterdam

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1534    ADL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for London Heathrow

877    MED
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Madrid

880    TIF
Name: Code, dtype: object

764    GVA
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Philadelphia

866    AUH
Name: Code, dtype: object

could not find code for Paris CDG

860    DOH
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for doh TO sof
could not find code for Ho Chi Minh City

203    TYO
Name: Code, dtype: object

could not find code for Seattle

203    TYO
Name: Code, dtype: object

300    TOY
Name: Code, dtype: object

could not find code for Shanghai

203    TYO
Name: Code, dtype: object

272    FUK
Name: Code, dtype: object

could not find code for Tokyo Haneda
could not find code for Sydney
could not find code for Iwakuni
could not find code for San Francisco

203    TYO
Name: Code, dtype: object

could not find code for Los Angeles

271    CTS
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Narita

203    TYO
Name: Code, dtype: object

could not find code for Seoul
could not find code for Hong Kong

203    TYO
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Tokyo Haneda
could not find code for Seattle

203    TYO
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Delhi
could not find code for Chicago

290    OKJ
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Hong Kong
could not find code for Tokyo Haneda

1750    BKK
Name: Code, dtype: object

could not find code for Haneda
could not find code for Tokyo Narita
could not find code for San Francisco
could not find code for Haneda
could not find code for Washington

1750    BKK
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Haneda

1750    BKK
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Sydney
could not find code for Kuala Lumpur

203    TYO
Name: Code, dtype: object

could not find code for Okinawa Naha
could not find code for Osaka

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Sydney
could not find code for Manila
could not find code for Singapore

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago
could not find code for Tokyo Narita
could not find code for Kuala Lumpur

203    TYO
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Jakarta
could not find code for Tokyo Narita (NRT)
could not find code for Jakarta
could not find code for Tokyo Narita

203    TYO
Name: Code, dtype: object

could not find code for Manila
could not find code for New York

272    FUK
Name: Code, dtype: object

could not find code for Narita
could not find code for Okinawa
could not find code for Kuala Lumpur
could not find code for Sydney

1750    BKK
Name: Code, dtype: object

could not find code for Houston
could not find code for Haneda
could not find code for Ho Chi Minh City

203    TYO
Name: Code, dtype: object

could not find code for Los Angeles

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for New York

203    TYO
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Los Angeles

203    TYO
Name: Code, dtype: object

could not find code for Honolulu
could not find code for Nagoya
could not find code for Itami

203    TYO
Name: Code, dtype: object

could not find code for Houston
could not find code for Tokyo Haneda

203    TYO
Name: Code, dtype: object

could not find code for Tokyo ta

1750    BKK
Name: Code, dtype: object

could not find code for Perth
could not find code for Taipei

203    TYO
Name: Code, dtype: object

could not find code for Ho Chi Minh
could not find code for Okinawa
could not find code for Manila
could not find code for Tokyo Haneda
could not find code for Yangon
could not find code for Sydney
could not find code for Tokyo Haneda

203    TYO
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Jakarta
could not find code for Jakarta
could not find code for Delhi
could not find code for Hiroshima
could not find code for Los Angeles
could not find code for Manila
could not find code for Tokyo-Haneda

203    TYO
Name: Code, dtype: object

could not find code for Chicago
could not find code for Tokyo Haneda
could not find code for Jakarta
could not find code for Vancouver
could not find code for Vancouver
could not find code for Tokyo Haneda
could not find code for Naha

1750    BKK
Name: Code, dtype: object

could not find code for Singapore

309    SHE
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Tokyo Haneda
could not find code for Phnom Penh
could not find code for Delhi
could not find code for Frankfurt
could not find code for Manila
could not find code for New York
could not find code for Chicago
could not find code for Honolulu
could not find code for Tokyo Haneda
could not find code for Manila
could not find code for Hangzhou
could not find code for Jakarta
could not find code for Tokyo Haneda
could not find code for Kuala Lumpur
could not find code for New York JFK
could not find code for San Francisco

1750    BKK
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Hiroshima
could not find code for Chicago
could not find code for Tokyo Haneda
could not find code for Kuala Lumpur
could not find code for Haneda
could not find code for New York

1750    BKK
Name: Code, dtype: object

could not find code for Osaka
could not find code for Hong Kong
could not find code for Houston

1750    BKK
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Tokyo Haneda

511    BRU
Name: Code, dtype: object

could not find code for Chicago

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Washington
could not find code for Mumbai
could not find code for Vancouver
could not find code for Haneda
could not find code for Frankfurt
could not find code for Los Angeles
could not find code for New Chitose (Sapporo)
could not find code for Frankfurt
could not find code for Jakarta
could not find code for Washington
could not find code for Kuala Lumpur
could not find code for Tokyo Haneda
could not find code for Kuala Lumpur
could not find code for Sydney
could not find code for Osaka
could not find code for Los Angeles

203    TYO
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Washington Dulles
could not find code for Kuala Lumpur

287    NGS
Name: Code, dtype: object

could not find code for Nagoya
could not find code for Hong Kong
could not find code for Tokyo Narita

1750    BKK
Name: Code, dtype: object

383    SJO
Name: Code, dtype: object

could not find code for Tokyo Haneda
could not find code for Kansai
could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Kuala Lumpur
could not find code for Seoul Gimpo
could not find code for Kuala Lumpur
could not find code for Phnom Penh
could not find code for Jakarta

203    TYO
Name: Code, dtype: object

238    BOM
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Tokyo Haneda

287    NGS
Name: Code, dtype: object

could not find code for Tokyo Narita

203    TYO
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Osaka
could not find code for Haneda
could not find code for Hong Kong
could not find code for Washington

988    MEX
Name: Code, dtype: object

could not find code for Jakarta

290    OKJ
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Sapporo New Chitose
could not find code for Haneda
could not find code for Kuala Lumpur
could not find code for Kuala Lumpur

216    PEK
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for IAh

1750    BKK
Name: Code, dtype: object

could not find code for London Stansted

584    PAR
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Baghdad

1543    BNE
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Delhi
could not find code for New York

921    YMQ
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Manila

1692    AKL
Name: Code, dtype: object

could not find code for Newark

868    DXB
Name: Code, dtype: object

could not find code for Heathrow
could not find code for Boston

921    YMQ
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

488    OSL
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

807    BAH
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Sydney

1694    CHC
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

could not find code for London Heathrow
could not find code for Singapore

511    BRU
Name: Code, dtype: object

could not find code for Miami
could not find code for Singapore
could not find code for Johannesburg

649    CTA
Name: Code, dtype: object

could not find code for Kuala Lumpur

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

13    MUB
Name: Code, dtype: object

could not find code for Hong Kong

1750    BKK
Name: Code, dtype: object

could not find code for Ho Chi Minh

868    DXB
Name: Code, dtype: object

could not find code for Mauritius

868    DXB
Name: Code, dtype: object

136    DUR
Name: Code, dtype: object

could not find code for Chennai
could not find code for Taipei

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Nice
could not find code for New York

1692    AKL
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Munich

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for St Louis

772    BHX
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

could not find code for Amman
could not find code for New York JFK

772    BHX
Name: Code, dtype: object

could not find code for Trivandrum
could not find code for Lisbon
could not find code for Hamburg

1543    BNE
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Sydney

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

279    KCZ
Name: Code, dtype: object

could not find code for Prague

243    COK
Name: Code, dtype: object

could not find code for Mumbai

149    NCS
792    NCL
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

could not find code for Seoul

868    DXB
Name: Code, dtype: object

could not find code for Mauritius
could not find code for Mumbai
could not find code for Cairo
could not find code for Sydney
could not find code for Delhi

868    DXB
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Heathrow
could not find code for Kuwait
could not find code for Kempegowda Bengaluru

868    DXB
Name: Code, dtype: object

could not find code for St Petersburg

791    MAN
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

could not find code for Karachi
could not find code for Chicago
could not find code for Kolkata

868    DXB
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

could not find code for Sydney
could not find code for Hong Kong
could not find code for Gatwick
could not find code for United States
could not find code for London Gatwick

868    DXB
Name: Code, dtype: object

could not find code for Miami

1750    BKK
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

1517    CKY
Name: Code, dtype: object

could not find code for New Delhi
could not find code for Houston

868    DXB
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

could not find code for Tokyo Narita

213    DAC
Name: Code, dtype: object

could not find code for Orlando

654    MIL
Name: Code, dtype: object

could not find code for Bali

149    NCS
792    NCL
Name: Code, dtype: object

could not find code for Seattle

654    MIL
Name: Code, dtype: object

could not find code for Melbourne

868    DXB
Name: Code, dtype: object

could not find code for Tokyo Narita

1750    BKK
Name: Code, dtype: object

could not find code for London Gatwick

848    PEW
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Venice

868    DXB
Name: Code, dtype: object

could not find code for Chennai

868    DXB
Name: Code, dtype: object

could not find code for London Gatwick

785    LON
919    YXU
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

could not find code for Bali

1    CPT
Name: Code, dtype: object

279    KCZ
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

could not find code for Singapore

470    ATH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

807    BAH
Name: Code, dtype: object

could not find code for Bengaluru
could not find code for Dallas

1692    AKL
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Houston
could not find code for Jakarta
could not find code for Stansted
could not find code for Zurich

868    DXB
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Dallas Ft Worth
could not find code for Singapore

803    BEY
Name: Code, dtype: object

could not find code for Adélaïde

807    BAH
Name: Code, dtype: object

could not find code for Riyadh

213    DAC
Name: Code, dtype: object

could not find code for Munich

868    DXB
Name: Code, dtype: object

243    COK
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

could not find code for Lisbon

868    DXB
Name: Code, dtype: object

279    KCZ
Name: Code, dtype: object

487    BGO
Name: Code, dtype: object

412    DBV
Name: Code, dtype: object

could not find code for Dammam
could not find code for Stockholm

807    BAH
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Houston

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Mumbai
could not find code for Washington
could not find code for Washington
could not find code for Ho Chi Minh City

1475    SAO
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Sydney

868    DXB
Name: Code, dtype: object

could not find code for Houston
could not find code for New York
could not find code for Kolkata

243    COK
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Mauritius
could not find code for New York
could not find code for New York

803    BEY
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for London Gatwick
could not find code for Lisbon

868    DXB
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

could not find code for Dallas
could not find code for Tehran
could not find code for Karachi
could not find code for Hong Kong

868    DXB
Name: Code, dtype: object

could not find code for Karachi
could not find code for Chicago

1750    BKK
Name: Code, dtype: object

could not find code for New York JFK
could not find code for New York

868    DXB
Name: Code, dtype: object

could not find code for Johannesbug

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Amman
could not find code for Riyadh
could not find code for New York

868    DXB
Name: Code, dtype: object

could not find code for Dallas
could not find code for Melbourne

77    NBO
Name: Code, dtype: object

could not find code for Houston
could not find code for Karachi

1754    HKT
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Male
could not find code for Chicago
could not find code for Zurich

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Newark
could not find code for Amsterdam
could not find code for Houston

77    NBO
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Washington

470    ATH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Tel Aviv

868    DXB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Houston

203    TYO
Name: Code, dtype: object

could not find code for Seychelles
could not find code for Houston
could not find code for Male
could not find code for Frankfurt

803    BEY
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for New York

868    DXB
Name: Code, dtype: object

could not find code for Mexico

1    CPT
Name: Code, dtype: object

could not find code for Houston

803    BEY
Name: Code, dtype: object

could not find code for Delhi
could not find code for Tunisia

868    DXB
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Chicago

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Orlando

950    YTO
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Chicago

868    DXB
Name: Code, dtype: object

could not find code for San Francisco
could not find code for San Francisco

868    DXB
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

279    KCZ
Name: Code, dtype: object

could not find code for Islamabad

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Amsterdam

868    DXB
Name: Code, dtype: object

could not find code for Cairo

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Perth

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Delhi

646    BLQ
Name: Code, dtype: object

1747    CBU
Name: Code, dtype: object

could not find code for Chicago

1543    BNE
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Chicago
could not find code for Bruxelles

1692    AKL
Name: Code, dtype: object

could not find code for Perth

1754    HKT
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Sydney
could not find code for Perth
could not find code for Fort Lauderdale
could not find code for Delhi

868    DXB
Name: Code, dtype: object

807    BAH
Name: Code, dtype: object

could not find code for Mauritius

203    TYO
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Saint-Petersburg
could not find code for Zürich
could not find code for Sydney
could not find code for Chennai
could not find code for Ho Chi Minh

1543    BNE
Name: Code, dtype: object

could not find code for Sydney
could not find code for Ho Chi Minh
could not find code for Amsterdam

868    DXB
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

could not find code for Kuala Lumpur

807    BAH
Name: Code, dtype: object

could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Gatwick

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore

791    MAN
Name: Code, dtype: object

could not find code for Washington

791    MAN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for London Stansted
could not find code for Orlando
could not find code for Chennai
could not find code for Ho Chi Minh City

791    MAN
Name: Code, dtype: object

could not find code for Male
could not find code for Shanghai

1543    BNE
Name: Code, dtype: object

233    BLR
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Kolkata

868    DXB
Name: Code, dtype: object

238    BOM
Name: Code, dtype: object

could not find code for Venice

1    CPT
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Tehran
could not find code for Chicago

1750    BKK
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for New York
could not find code for Hamburg

868    DXB
Name: Code, dtype: object

could not find code for New York
could not find code for Perth

772    BHX
Name: Code, dtype: object

could not find code for Singapore
could not find code for Stansted
could not find code for Hong Kong

584    PAR
Name: Code, dtype: object

could not find code for Lisbon
could not find code for Hong Kong

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Johannesburg

1543    BNE
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Cairo
could not find code for Sydney

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Muscat
could not find code for Kuala Lumpur
could not find code for Perth

1692    AKL
Name: Code, dtype: object

could not find code for Amman

868    DXB
Name: Code, dtype: object

could not find code for Melbourne

511    BRU
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Perth

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Sydney

868    DXB
Name: Code, dtype: object

could not find code for New York

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Dallas
could not find code for Trivandrum

654    MIL
Name: Code, dtype: object

could not find code for Perth

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore

186    LUN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

could not find code for Kolkata
could not find code for Kuala Lumpur

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Denpasar

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Newark
could not find code for Kathmandu
could not find code for Newark
could not find code for Sydney
could not find code for New York

868    DXB
Name: Code, dtype: object

could not find code for Denpasar
could not find code for Manila
could not find code for Riyadh

950    YTO
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Seattle

772    BHX
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Islamabad
could not find code for Melbourne

1750    BKK
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Newark

1543    BNE
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Male
could not find code for New Dehli

772    BHX
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Sydney

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Trivandrum
could not find code for Amsterdam

584    PAR
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Bali

791    MAN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Johannesburg
could not find code for Denpasar
could not find code for Denpasar
could not find code for London Heathrow
could not find code for Melbourne

1750    BKK
Name: Code, dtype: object

could not find code for New York
could not find code for Chennai
could not find code for Newark

868    DXB
Name: Code, dtype: object

1534    ADL
Name: Code, dtype: object

149    NCS
792    NCL
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Newark

1694    CHC
Name: Code, dtype: object

could not find code for Madrid
could not find code for Singapore

210    CMB
Name: Code, dtype: object

could not find code for Melbourne

868    DXB
Name: Code, dtype: object

could not find code for Los Angeles

868    DXB
Name: Code, dtype: object

could not find code for Houston

480    DUB
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

could not find code for Singapore

654    MIL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Gatwick

868    DXB
Name: Code, dtype: object

could not find code for Krakow

772    BHX
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Venice
could not find code for Amsterdam

511    BRU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Melbourne

58    ADD
Name: Code, dtype: object

could not find code for Bali

1750    BKK
Name: Code, dtype: object

could not find code for Singapore

868    DXB
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

could not find code for New York

868    DXB
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Istanbul

1750    BKK
Name: Code, dtype: object

149    NCS
792    NCL
Name: Code, dtype: object

could not find code for Prague

868    DXB
Name: Code, dtype: object

could not find code for Trivandrum
could not find code for Singapore

868    DXB
Name: Code, dtype: object

could not find code for Mumbai
could not find code for Perth

1750    BKK
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Kathmandu

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Vienna

3    ALG
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Budapest

868    DXB
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

could not find code for London Gatwick
could not find code for Singapore
could not find code for Gatwick

868    DXB
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

could not find code for Melbourne

868    DXB
Name: Code, dtype: object

could not find code for Houston
could not find code for Newark

868    DXB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for London Gatwick

488    OSL
Name: Code, dtype: object

488    OSL
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Newark

868    DXB
Name: Code, dtype: object

could not find code for Chicago

229    AMD
Name: Code, dtype: object

could not find code for Prague

868    DXB
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

could not find code for Kuala Lumpur

785    LON
919    YXU
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Riyadh

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Düsseldorf
could not find code for Sydney

1750    BKK
Name: Code, dtype: object

could not find code for Washington
could not find code for Manila
could not find code for Budapest
could not find code for Istanbul

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Zurich

785    LON
919    YXU
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

could not find code for Kathmandu
could not find code for Vienna
could not find code for Perth

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Munich

868    DXB
Name: Code, dtype: object

could not find code for Bali

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Male

868    DXB
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

could not find code for Munich
could not find code for Amsterdam
could not find code for Madrid
could not find code for Sydney

511    BRU
Name: Code, dtype: object

could not find code for Kuwait

77    NBO
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

could not find code for New York

868    DXB
Name: Code, dtype: object

could not find code for Cairo

1750    BKK
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

could not find code for New York JFK

1750    BKK
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

could not find code for Taipei
could not find code for Singapore

58    ADD
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Malta

1750    BKK
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

could not find code for New York

868    DXB
Name: Code, dtype: object

could not find code for Prague
could not find code for Sydney

715     BCN
1522    BLA
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Perth
could not find code for Munich
could not find code for Hamburg

1543    BNE
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Kathmandu

210    CMB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Istanbul

791    MAN
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Kuala Lumpur
could not find code for Kuala Lumpur

488    OSL
Name: Code, dtype: object

could not find code for Singapore

868    DXB
Name: Code, dtype: object

could not find code for Hamburg
could not find code for Shanghai
could not find code for Gatwick
could not find code for Newark
could not find code for Delhi

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Trivandrum

451    ODS
Name: Code, dtype: object

could not find code for Madrid
could not find code for Seattle

1543    BNE
Name: Code, dtype: object

could not find code for Perth
could not find code for Washington
could not find code for Stansted

210    CMB
Name: Code, dtype: object

could not find code for Johannesburg

772    BHX
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Orlando
could not find code for Sydney
could not find code for Lisbon
could not find code for Jakarta
could not find code for Hong Kong

791    MAN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Sydney
could not find code for Frankfurt
could not find code for Kuala Lumpur

950    YTO
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Johannesburg

1750    BKK
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Sydney
could not find code for Gatwick
could not find code for Sydney

868    DXB
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

could not find code for Sydney

1747    CBU
Name: Code, dtype: object

could not find code for Muscat

803    BEY
Name: Code, dtype: object

180    EBB
Name: Code, dtype: object

could not find code for Singapore

803    BEY
Name: Code, dtype: object

could not find code for Gatwick

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Hamburg
could not find code for Newark

210    CMB
Name: Code, dtype: object

807    BAH
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Sydney

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Hamburg
could not find code for Melbourne
could not find code for New York

210    CMB
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Kuwait

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

136    DUR
Name: Code, dtype: object

could not find code for Sydney

149    NCS
792    NCL
Name: Code, dtype: object

could not find code for Los Angeles

868    DXB
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Johannesburg

470    ATH
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Houston

868    DXB
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

77    NBO
Name: Code, dtype: object

170    KRT
Name: Code, dtype: object

could not find code for Moscow

1692    AKL
Name: Code, dtype: object

could not find code for Santiago
could not find code for Maldives

772    BHX
Name: Code, dtype: object

could not find code for Perth
could not find code for Washington
could not find code for Johannesburg
could not find code for Zagreb

667    ROM
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Gatwick

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York

785    LON
919    YXU
Name: Code, dtype: object

807    BAH
Name: Code, dtype: object

could not find code for Singapore

514    LCA
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Kuwait

868    DXB
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Venice

1    CPT
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Washington
could not find code for Jakarta

832    HDD
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Amsterdam

654    MIL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

could not find code for Dallas
could not find code for Hong Kong
could not find code for Munich

868    DXB
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Melbourne

1692    AKL
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Taipei
could not find code for Singapore

868    DXB
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Bali

772    BHX
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

could not find code for Muscat
could not find code for Zurich
could not find code for Sydney
could not find code for Melbourne
could not find code for Atlanta
could not find code for London Heathrow

868    DXB
Name: Code, dtype: object

could not find code for Hong Kong

1750    BKK
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1694    CHC
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Ft Lauderdale

1750    BKK
Name: Code, dtype: object

could not find code for Gatwick
could not find code for Amsterdam
could not find code for Johannesburg
could not find code for Phnom Penh

470    ATH
Name: Code, dtype: object

could not find code for New York JFK

868    DXB
Name: Code, dtype: object

could not find code for Chicago

470    ATH
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

could not find code for New York JFK

785    LON
919    YXU
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

could not find code for Chicago
could not find code for Zurich
could not find code for Phnom Penh

654    MIL
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for London Heathrow

772    BHX
Name: Code, dtype: object

could not find code for Düsseldorf

868    DXB
Name: Code, dtype: object

488    OSL
Name: Code, dtype: object

could not find code for Amsterdam

480    DUB
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Bali
could not find code for Fort Lauderdale
could not find code for Cairo

1747    CBU
Name: Code, dtype: object

could not find code for Manila
could not find code for Detroit

868    DXB
Name: Code, dtype: object

could not find code for Heathrow

832    HDD
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Chicago
could not find code for Hamburg

504    GLA
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Amman

791    MAN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Zurich
could not find code for Bengaluru

213    DAC
Name: Code, dtype: object

could not find code for Hamburg

511    BRU
Name: Code, dtype: object

could not find code for Delhi

1694    CHC
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Newark
could not find code for Kuala Lumpur

868    DXB
Name: Code, dtype: object

could not find code for Cairo

868    DXB
Name: Code, dtype: object

could not find code for Trivandrum

868    DXB
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Budapest
could not find code for Kuwait
could not find code for Cairo
could not find code for Sydney

868    DXB
Name: Code, dtype: object

646    BLQ
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Johannesburg
could not find code for Jakarta

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Dusseldorf
could not find code for Lisbon
could not find code for Boston

832    HDD
Name: Code, dtype: object

could not find code for Moscow

868    DXB
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Frankfurt
could not find code for Hong Kong

785    LON
919    YXU
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

could not find code for New York
could not find code for Delhi
could not find code for Karachi

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Madrid

868    DXB
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Zurich
could not find code for Male

575    LYS
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Zürich
could not find code for Newark

868    DXB
Name: Code, dtype: object

could not find code for Malé
could not find code for London Heathrow

868    DXB
Name: Code, dtype: object

could not find code for London Heathrow
could not find code for New York
could not find code for Singapore
could not find code for Singapore

772    BHX
Name: Code, dtype: object

could not find code for Sydney
could not find code for Narita Tokyo
could not find code for Melbourne

504    GLA
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Hong Kong

868    DXB
Name: Code, dtype: object

could not find code for Newark
could not find code for Melbourne
could not find code for Frankfurt
could not find code for Cairo

791    MAN
Name: Code, dtype: object

could not find code for New York JFK
could not find code for Perth

1692    AKL
Name: Code, dtype: object

279    KCZ
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

could not find code for Delhi

229    AMD
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Melbourne

149    NCS
792    NCL
Name: Code, dtype: object

could not find code for Mumbai

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Istanbul

868    DXB
Name: Code, dtype: object

could not find code for Budapest

504    GLA
Name: Code, dtype: object

could not find code for Johannesburg

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Yangon

1543    BNE
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Perth

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for San Francisco

868    DXB
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

could not find code for Mumbai
could not find code for Chicago

1750    BKK
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Perth

772    BHX
Name: Code, dtype: object

could not find code for Gatwick
could not find code for Cairo
could not find code for Singapore

149    NCS
792    NCL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

could not find code for Tokyo Narita

203    TYO
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Sydney
could not find code for Seattle
could not find code for Mumbai

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1694    CHC
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Budapest
could not find code for Sydney

868    DXB
Name: Code, dtype: object

229    AMD
Name: Code, dtype: object

could not find code for Johannesburg

868    DXB
Name: Code, dtype: object

could not find code for Munich
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Munich

1543    BNE
Name: Code, dtype: object

807    BAH
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Singapore

504    GLA
Name: Code, dtype: object

could not find code for Madrid

470    ATH
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne

233    BLR
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Mauritius
could not find code for Amsterdam
could not find code for Malta

1692    AKL
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Chennai
could not find code for Mumbai
could not find code for Amsterdam
could not find code for Melbourne

584    PAR
Name: Code, dtype: object

could not find code for Taipei

791    MAN
Name: Code, dtype: object

170    KRT
Name: Code, dtype: object

could not find code for Kuala Lumpur

868    DXB
Name: Code, dtype: object

could not find code for Sydney

511    BRU
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Amsterdam
could not find code for Gatwick

868    DXB
Name: Code, dtype: object

could not find code for Dusseldorf
could not find code for Sydney

868    DXB
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Heathrow

233    BLR
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Lisbon
could not find code for Delhi
could not find code for Hong Kong

1    CPT
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Perth

1750    BKK
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

could not find code for Seychelles

491    WAW
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

could not find code for Karachi
could not find code for Washington
could not find code for Gatwick

868    DXB
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Taipei
could not find code for Boston
could not find code for Muscat

791    MAN
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Singapore

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Munich

514    LCA
Name: Code, dtype: object

could not find code for New York

480    DUB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

149    NCS
792    NCL
Name: Code, dtype: object

could not find code for Seattle
could not find code for London Heathrow

868    DXB
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

could not find code for Islamabad

1543    BNE
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

1694    CHC
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Zurich

1543    BNE
Name: Code, dtype: object

could not find code for London Heathrow
could not find code for Gatwick
could not find code for Jakarta
could not find code for Gatwick

791    MAN
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Seoul Gimpo
could not find code for Tokyo Haneda
could not find code for Singapore

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Sydney
could not find code for Frankfurt

203    TYO
Name: Code, dtype: object

could not find code for Tokyo Haneda

197    SPK
Name: Code, dtype: object

272    FUK
Name: Code, dtype: object

could not find code for Jakarta

1750    BKK
Name: Code, dtype: object

271    CTS
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Singapore

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Chicago
could not find code for New York JFK
could not find code for San Francisco

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Tokyo Haneda
could not find code for New York

1750    BKK
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Seattle
could not find code for Delhi
could not find code for Tokyo Narita
could not find code for New York JFK
could not find code for Melbourne

203    TYO
Name: Code, dtype: object

could not find code for Sydney

203    TYO
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York
could not find code for Tokyo Haneda
could not find code for Los Angeles

233    BLR
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Tokyo Haneda

1750    BKK
Name: Code, dtype: object

could not find code for Tan Son Nhat
could not find code for New York JFK
could not find code for Hong Kong

1750    BKK
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Manila
could not find code for Seattle
could not find code for Jakarta

203    TYO
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Vancouver
could not find code for San Francisco
could not find code for Los Angeles

203    TYO
Name: Code, dtype: object

could not find code for Manila
could not find code for Dallas
could not find code for Honolulu
could not find code for Chicago
could not find code for Los Angeles
could not find code for Seattle

1750    BKK
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Tokyo Narita

584    PAR
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Shanghai
could not find code for Vancouver

203    TYO
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Manila
could not find code for Boston

203    TYO
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Chicago

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Kuala Lumpur

203    TYO
Name: Code, dtype: object

could not find code for Osaka
could not find code for Los Angeles
could not find code for Frankfurt
could not find code for Osaka
could not find code for Delhi

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

266    AXT
Name: Code, dtype: object

could not find code for Osaka Itami
could not find code for San Francisco
could not find code for Seattle

203    TYO
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Los Angeles
could not find code for Singapore Changi
could not find code for New York
could not find code for Melbourne
could not find code for Seattle

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Jakarta
could not find code for Sydney
could not find code for Tokyo Narita

216    PEK
Name: Code, dtype: object

could not find code for Ho Chi Minh City
could not find code for Okinawa
could not find code for Helsinki
could not find code for Melbourne
could not find code for Sydney

1750    BKK
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Tokyo Haneda

1750    BKK
Name: Code, dtype: object

could not find code for San Diego

203    TYO
Name: Code, dtype: object

could not find code for Narita
could not find code for London Heathrow
could not find code for Delhi

654    MIL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Sydney
could not find code for Tokyo Narita

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Singapore
could not find code for Tokyo Haneda
could not find code for Tokyo Narita
could not find code for New York

203    TYO
Name: Code, dtype: object

could not find code for Tokyo Narita

203    TYO
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

271    CTS
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Taipei
could not find code for Melbourne
could not find code for Narita, Tokyo
could not find code for Tokyo Narita
could not find code for Boston
could not find code for Tokyo Haneda
could not find code for Singapore
could not find code for Heathrow
could not find code for Frankfurt

272    FUK
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Tokyo Haneda
could not find code for Busan

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Paris CDG

203    TYO
Name: Code, dtype: object

could not find code for Las Vegas
could not find code for Frankfurt
could not find code for Osaka

203    TYO
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Tokyo Narita
could not find code for Shanghai

791    MAN
Name: Code, dtype: object

1460    BOG
Name: Code, dtype: object

456    TGD
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Istanbul
could not find code for Istanbul
could not find code for Kuala Lumpur

860    DOH
Name: Code, dtype: object

could not find code for Munich
could not find code for Vilnius

950    YTO
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Dallas

950    YTO
Name: Code, dtype: object

could not find code for Istanbul

1447    BUE
Name: Code, dtype: object

1523    CCS
Name: Code, dtype: object

could not find code for Miami

480    DUB
Name: Code, dtype: object

could not find code for Istanbul

772    BHX
Name: Code, dtype: object

could not find code for Kazan
could not find code for Istanbul

1717    DLA
Name: Code, dtype: object

could not find code for Chicago
could not find code for San Francisco
could not find code for Johannesburg
could not find code for Male
could not find code for Singapore
could not find code for Bishkek

399    BUH
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Houston
could not find code for Vilnius

1721    YAO
Name: Code, dtype: object

could not find code for Prague
could not find code for Kazan
could not find code for Istanbul
could not find code for Jakarta
could not find code for Istanbul

864    DLM
Name: Code, dtype: object

could not find code for Vienna
could not find code for Kazan

772    BHX
Name: Code, dtype: object

496     VLC
1527    VLN
Name: Code, dtype: object

could not find code for Panama
could not find code for Atlanta
could not find code for Seattle
could not find code for Antalia
could not find code for Istanbul
could not find code for Havana
could not find code for Zurich
could not find code for Istanbul
could not find code for Istanbul
could not find code for Amsterdam

785    LON
919    YXU
Name: Code, dtype: object

399    BUH
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Singapore
could not find code for İstanbul
could not find code for Istanbul
could not find code for Istanbul

805    IZM
Name: Code, dtype: object

862    ANK
Name: Code, dtype: object

921    YMQ
Name: Code, dtype: object

could not find code for Singapore
could not find code for San Francisco
could not find code for Kuala Lumpur

457    PRN
Name: Code, dtype: object

could not find code for Washington

402    BAK
Name: Code, dtype: object

could not find code for Kuala Lumpur

488    OSL
Name: Code, dtype: object

could not find code for Sofia
could not find code for London Heathrow
could not find code for Zurich
could not find code for Los Angeles
could not find code for Dusseldorf

465    BER
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Dallas
could not find code for Munich
could not find code for Istanbul
could not find code for Frankfurt
could not find code for Los Angeles
could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul

764    GVA
Name: Code, dtype: object

could not find code for Dusseldorf
could not find code for Los Angeles
could not find code for Jakarta
could not find code for Tbilisi
could not find code for Lefkosa ECN
could not find code for Istanbul

778    EDI
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Istanbul

868    DXB
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Biskek

805    IZM
Name: Code, dtype: object

863    AYT
Name: Code, dtype: object

could not find code for Belgrade

67    ACC
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Munich

511    BRU
Name: Code, dtype: object

could not find code for Istanbul

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Miami
could not find code for Singapore
could not find code for New York

667    ROM
Name: Code, dtype: object

could not find code for Tashkent
could not find code for Budapest
could not find code for Boston
could not find code for Singapore
could not find code for Tehran
could not find code for Mumbai
could not find code for Moscow
could not find code for Denpasar
could not find code for Marrakesh

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Istanbul

863    AYT
Name: Code, dtype: object

could not find code for Bali

868    DXB
Name: Code, dtype: object

could not find code for Venice

1750    BKK
Name: Code, dtype: object

could not find code for Dallas
could not find code for Istanbul
could not find code for Kuala Lumpur

868    DXB
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

could not find code for Tehran
could not find code for Vienna

1750    BKK
Name: Code, dtype: object

could not find code for Delhi
could not find code for Stuttgart

392    SJJ
Name: Code, dtype: object

could not find code for China

868    DXB
Name: Code, dtype: object

could not find code for Heathrow

868    DXB
Name: Code, dtype: object

could not find code for Abuja
could not find code for Istanbul
could not find code for Amsterdam

868    DXB
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Dammam
could not find code for Constanta
could not find code for Los Angeles
could not find code for Mumbai
could not find code for Miami

423    RIX
Name: Code, dtype: object

could not find code for Miami
could not find code for Istanbul
could not find code for Amman
could not find code for Miami

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Delhi
could not find code for Stockholm
could not find code for Denpasar
could not find code for Tashkent
could not find code for Hanoi

216    PEK
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Istanbul
could not find code for Tallinn

772    BHX
Name: Code, dtype: object

465    BER
Name: Code, dtype: object

could not find code for Chicago

868    DXB
Name: Code, dtype: object

could not find code for Cologne
could not find code for Islamabad
could not find code for Zurich
could not find code for Tbilisi
could not find code for Singapore

470    ATH
Name: Code, dtype: object

could not find code for Kayseri
could not find code for Istanbul
could not find code for Riyadh
could not find code for Istanbul
could not find code for Boston

863    AYT
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

58    ADD
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Istanbul

1543    BNE
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Antaya
could not find code for Los Angeles
could not find code for Katowice
could not find code for Los Angeles
could not find code for New Yok
could not find code for Istanbul
could not find code for Singapore
could not find code for Istanbul

921    YMQ
Name: Code, dtype: object

could not find code for Lisbon
could not find code for New York
could not find code for New York
could not find code for Canada
could not find code for Delhi
could not find code for Nice
could not find code for Dallas Fort-Worth
could not find code for New York
could not find code for Istanbul
could not find code for Seattle
could not find code for Istanbul
could not find code for Budapest
could not find code for Jeddah
could not find code for San Francisco
could not find code for Düsseldorf
could not find code for Dallas Ft Worth
could not find code for Delhi
could not find code for Frankfurt
could not find code for Zurich
could not find code for Frankfurt

470    ATH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

488    OSL
Name: Code, dtype: object

could not find code for Newark

584    PAR
Name: Code, dtype: object

could not find code for Singapore

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Zurich

868    DXB
Name: Code, dtype: object

could not find code for Bishkek

778    EDI
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Dusseldorf
could not find code for Amsterdam

463    CPH
Name: Code, dtype: object

could not find code for Budapest
could not find code for Newark
could not find code for Chicago
could not find code for Budapest
could not find code for Hong Kong
could not find code for Dusseldorf

791    MAN
Name: Code, dtype: object

could not find code for Delhi
could not find code for Houston
could not find code for Bali
could not find code for Singapore

180    EBB
Name: Code, dtype: object

could not find code for Dallas
could not find code for San Francisco
could not find code for Frankfurt
could not find code for Istanbul
could not find code for Boston

863    AYT
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Washington
could not find code for Manila
could not find code for Zurich
could not find code for San Francisco

203    TYO
Name: Code, dtype: object

could not find code for Washington
could not find code for Jeddah
could not find code for Vancouver
could not find code for Tel Aviv
could not find code for Vilnius
could not find code for Jeddah
could not find code for Munich

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul

658    NAP
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Zurich
could not find code for Alanya

667    ROM
Name: Code, dtype: object

could not find code for Newark
could not find code for Malaysia
could not find code for San Francisco
could not find code for Tel Aviv
could not find code for Tel Aviv
could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul
could not find code for Stuttgart
could not find code for Tel Aviv
could not find code for İstanbul
could not find code for Dallas

803    BEY
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Malta
could not find code for Istanbul

726    AGP
Name: Code, dtype: object

could not find code for Istanbul

584    PAR
Name: Code, dtype: object

could not find code for Istanbul

398    SKP
Name: Code, dtype: object

could not find code for Delhi
could not find code for Istanbul
could not find code for Bodrum
could not find code for New York
could not find code for Los Angeles
could not find code for Istanbul
could not find code for Atlanta
could not find code for Dusseldorf
could not find code for Istanbul
could not find code for Istanbul
could not find code for Gatwick
could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul
could not find code for Dallas

398    SKP
Name: Code, dtype: object

521    BLL
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Los Angeles
could not find code for Istanbul

584    PAR
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Tel Aviv
could not find code for Istanbul
could not find code for Boston
could not find code for Istanbul
could not find code for Kuala Lumpur
could not find code for Newark
could not find code for Istanbul
could not find code for Jakarta
could not find code for Istanbul
could not find code for Istanbul
could not find code for Mumbai

862    ANK
Name: Code, dtype: object

could not find code for Singapore

807    BAH
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

could not find code for Boston
could not find code for Moscow
could not find code for Houston
could not find code for Istanbul
could not find code for Istanbul
could not find code for Kathmandu
could not find code for Malta

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York

584    PAR
Name: Code, dtype: object

could not find code for Detroit
could not find code for Chicago

470    ATH
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Los Angeles

950    YTO
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

465    BER
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Milan Malpensa
could not find code for New York
could not find code for Ercan
could not find code for Kuala Lumpur
could not find code for Budapest
could not find code for San Francisco

862    ANK
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Istanbul

863    AYT
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Frankfurt
could not find code for Istanbul
could not find code for Kuala Lumpur
could not find code for Denpasar

1750    BKK
Name: Code, dtype: object

could not find code for Newark

791    MAN
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Chicago
could not find code for Istanbul
could not find code for Johannesburg
could not find code for Los Angeles

791    MAN
Name: Code, dtype: object

could not find code for Singapore

772    BHX
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Zagreb
could not find code for Singapore
could not find code for Kathmandu
could not find code for Washington
could not find code for Miami
could not find code for Teheran
could not find code for Tbilisi

399    BUH
Name: Code, dtype: object

399    BUH
Name: Code, dtype: object

could not find code for Madrid
could not find code for India
could not find code for Panama
could not find code for Istanbul

470    ATH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Boston
could not find code for Los Angeles
could not find code for Istanbul
could not find code for Venice
could not find code for New York JFK
could not find code for Kathmandu

480    DUB
Name: Code, dtype: object

could not find code for Washington

480    DUB
Name: Code, dtype: object

could not find code for Prague
could not find code for Washington
could not find code for Istanbul

921    YMQ
Name: Code, dtype: object

807    BAH
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Karachi
could not find code for Los Angeles
could not find code for Karachi
could not find code for Istanbul

785    LON
919    YXU
Name: Code, dtype: object

465    BER
Name: Code, dtype: object

864    DLM
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Los Angeles

950    YTO
Name: Code, dtype: object

807    BAH
Name: Code, dtype: object

could not find code for Kazakhstan
could not find code for Sofia
could not find code for San Francisco
could not find code for Cluj-Napoca
could not find code for Boston
could not find code for Hamburg
could not find code for Istanbul
could not find code for Kiev

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Washington
could not find code for Lagos

921    YMQ
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Istanbul
could not find code for Sochi
could not find code for Saint Petersburg
could not find code for Washington tyo Tehran
could not find code for Mogadishu
could not find code for Atlanta
could not find code for Tehran
could not find code for Dallas

726    AGP
Name: Code, dtype: object

could not find code for Zurich
could not find code for Houston
could not find code for Miami
could not find code for Karachi
could not find code for Tehran

807    BAH
Name: Code, dtype: object

could not find code for Houston

839    LHE
Name: Code, dtype: object

could not find code for Houston
could not find code for Dallas

807    BAH
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago

488    OSL
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Sydney
could not find code for Vancouver
could not find code for Dallas Ft Worth
could not find code for Almaty
could not find code for Manila
could not find code for Chicago
could not find code for Chicago
could not find code for Istanbul

864    DLM
Name: Code, dtype: object

1717    DLA
Name: Code, dtype: object

could not find code for Houston

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Miami

829    LYP
Name: Code, dtype: object

could not find code for Houston
could not find code for Singapore
could not find code for Frankfurt
could not find code for Malta
could not find code for Chicago
could not find code for Helsinki
could not find code for Chicago
could not find code for Miami
could not find code for Panama City

868    DXB
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Istanbul
could not find code for Taipei
could not find code for Tunis
could not find code for Istanbul
could not find code for Tbilisi
could not find code for Chicago
could not find code for Marrakesh
could not find code for Toulouse
could not find code for MIami
could not find code for Parisnto Kiev
could not find code for Washington

868    DXB
Name: Code, dtype: object

761    BSL
Name: Code, dtype: object

could not find code for Dallas Ft Worth
could not find code for İzmir

470    ATH
Name: Code, dtype: object

could not find code for Odesa
could not find code for Houston
could not find code for Cairo
could not find code for Dallas

839    LHE
Name: Code, dtype: object

could not find code for Zurich
could not find code for Washington
could not find code for Istanbul

584    PAR
Name: Code, dtype: object

could not find code for Cairo
could not find code for Istanbul

576    MRS
Name: Code, dtype: object

could not find code for Houston
could not find code for Los Angeles

465    BER
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Chicago O'Hare
could not find code for Istanbul

465    BER
Name: Code, dtype: object

could not find code for Boston
could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul

213    DAC
Name: Code, dtype: object

could not find code for Tbilisi
could not find code for Miami
could not find code for Kyiv

463    CPH
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Tashkent
could not find code for Odesa
could not find code for Istanbul

950    YTO
Name: Code, dtype: object

could not find code for Bishkek

470    ATH
Name: Code, dtype: object

839    LHE
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Sofia
could not find code for Zagreb
could not find code for Baghdad
could not find code for Istanbul
could not find code for Hong Kong

491    WAW
Name: Code, dtype: object

could not find code for Houston
could not find code for Newark
could not find code for Istanbul
could not find code for Istanbul

213    DAC
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Cologne
could not find code for Los Angeles
could not find code for Istanbul
could not find code for New York

950    YTO
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Miami
could not find code for Mexico

470    ATH
Name: Code, dtype: object

could not find code for Phoenix

863    AYT
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

could not find code for Newark
could not find code for Istanbul
could not find code for Ljubljana

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Karachi

399    BUH
Name: Code, dtype: object

could not find code for Male
could not find code for Istanbul

480    DUB
Name: Code, dtype: object

could not find code for Vancouver

677    LUX
Name: Code, dtype: object

764    GVA
Name: Code, dtype: object

could not find code for Cluj
could not find code for Los Angeles
could not find code for Kiyv
could not find code for Boston

119    NIM
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Los Angeles
could not find code for Chicago
could not find code for Lima
could not find code for Atlanta
could not find code for Karachi
could not find code for Washington
could not find code for Chicago

868    DXB
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

could not find code for Tbilisi

470    ATH
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Cologne

950    YTO
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

866    AUH
Name: Code, dtype: object

451    ODS
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Tehran
could not find code for İstanbul
could not find code for Istanbul

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Vilnius
could not find code for Moscow

950    YTO
Name: Code, dtype: object

could not find code for Kabul
could not find code for Atlanta
could not find code for Vienna
could not find code for Mogadishu
could not find code for Istanbul
could not find code for Jakarta
could not find code for New York
could not find code for Kabul
could not find code for Huston
could not find code for Istanbul
could not find code for Malta
could not find code for Tel Aviv

584    PAR
Name: Code, dtype: object

could not find code for Karachi

58    ADD
Name: Code, dtype: object

could not find code for Dar es Salaam

58    ADD
Name: Code, dtype: object

could not find code for Los Angeles

170    KRT
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Tehran
could not find code for New York

667    ROM
Name: Code, dtype: object

could not find code for Madrid
could not find code for Atlanta

868    DXB
Name: Code, dtype: object

451    ODS
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Lviv
could not find code for Miami
could not find code for London Heathrow
could not find code for Hurghada

860    DOH
Name: Code, dtype: object

could not find code for Los Angeles

839    LHE
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Ljubljana
could not find code for Kuala Lumpur
could not find code for São Paulo
could not find code for Boston
could not find code for Manila
could not find code for Shiraz
could not find code for Turkey
could not find code for Istanbul

863    AYT
Name: Code, dtype: object

575    LYS
Name: Code, dtype: object

could not find code for Seoul
could not find code for Istanbul

761    BSL
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

839    LHE
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago
could not find code for Istanbul
could not find code for Boston
could not find code for Los Angeles

463    CPH
Name: Code, dtype: object

could not find code for Male
could not find code for Chicago
could not find code for Istanbul
could not find code for Atlanta

839    LHE
Name: Code, dtype: object

could not find code for Lagos
could not find code for Houston
could not find code for Jakarta
could not find code for Moscow
could not find code for ISTANBUL
could not find code for Moscow-Vnukovo

67    ACC
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Kuwait
could not find code for Kuwait
could not find code for Istanbul
could not find code for Istambul
could not find code for Hong Kong
could not find code for Istanbul
could not find code for Moscow
could not find code for Moscow
could not find code for Zurich
could not find code for Amsterdam
could not find code for San Francisco
could not find code for Miami

839    LHE
Name: Code, dtype: object

1747    CBU
Name: Code, dtype: object

465    BER
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Los Angeles
could not find code for Kuala Lumpur

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Istanbul
could not find code for Chicago
could not find code for Istanbul
could not find code for Washington DC

213    DAC
Name: Code, dtype: object

866    AUH
Name: Code, dtype: object

862    ANK
Name: Code, dtype: object

could not find code for Moscow

791    MAN
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Singapore

213    DAC
Name: Code, dtype: object

921    YMQ
Name: Code, dtype: object

could not find code for Singapore

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Istanbul

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Denver
could not find code for Hong Kong
could not find code for Tashkent
could not find code for Los Angeles

950    YTO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Houston

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Panama City
could not find code for Cairo
could not find code for Stuttgart

1475    SAO
Name: Code, dtype: object

could not find code for Chicago

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Miami
could not find code for Delhi

862    ANK
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Keyseri
could not find code for Atlanta
could not find code for Seychelles
could not find code for Istanbul
could not find code for St Petersburgh

1460    BOG
Name: Code, dtype: object

could not find code for Istanbul

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Mumbai
could not find code for New York

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Malta
could not find code for Istanbul
could not find code for Istanbul
could not find code for Stuttgart
could not find code for Kuala Lumpur
could not find code for Kathmandu
could not find code for Chicago
could not find code for Istanbul
could not find code for Male
could not find code for Helsinki
could not find code for Johannesburg

128    DKR
Name: Code, dtype: object

could not find code for Tashkent
could not find code for Prague
could not find code for Istanbul
could not find code for Atlanta
could not find code for Amsterdam
could not find code for Dammam
could not find code for Los Angeles
could not find code for Dar es Salaam
could not find code for Amsterdam
could not find code for Stockholm

1750    BKK
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Jakarta
could not find code for Cairo

213    DAC
Name: Code, dtype: object

402    BAK
Name: Code, dtype: object

could not find code for Ulaanbaatar
could not find code for Istanbul
could not find code for Amsterdam
could not find code for Milano

863    AYT
Name: Code, dtype: object

could not find code for Gatwick
could not find code for Frankfurt
could not find code for Istanbul

868    DXB
Name: Code, dtype: object

could not find code for Taipei

868    DXB
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Lisbon
could not find code for Houston
could not find code for Malta
could not find code for Istanbul

726    AGP
Name: Code, dtype: object

could not find code for Hurghada

839    LHE
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Saigon

778    EDI
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

could not find code for Cologne
could not find code for Munich

402    BAK
Name: Code, dtype: object

could not find code for Los Angeles

807    BAH
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Washington
could not find code for Miami
could not find code for Chicago
could not find code for Cairo

584    PAR
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Singapore
could not find code for Istanbul
could not find code for Madrid
could not find code for Singapore

772    BHX
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Zagreb
could not find code for Amsterdam
could not find code for Istanbul
could not find code for Istanbul

667    ROM
Name: Code, dtype: object

could not find code for Lisbon

950    YTO
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Istanbul
could not find code for Chicago
could not find code for Cairo
could not find code for Denpasar
could not find code for Atlanta
could not find code for San Francisco

950    YTO
Name: Code, dtype: object

could not find code for Sofia

470    ATH
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Kayseri

654    MIL
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Singapore

1    CPT
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul
could not find code for Washington
could not find code for Istanbul
could not find code for Istanbul
could not find code for Vienna
could not find code for New York JFK
could not find code for Istanbul
could not find code for Frankfurt

654    MIL
Name: Code, dtype: object

could not find code for Istanbul

921    YMQ
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

could not find code for Nuremberg

868    DXB
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

864    DLM
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Los Angeles
could not find code for Lvov
could not find code for Istanbul
could not find code for İstanbul

862    ANK
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Istanbul
could not find code for Amsterdam
could not find code for Gatwick
could not find code for Istanbul
could not find code for New York

772    BHX
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Istanbul
could not find code for Mauritius
could not find code for Istanbul
could not find code for Kiev
could not find code for Istanbul
could not find code for İstanbul
could not find code for Gatwick
could not find code for Kuala Lumpur
could not find code for Istanbul
could not find code for Los Angeles
could not find code for Istanbul
could not find code for Atlanta
could not find code for Bodrum
could not find code for Istanbul
could not find code for Istanbul
could not find code for Amman
could not find code for Zurich
could not find code for Vienna
could not find code for Istanbul
could not find code for Istanbul
could not find code for Delhi

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Houston
could not find code for Istanbul
could not find code for Hong Kong
could not find code for Kosice
could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul
could not find code for Budapest
could not find code for New York

785    LON
919    YXU
Name: Code, dtype: object

398    SKP
Name: Code, dtype: object

could not find code for Gatwick
could not find code for Konya
could not find code for Budapest
could not find code for Mumbai
could not find code for Boston
could not find code for Dammam
could not find code for Istanbul
could not find code for Istanbul
could not find code for Sofia

667    ROM
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Istanbul

491    WAW
Name: Code, dtype: object

could not find code for Singapore
could not find code for Los Angeles
could not find code for London Gatwick
could not find code for Istanbul
could not find code for Kuala Lumpur

IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [15]:
df.origin_code

0       None
1        HKT
2       None
3       None
4       None
        ...
8095     BNE
8096     SYD
8097     DPS
8098     ICN
8099     ICN
Name: origin_code, Length: 8100, dtype: object

In [ ]:
for i,city in enumerate(df.Origin.value_counts().index):
    if len(city) == 3:
        print(city)

In [ ]:
df.Origin

In [ ]:
### lookup failures, only return cities not found, if return series call unique.apply - return nothing if you can't find it

### get lats/long for origin-destination-via

### https://www.developer.aero/api-catalog/flight-duration-overview

In [ ]:
# airports2 = airports.replace(', ','_').replace(' ',',').replace('\t',',')

In [ ]:
# import csv

In [ ]:
# airports2

In [ ]:
airports = [ airport for airport in df.Origin.value_counts().index if len(airport) == 3]
len(airports)

In [ ]:
df_updated = df[['Title', 'Airline', 'Reviews',
       'Type of Traveller', 'Month Flown', 'Route', 'Class', 'Seat Comfort',
       'Staff Service', 'Food & Beverages', 'Inflight Entertainment',
       'Value For Money', 'Overall Rating', 'Recommended']]

In [ ]:
ratings = list(df.iloc[:,16].values)

In [ ]:
df.iloc[17]

In [ ]:
with open('Resources/airlines_reviews.csv', 'r') as file:
    reader = csv.reader(file)
    # Skip the header row if it exists
    next(reader, None)

    # Iterate over the rows and extract the comments
    comments = [row[0] for row in reader]

    ratings = [float(row[16]) for row in reader]

polarities = []
subjectivities = []

# Analyze the sentiment of each comment
for comment in comments:
    blob = TextBlob(comment)
    polarity = blob.sentiment.polarity
    subjectivity = blob.sentiment.subjectivity
    polarities.append(polarity)
    subjectivities.append(subjectivity)
    
    print(f"Comment: {comment}")
    print(f"Polarity: {polarity}")
    print(f"Subjectivity: {subjectivity}")
    print()

In [ ]:
ratings

In [ ]:
plt.figure(figsize=(8, 6))
scatter = plt.scatter(polarities, subjectivities, c=ratings, cmap='viridis', alpha=0.5)
plt.xlabel('Polarity')
plt.ylabel('Subjectivity')
plt.title('Polarity vs. Subjectivity')
plt.show()

In [ ]:
plt.figure(figsize=(8, 6))
scatter = plt.scatter(polarities, subjectivities, c=ratings, cmap='viridis', alpha=0.5)
plt.xlabel('Polarity')
plt.ylabel('Subjectivity')
plt.title('Polarity vs. Subjectivity')
plt.show()

In [ ]:
df['Name'].nunique()

In [ ]:
df['Title']

In [ ]:
df['Title'].value_counts()

In [ ]:
df['Route'].value_counts()

In [ ]:
df['Airline'].value_counts()

In [ ]:
def add_location_info(df):
    geolocator = Nominatim(user_agent="my_geocoder")

    # Create new columns for city, latitude, and longitude
    df['Origin_City'] = ""
    df['Origin_Latitude'] = 0.0
    df['Origin_Longitude'] = 0.0

    for index, row in df.iterrows():
        location = geolocator.geocode(row['Origin'])
        if location:
            df.at[index, 'Origin_City'] = location.raw.get('display_name').split(",")[-4].strip()
            df.at[index, 'Origin_Latitude'] = location.latitude
            df.at[index, 'Origin_Longitude'] = location.longitude

    return df

df_with_location_info = add_location_info(df)

In [ ]:
# keep routes & split into Origin & Destination, find coord for the locations
# Target "Recommended"
# maybe user can provide the following and 
# Type of Traveller', 'Route', 'Class', 'Seat Comfort',
# 'Staff Service', 'Food & Beverages', 'Inflight Entertainment',
# 'Value For Money