In [15]:
import csv
import sqlite3
# import functions
import pandas as pd

In [16]:
df = pd.read_csv('Resources/airlines_reviews.csv')
df.head(2)

,Title,Name,Review Date,Airline,Verified,Reviews,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended
0,Flight was amazing,Alison Soetantyo,2024-03-01,Singapore Airlines,True,Flight was amazing. The crew onboard this fl...,Solo Leisure,December 2023,Jakarta to Singapore,Business Class,4,4,4,4,4,9,yes
1,seats on this aircraft are dreadful,Robert Watson,2024-02-21,Singapore Airlines,True,Booking an emergency exit seat still meant h...,Solo Leisure,February 2024,Phuket to Singapore,Economy Class,5,3,4,4,1,3,no

In [17]:
def split_to_via(df, column):
    # Split the text based on separators (to, via)
    split_values = df[column].str.split(r'(?<=\bto\b)|(?<=\bvia\b)', expand=True)
    
    # remove to and via from the split columns
    split_values = split_values.apply(lambda x: x.str.replace(r'\bto\b|\bvia\b', '', regex=True))
    
    # Create new columns and load in the split values
    df['Origin'] = split_values[0].str.strip()
    df['Destination'] = split_values[1].str.split().str.join(' ').str.strip()
    df['Via'] = split_values[2].str.split().str.join(' ').str.strip()
    
    return df

split_to_via(df, 'Route')

,Title,Name,Review Date,Airline,Verified,Reviews,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended,Origin,Destination,Via
0,Flight was amazing,Alison Soetantyo,2024-03-01,Singapore Airlines,True,Flight was amazing. The crew onboard this fl...,Solo Leisure,December 2023,Jakarta to Singapore,Business Class,4,4,4,4,4,9,yes,Jakarta,Singapore,None
1,seats on this aircraft are dreadful,Robert Watson,2024-02-21,Singapore Airlines,True,Booking an emergency exit seat still meant h...,Solo Leisure,February 2024,Phuket to Singapore,Economy Class,5,3,4,4,1,3,no,Phuket,Singapore,None
2,Food was plentiful and tasty,S Han,2024-02-20,Singapore Airlines,True,Excellent performance on all fronts. I would...,Family Leisure,February 2024,Siem Reap to Singapore,Economy Class,1,5,2,1,5,10,yes,Siem Reap,Singapore,None
3,“how much food was available,D Laynes,2024-02-19,Singapore Airlines,True,Pretty comfortable flight considering I was f...,Solo Leisure,February 2024,Singapore to London Heathrow,Economy Class,5,5,5,5,5,10,yes,Singapore,London Heathrow,None
4,“service was consistently good”,A Othman,2024-02-19,Singapore Airlines,True,The service was consistently good from start ...,Family Leisure,February 2024,Singapore to Phnom Penh,Economy Class,5,5,5,5,5,10,yes,Singapore,Phnom Penh,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8095,an uneventful flight,N Vickers,2016-06-20,Korean Air,True,"KE124, Brisbane to Incheon (A330) and KE867,...",Business,June 2016,BNE to ULN via ICN,Economy Class,5,4,5,3,4,7,yes,BNE,ULN,ICN
8096,Korean Air always impresses,Kim Holloway,2016-06-12,Korean Air,False,Our recent flight was our fourth trip to the...,Couple Leisure,June 2016,SYD to LHR via ICN,Economy Class,3,5,5,4,5,10,yes,SYD,LHR,ICN
8097,didn’t offer anything,C Clark,2016-06-06,Korean Air,True,I flew Korean Air from Bali to Seoul in Pres...,Business,April 2016,DPS to ICN,Business Class,4,5,5,5,1,2,no,DPS,ICN,None
8098,appreciated the service onboard,E Petan,2016-04-21,Korean Air,False,Seoul to Paris with Korean Air. I am traveli...,Business,April 2016,ICN to CDG,Business Class,5,1,3,4,5,10,yes,ICN,CDG,None
8099,genuinely friendly staff,D Lanor,2016-04-12,Korean Air,False,The 13 hour flight in Business class from Se...,Business,April 2016,ICN to YYZ,Business Class,3,5,3,3,5,10,yes,ICN,YYZ,None

In [18]:
df.tail()

,Title,Name,Review Date,Airline,Verified,Reviews,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended,Origin,Destination,Via
8095,an uneventful flight,N Vickers,2016-06-20,Korean Air,True,"KE124, Brisbane to Incheon (A330) and KE867,...",Business,June 2016,BNE to ULN via ICN,Economy Class,5,4,5,3,4,7,yes,BNE,ULN,ICN
8096,Korean Air always impresses,Kim Holloway,2016-06-12,Korean Air,False,Our recent flight was our fourth trip to the...,Couple Leisure,June 2016,SYD to LHR via ICN,Economy Class,3,5,5,4,5,10,yes,SYD,LHR,ICN
8097,didn’t offer anything,C Clark,2016-06-06,Korean Air,True,I flew Korean Air from Bali to Seoul in Pres...,Business,April 2016,DPS to ICN,Business Class,4,5,5,5,1,2,no,DPS,ICN,None
8098,appreciated the service onboard,E Petan,2016-04-21,Korean Air,False,Seoul to Paris with Korean Air. I am traveli...,Business,April 2016,ICN to CDG,Business Class,5,1,3,4,5,10,yes,ICN,CDG,None
8099,genuinely friendly staff,D Lanor,2016-04-12,Korean Air,False,The 13 hour flight in Business class from Se...,Business,April 2016,ICN to YYZ,Business Class,3,5,3,3,5,10,yes,ICN,YYZ,None

In [19]:
print(f'Rows and Columns: {df.shape}')
df.columns

Rows and Columns: (8100, 20)

Index(['Title', 'Name', 'Review Date', 'Airline', 'Verified', 'Reviews',
       'Type of Traveller', 'Month Flown', 'Route', 'Class', 'Seat Comfort',
       'Staff Service', 'Food & Beverages', 'Inflight Entertainment',
       'Value For Money', 'Overall Rating', 'Recommended', 'Origin',
       'Destination', 'Via'],
      dtype='object')

In [20]:
airport_codes = pd.read_csv('Resources/airports_utf.csv')

In [29]:
df_singapore = df[df['Origin'].str.contains('Singapore')]

# Display the filtered DataFrame
df_singapore

,Title,Name,Review Date,Airline,Verified,Reviews,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended,Origin,Destination,Via
3,“how much food was available,D Laynes,2024-02-19,Singapore Airlines,True,Pretty comfortable flight considering I was f...,Solo Leisure,February 2024,Singapore to London Heathrow,Economy Class,5,5,5,5,5,10,yes,Singapore,London Heathrow,None
4,“service was consistently good”,A Othman,2024-02-19,Singapore Airlines,True,The service was consistently good from start ...,Family Leisure,February 2024,Singapore to Phnom Penh,Economy Class,5,5,5,5,5,10,yes,Singapore,Phnom Penh,None
5,“seat is absolutely dreadful”,Robert Watson,2024-02-19,Singapore Airlines,True,This flight was over six hours long on a B737...,Solo Leisure,February 2024,Singapore to Cairns,Economy Class,5,1,5,5,1,3,no,Singapore,Cairns,None
6,Very ordinary service,S Holger,2024-02-19,Singapore Airlines,True,"Boarding process went smoothly, and plane le...",Solo Leisure,February 2024,Singapore to Frankfurt,Economy Class,1,3,1,2,2,5,no,Singapore,Frankfurt,None
7,I like flying this airline,A Jabil,2024-02-19,Singapore Airlines,True,Pleasant flight which operated on time. Chec...,Family Leisure,February 2024,Singapore to Bandar Seri Begawan,Economy Class,2,5,3,4,5,10,yes,Singapore,Bandar Seri Begawan,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7931,crew were efficient and friendly,Kah Kay Au,2023-04-09,Korean Air,True,I was in Prestige Class on the Boeing 777. K...,Solo Leisure,April 2023,Singapore to Incheon,Business Class,4,4,5,2,4,7,yes,Singapore,Incheon,None
7942,impressed with the spacious cabin,T Barden,2022-08-08,Korean Air,True,Smooth efficient (and friendly) check-in. Wa...,Business,May 2022,Singapore to Seoul,Economy Class,5,5,1,2,5,8,yes,Singapore,Seoul,None
8017,would fly Korean Air again,Mohammed Al-Adsany,2018-05-14,Korean Air,True,Business class from Singapore to Seoul. We c...,Solo Leisure,May 2018,Singapore to Seoul,Business Class,5,5,1,1,4,8,yes,Singapore,Seoul,None
8020,the food was below par,S Maravasan,2018-04-23,Korean Air,True,Singapore to Seoul. Flight arrived either ea...,Business,April 2018,Singapore to Seoul,Economy Class,3,1,5,5,4,6,yes,Singapore,Seoul,None
8071,impressed by the legroom,Mingxiu Huang,2017-02-03,Korean Air,False,Singapore to Honolulu via Seoul Incheon. Si...,Solo Leisure,January 2017,Singapore to Honolulu via Seoul,Economy Class,5,4,4,1,5,10,yes,Singapore,Honolulu,Seoul

In [25]:
singapore_routes = df['Route'][df['Route'].str.contains('Singapore')]

# Display the extracted values
singapore_routes

0                  Jakarta to Singapore
1                   Phuket to Singapore
2                Siem Reap to Singapore
3          Singapore to London Heathrow
4               Singapore to Phnom Penh
                     ...
8017                 Singapore to Seoul
8020                 Singapore to Seoul
8044               Incheon to Singapore
8061                 Seoul to Singapore
8071    Singapore to Honolulu via Seoul
Name: Route, Length: 1069, dtype: object

In [28]:
unique_singapore_origin = df['Origin'][df['Origin'].str.contains('Singapore')].unique()

# Display the unique values
unique_singapore_origin

array(['Singapore', 'Singapore Changi'], dtype=object)

In [21]:
def lookup_code(airport_string):
    if len(airport_string) == 3 and airport_string.isupper():
        return airport_string
    else: 
        code = airport_codes.loc[airport_codes["City"] == airport_string, "Code"]
        if code.empty:    # because .loc returns series (vs string), can't run "not code" instead run code.empty
            print(f'could not find code for {airport_string}')
            return None
        display(code)
        return code.iloc[0]

In [23]:
df.Origin.apply(lookup_code)

could not find code for Jakarta

1308    HKT
Name: Code, dtype: object

1553    SAI
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

1553    SAI
Name: Code, dtype: object

129    BWN
Name: Code, dtype: object

could not find code for Singapore

932    LHR
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

1296    PER
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

133    BKK
Name: Code, dtype: object

could not find code for Singapore

1308    HKT
Name: Code, dtype: object

could not find code for Kuala Lumpur

1289    PEN
Name: Code, dtype: object

could not find code for Frankfurt

233    BNE
Name: Code, dtype: object

could not find code for Singapore
could not find code for Melbourne
could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Siam Reap, Cambodia

932    LHR
Name: Code, dtype: object

could not find code for New York
could not find code for Singapore

108    AKL
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

could not find code for Singapore

591    CAN
Name: Code, dtype: object

813    KCZ
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Singapore
could not find code for Singapore

1475    SFO
Name: Code, dtype: object

could not find code for Singapore

16    ADL
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Melbourne

275    CPT
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for New York

1289    PEN
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Singapoe

1296    PER
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

1181    EWR
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Frankfurt
could not find code for Hong Kong

1754    YVR
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

1305    PNH
Name: Code, dtype: object

could not find code for Frankfurt

1631    SYD
Name: Code, dtype: object

409    DVO
Name: Code, dtype: object

could not find code for Singapore
could not find code for New York

410    DPS
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

618    HAN
Name: Code, dtype: object

could not find code for Singapore
could not find code for New York

233    BNE
Name: Code, dtype: object

could not find code for Singapore

997    MAN
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

108    AKL
Name: Code, dtype: object

could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Frankfurt

1694    TYO
Name: Code, dtype: object

813    KCZ
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

could not find code for Singapore

410    DPS
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Singapore
could not find code for Frankfurt
could not find code for Singapore

410    DPS
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

could not find code for Frankfurt

1626    SUB
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

1062    MIL
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

could not find code for Singapore

133    BKK
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Frankfurt

1631    SYD
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore

108    AKL
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

could not find code for Singapore

133    BKK
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Singapore

131    BLR
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

could not find code for Singapore

645    SGN
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

108    AKL
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

410    DPS
Name: Code, dtype: object

could not find code for Melbourne

233    BNE
Name: Code, dtype: object

could not find code for Kuala Lumpur

1631    SYD
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

392    DAD
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for New York
could not find code for Singapore
could not find code for Singapore
could not find code for Frankfurt
could not find code for Melbourne

1631    SYD
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

407    DPS
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

could not find code for New York
could not find code for Singapore

108    AKL
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Singapore

410    DPS
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Singapore

133    BKK
Name: Code, dtype: object

931    LHR
Name: Code, dtype: object

818    CCU
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Frankfurt

701    IST
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Singapore

233    BNE
Name: Code, dtype: object

could not find code for Singapore

701    IST
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Melbourne

1631    SYD
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

1132    MUC
Name: Code, dtype: object

could not find code for singapore
could not find code for Hong Kong
could not find code for Singapore

1308    HKT
Name: Code, dtype: object

645    SGN
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

618    HAN
Name: Code, dtype: object

could not find code for Singapore

1181    EWR
Name: Code, dtype: object

could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

233    BNE
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

could not find code for Singapore
could not find code for Frankfurt

108    AKL
Name: Code, dtype: object

could not find code for Singapore

1631    SYD
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Kuala Lumpur
could not find code for New York

925    LON
926    YXU
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Melbourne

1278    PAR
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Singapore

997    MAN
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Singapore

1132    MUC
Name: Code, dtype: object

could not find code for Singapore

352    CMB
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Singapore

435    DXB
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Hong Kong

133    BKK
Name: Code, dtype: object

could not find code for Singapore
could not find code for New York

1178    JFK
Name: Code, dtype: object

could not find code for Frankfurt

133    BKK
Name: Code, dtype: object

could not find code for Jakarta

133    BKK
Name: Code, dtype: object

could not find code for Frankfurt

701    IST
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Singapore
could not find code for Singapore

133    BKK
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

1510    SAO
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

1242    KIX
Name: Code, dtype: object

408    DPS
Name: Code, dtype: object

could not find code for Singapore

64    AMS
Name: Code, dtype: object

could not find code for Singapore
could not find code for Osaka

379    DAD
Name: Code, dtype: object

1289    PEN
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Melbourne

133    BKK
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Jakarta

108    AKL
Name: Code, dtype: object

1695    HND
Name: Code, dtype: object

could not find code for Singapore

1858    ZRH
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1732    UPG
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

25    AMD
Name: Code, dtype: object

could not find code for Singapore

944    LAX
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

233    BNE
Name: Code, dtype: object

could not find code for Singapore

944    LAX
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Melbourne

1553    SAI
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

could not find code for Jakarta

646    SGN
Name: Code, dtype: object

1360    PUS
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Singapore

133    BKK
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Singapore

1631    SYD
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

1475    SFO
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

108    AKL
Name: Code, dtype: object

could not find code for Singapore

1132    MUC
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore

1515    SPK
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

could not find code for Melbourne

732    JNB
Name: Code, dtype: object

could not find code for Jakarta

1631    SYD
Name: Code, dtype: object

could not find code for Singapore

1178    JFK
Name: Code, dtype: object

could not find code for Singapore
could not find code for Shanghai
could not find code for Shanghai
could not find code for Singapore

64    AMS
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

could not find code for Melbourne

131    BLR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Melbourne
could not find code for Frankfurt

1631    SYD
Name: Code, dtype: object

could not find code for Melbourne

997    MAN
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

could not find code for Singapore

1296    PER
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

could not find code for Frankfurt

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore

423    DAC
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Jakarta
could not find code for New York

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Singapore

1296    PER
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

64    AMS
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

could not find code for Singapore
could not find code for Stockholm
could not find code for Singapore
could not find code for Stockholm
could not find code for Singapore
could not find code for Singapore
could not find code for Jakarta
could not find code for Singapore
could not find code for Singapore
could not find code for Melbourne

352    CMB
Name: Code, dtype: object

could not find code for Singapore

325    CHC
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Jakarta
could not find code for Singapore
could not find code for Melbourne
could not find code for Seoul

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore

206    BOM
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

407    DPS
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

1631    SYD
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

1475    SFO
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

could not find code for Melbourne

1001    MNL
Name: Code, dtype: object

could not find code for Singapore

448    DUS
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

944    LAX
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

64    AMS
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

133    BKK
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Singapore

1631    SYD
Name: Code, dtype: object

could not find code for Melbourne

233    BNE
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

could not find code for Jogjakarta

133    BKK
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

1631    SYD
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Melbourne

233    BNE
Name: Code, dtype: object

could not find code for Singapore

325    CHC
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Hong Kong
could not find code for Singapore

108    AKL
Name: Code, dtype: object

could not find code for Osaka
could not find code for Singapore
could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

646    SGN
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for New York

1001    MNL
Name: Code, dtype: object

could not find code for Singapore

64    AMS
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

364    CPH
Name: Code, dtype: object

could not find code for Singapore

618    HAN
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Singapore
could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Singapore

944    LAX
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

1694    TYO
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

could not find code for Singapore

64    AMS
Name: Code, dtype: object

could not find code for Singapore
could not find code for Melbourne
could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Singapore

133    BKK
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Singapore

1695    HND
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

1296    PER
Name: Code, dtype: object

could not find code for Singapore
could not find code for Melbourne
could not find code for Singapore
could not find code for Kuala Lumpur

275    CPT
Name: Code, dtype: object

1797    WLG
Name: Code, dtype: object

could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore

1436    ROM
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Jakarta

1475    SFO
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

1178    JFK
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

392    DAD
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

1859    ZRH
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

435    DXB
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

could not find code for Singapore

1626    SUB
Name: Code, dtype: object

could not find code for Singapore

1631    SYD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Singapore

1631    SYD
Name: Code, dtype: object

could not find code for Seoul

932    LHR
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

435    DXB
Name: Code, dtype: object

could not find code for Singapore
could not find code for Hong Kong
could not find code for Singapore

206    BOM
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Singapore
could not find code for Singapore

402    DEL
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Singapore
could not find code for Frankfurt
could not find code for Singapore

410    DPS
Name: Code, dtype: object

could not find code for Melbourne

1296    PER
Name: Code, dtype: object

could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore

997    MAN
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

645    SGN
Name: Code, dtype: object

could not find code for Singapore
could not find code for Jakarta

591    CAN
Name: Code, dtype: object

could not find code for Singapore

732    JNB
Name: Code, dtype: object

could not find code for Singapore

16    ADL
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Singapore

1475    SFO
Name: Code, dtype: object

could not find code for Shanghai
could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore

423    DAC
Name: Code, dtype: object

could not find code for Taipei

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Singapore

1843    RGN
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Frankfurt
could not find code for Frankfurt
could not find code for Singapore

1475    SFO
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Singapore

325    CHC
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

1797    WLG
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

409    DVO
Name: Code, dtype: object

could not find code for Singapore
could not find code for Melbourne
could not find code for Singapore

133    BKK
Name: Code, dtype: object

could not find code for Melbourne

206    BOM
Name: Code, dtype: object

could not find code for Singapore

1797    WLG
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Singapore

1296    PER
Name: Code, dtype: object

could not find code for Hong Kong

133    BKK
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

could not find code for Singapore
could not find code for Jakarta

133    BKK
Name: Code, dtype: object

could not find code for Singapore

133    BKK
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

932    LHR
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1797    WLG
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore

1631    SYD
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Singapore

1132    MUC
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

could not find code for Melbourne

932    LHR
Name: Code, dtype: object

could not find code for Singapore

1296    PER
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Kuala Lumpur
could not find code for Jakarta
could not find code for Singapore

346    CJB
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore

944    LAX
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

307    MAA
Name: Code, dtype: object

591    CAN
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Frankfurt

1694    TYO
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

133    BKK
Name: Code, dtype: object

1626    SUB
Name: Code, dtype: object

could not find code for Kuala Lumpur

1626    SUB
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

could not find code for Hong Kong

1631    SYD
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1131    MUC
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Melbourne

1132    MUC
Name: Code, dtype: object

could not find code for Singapore

108    AKL
Name: Code, dtype: object

could not find code for Houston

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore

1859    ZRH
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

1631    SYD
Name: Code, dtype: object

1859    ZRH
Name: Code, dtype: object

could not find code for Singapore

273    CBR
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Jakarta
could not find code for Singapore

701    IST
Name: Code, dtype: object

could not find code for Singapore

64    AMS
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

1278    PAR
Name: Code, dtype: object

could not find code for Singapore

1631    SYD
Name: Code, dtype: object

could not find code for Singapore
could not find code for Jakarta
could not find code for Singapore

1631    SYD
Name: Code, dtype: object

could not find code for Singapore

138    BCN
139    BLA
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Houston
could not find code for Frankfurt
could not find code for Singapore

423    DAC
Name: Code, dtype: object

could not find code for Singapore

1296    PER
Name: Code, dtype: object

could not find code for Frankfurt

1132    MUC
Name: Code, dtype: object

1626    SUB
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Hong Kong
could not find code for Singapore

1436    ROM
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

could not find code for Singapore
could not find code for Hong Kong

997    MAN
Name: Code, dtype: object

could not find code for Stockholm

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Melbourne

435    DXB
Name: Code, dtype: object

could not find code for Jakarta

1631    SYD
Name: Code, dtype: object

could not find code for Singapore

410    DPS
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Singapore

944    LAX
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Singapore

1296    PER
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Jakarta

402    DEL
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Singapore

591    CAN
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

could not find code for Singapore

1132    MUC
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Singapore

1001    MNL
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Singapore

1631    SYD
Name: Code, dtype: object

could not find code for Shanghai

818    CCU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Hong Kong

448    DUS
Name: Code, dtype: object

could not find code for Singapore

275    CPT
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Singapore
could not find code for Jakarta
could not find code for Singapore
could not find code for Singapore

233    BNE
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore

1631    SYD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

1001    MNL
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

448    DUS
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

1296    PER
Name: Code, dtype: object

could not find code for Singapore

997    MAN
Name: Code, dtype: object

could not find code for BK

1694    TYO
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

403    DEL
Name: Code, dtype: object

448    DUS
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for New York
could not find code for Chicago

1194    NCE
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1289    PEN
Name: Code, dtype: object

25    AMD
Name: Code, dtype: object

1655    TBS
Name: Code, dtype: object

could not find code for Spain

925    LON
926    YXU
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

407    DPS
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

386    DFW
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

645    SGN
Name: Code, dtype: object

449    DUS
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

646    SGN
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

979    SEZ
Name: Code, dtype: object

960    LUN
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Melbourne
could not find code for New York

1526    SEA
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Stockholm

429    DOH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1420    RUH
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

could not find code for Singapore

428    DOH
Name: Code, dtype: object

1247    OSL
Name: Code, dtype: object

767    KTM
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

could not find code for Washington

1278    PAR
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Jakarta

1813    VIE
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Singapore

429    DOH
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

474    EBB
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

1303    PHL
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1787    WAW
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

698    ISB
Name: Code, dtype: object

540    GVA
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

could not find code for Chicago

429    DOH
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

could not find code for Singapore

1858    ZRH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Jakarta

1296    PER
Name: Code, dtype: object

618    HAN
Name: Code, dtype: object

1005    MPM
Name: Code, dtype: object

could not find code for Frankfurt

1436    ROM
Name: Code, dtype: object

could not find code for Jarkata

242    BUH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for New York

732    JNB
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

620    HRE
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

1303    PHL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

could not find code for Frankfurt

944    LAX
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

1660    THR
Name: Code, dtype: object

1576    SOF
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

861    LOS
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

could not find code for Franfurt

1296    PER
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Stockholm

732    JNB
Name: Code, dtype: object

1153    NBO
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Thailand

104    ATL
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

540    GVA
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

592    GRU
Name: Code, dtype: object

could not find code for Ho chi Minh City

437    DUB
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

49    ALG
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1540    SHJ
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

could not find code for Kuala Lumpur

1475    SFO
Name: Code, dtype: object

645    SGN
Name: Code, dtype: object

1851    ZAG
Name: Code, dtype: object

could not find code for Brisibane

133    BKK
Name: Code, dtype: object

342    COK
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Singapore

275    CPT
Name: Code, dtype: object

could not find code for New York

104    ATL
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

813    KCZ
Name: Code, dtype: object

could not find code for madrid

448    DUS
Name: Code, dtype: object

698    ISB
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Frankfurt

429    DOH
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Kuala Lumpur

932    LHR
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

72    ANK
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

767    KTM
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Kigali

1303    PHL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Erbil

133    BKK
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

407    DPS
Name: Code, dtype: object

1247    OSL
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Maldives

1701    YTO
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

1787    WAW
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Frankfurt

997    MAN
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

386    DFW
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

could not find code for Kuala Lumpur

429    DOH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Stockholm

133    BKK
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

698    ISB
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for New York

1104    YMQ
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

could not find code for Jakarta

8    AUH
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Singapore

429    DOH
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

1153    NBO
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Singapore

674    HDD
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for New York
could not find code for Lagos, Nigeria

1005    MPM
Name: Code, dtype: object

could not find code for Tunis

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

698    ISB
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

1153    NBO
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

1303    PHL
Name: Code, dtype: object

could not find code for Singapore

263    CAI
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

474    EBB
Name: Code, dtype: object

988    MLE
Name: Code, dtype: object

474    EBB
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

could not find code for Singapore

997    MAN
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1153    NBO
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1787    WAW
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

861    LOS
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Singapore

1278    PAR
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Singapore

435    DXB
Name: Code, dtype: object

could not find code for Melbourne

133    BKK
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

307    MAA
Name: Code, dtype: object

could not find code for Jakarta

1153    NBO
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Chicago

437    DUB
Name: Code, dtype: object

1303    PHL
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Kuala Lumpur

944    LAX
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

202    BJV
Name: Code, dtype: object

987    AGP
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

1787    WAW
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

306    CTU
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

289    CBU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Frankfurt

64    AMS
Name: Code, dtype: object

645    SGN
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Melbourne

429    DOH
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Belgrade

133    BKK
Name: Code, dtype: object

could not find code for New York

429    DOH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

390    DMM
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1680    TRV
Name: Code, dtype: object

1787    WAW
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1787    WAW
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

263    CAI
Name: Code, dtype: object

could not find code for New York

1247    OSL
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Hong Kong

925    LON
926    YXU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1303    PHL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

could not find code for Kuala Lumpur

275    CPT
Name: Code, dtype: object

could not find code for Washington
could not find code for Singapore

1420    RUH
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

could not find code for Dallas Fort Worth

698    ISB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

307    MAA
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

could not find code for New York

263    CAI
Name: Code, dtype: object

could not find code for Kozikhode
could not find code for Houston

732    JNB
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

634    HEL
Name: Code, dtype: object

could not find code for Zanzibar

1303    PHL
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

263    CAI
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

1787    WAW
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

282    CAS
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

could not find code for Chicago

8    AUH
Name: Code, dtype: object

could not find code for Chicago

1153    NBO
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Chicago
could not find code for Hong Kong

1303    PHL
Name: Code, dtype: object

1153    NBO
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Stockholm

8    AUH
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Chicago

1475    SFO
Name: Code, dtype: object

674    HDD
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

698    ISB
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

could not find code for New York

1132    MUC
Name: Code, dtype: object

could not find code for Erbil

861    LOS
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

282    CAS
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Kyiv

214    BOS
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Kigali

767    KTM
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

could not find code for Washington

423    DAC
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1787    WAW
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1153    NBO
Name: Code, dtype: object

988    MLE
Name: Code, dtype: object

1660    THR
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

263    CAI
Name: Code, dtype: object

could not find code for Singapore

173    BER
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1247    OSL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Chicago

1001    MNL
Name: Code, dtype: object

861    LOS
Name: Code, dtype: object

634    HEL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

342    COK
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

674    HDD
Name: Code, dtype: object

698    ISB
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

988    MLE
Name: Code, dtype: object

could not find code for Washington
could not find code for Chicago

698    ISB
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

386    DFW
Name: Code, dtype: object

1851    ZAG
Name: Code, dtype: object

242    BUH
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Najaf

1526    SEA
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Kuala Lumpur

214    BOS
Name: Code, dtype: object

could not find code for Kuala Lumpur

863    LHE
Name: Code, dtype: object

could not find code for Chicago

1526    SEA
Name: Code, dtype: object

could not find code for Erbil

1178    JFK
Name: Code, dtype: object

could not find code for Seoul
could not find code for Houston
could not find code for Jakarta

1104    YMQ
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

49    ALG
Name: Code, dtype: object

could not find code for Chicago
could not find code for Stockholm

214    BOS
Name: Code, dtype: object

307    MAA
Name: Code, dtype: object

could not find code for Muscat

863    LHE
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

could not find code for Stockholm

767    KTM
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

242    BUH
Name: Code, dtype: object

1576    SOF
Name: Code, dtype: object

could not find code for Seoul

1278    PAR
Name: Code, dtype: object

1086    MGQ
Name: Code, dtype: object

could not find code for Stockholm
could not find code for Zvartnots
could not find code for Kigali
could not find code for Krabi
could not find code for Jakarta

1851    ZAG
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

988    MLE
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

242    BUH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

1153    NBO
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

could not find code for Chicago

275    CPT
Name: Code, dtype: object

767    KTM
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

1660    THR
Name: Code, dtype: object

could not find code for Erbil

925    LON
926    YXU
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

could not find code for Kuala Lumpur

1349    PRG
Name: Code, dtype: object

could not find code for New York

429    DOH
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

could not find code for Melbourne

1296    PER
Name: Code, dtype: object

could not find code for Kuala Lumpur

845    KWI
Name: Code, dtype: object

could not find code for Sulaymaniyah
could not find code for Tblisi

698    ISB
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

could not find code for Lisbon
could not find code for Amman

1062    MIL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Melbourne

138    BCN
139    BLA
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

could not find code for Melbourne

429    DOH
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

863    LHE
Name: Code, dtype: object

could not find code for Kuala Lumpur

384    DAL
Name: Code, dtype: object

634    HEL
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Washington

1296    PER
Name: Code, dtype: object

767    KTM
Name: Code, dtype: object

could not find code for Chicago

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Melbourne

63    ATQ
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

could not find code for Frankfurt

1296    PER
Name: Code, dtype: object

1843    RGN
Name: Code, dtype: object

could not find code for New York

244    BUD
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

could not find code for Frankfurt

925    LON
926    YXU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

634    HEL
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

could not find code for Amman

188    BHX
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

242    BUH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

674    HDD
Name: Code, dtype: object

could not find code for Washington

925    LON
926    YXU
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

863    LHE
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

could not find code for Singapore

997    MAN
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

could not find code for New York

386    DFW
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

could not find code for Houston

930    LGW
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

63    ATQ
Name: Code, dtype: object

could not find code for Melbourne

701    IST
Name: Code, dtype: object

342    COK
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Kyiv

944    LAX
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

could not find code for Amman

1062    MIL
Name: Code, dtype: object

could not find code for Pisa
could not find code for Amman

25    AMD
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Kuala Lumpur

429    DOH
Name: Code, dtype: object

1247    OSL
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

could not find code for Stockholm

364    CPH
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

could not find code for Melbourne

1001    MNL
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

could not find code for Zanzibar

1631    SYD
Name: Code, dtype: object

173    BER
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1005    MPM
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

could not find code for Stockholm

997    MAN
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Venice
could not find code for Hong Kong

555    GOI
Name: Code, dtype: object

could not find code for Heathrow

1001    MNL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

could not find code for Melbourne

277    CWL
Name: Code, dtype: object

634    HEL
Name: Code, dtype: object

could not find code for Mahe
could not find code for Melbourne

1194    NCE
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

540    GVA
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Lisbon

133    BKK
Name: Code, dtype: object

1576    SOF
Name: Code, dtype: object

818    CCU
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

818    CCU
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

could not find code for Amman

634    HEL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

1655    TBS
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

could not find code for Hong Kong

394    DAR
Name: Code, dtype: object

could not find code for Kiev
could not find code for Tunis

100    ATH
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

could not find code for Singapore

410    DPS
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

1787    WAW
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Muscat

634    HEL
Name: Code, dtype: object

could not find code for Stockholm

133    BKK
Name: Code, dtype: object

268    CCJ
Name: Code, dtype: object

could not find code for Moscow

1631    SYD
Name: Code, dtype: object

could not find code for Paris CDG
could not find code for Frankfurt

275    CPT
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

386    DFW
Name: Code, dtype: object

could not find code for Chicago

925    LON
926    YXU
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

813    KCZ
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

1303    PHL
Name: Code, dtype: object

618    HAN
Name: Code, dtype: object

could not find code for Melbourne

429    DOH
Name: Code, dtype: object

could not find code for Frankfurt

1631    SYD
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Singapore

555    GOI
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Singapore

240    BRU
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Singapore

429    DOH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

could not find code for Stockholm

988    MLE
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

could not find code for Washington
could not find code for Belgrade

429    DOH
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

1660    THR
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

1005    MPM
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

could not find code for Stockholm

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

could not find code for Kuala Lumpur

437    DUB
Name: Code, dtype: object

307    MAA
Name: Code, dtype: object

1247    OSL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Incheon

1289    PEN
Name: Code, dtype: object

244    BUD
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Hong Kong

1104    YMQ
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Belgrade

364    CPH
Name: Code, dtype: object

could not find code for Singapore

429    DOH
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

813    KCZ
Name: Code, dtype: object

could not find code for Gothenburg
could not find code for Singapore

1701    YTO
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Washington

944    LAX
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

could not find code for Washington

925    LON
926    YXU
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

173    BER
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1518    SJJ
Name: Code, dtype: object

could not find code for Kigali

1576    SOF
Name: Code, dtype: object

1655    TBS
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for New York

384    DAL
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

674    HDD
Name: Code, dtype: object

could not find code for New York

16    ADL
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

244    BUD
Name: Code, dtype: object

could not find code for Kuala Lumpur

1153    NBO
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

could not find code for Jakarta

384    DAL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

818    CCU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Zanzibar
could not find code for Clark

1631    SYD
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Kuala Lumpur

429    DOH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Melbourne

429    DOH
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Kigali

1278    PAR
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Najaf

429    DOH
Name: Code, dtype: object

634    HEL
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Stockholm

1056    MIA
Name: Code, dtype: object

273    CBR
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

277    CWL
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

could not find code for Mahé, Seychelles

429    DOH
Name: Code, dtype: object

674    HDD
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

could not find code for Kuala Lumpur

1247    OSL
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Jakarta

207    BOM
Name: Code, dtype: object

could not find code for Melbourne

72    ANK
Name: Code, dtype: object

could not find code for Singapore

1152    NAG
Name: Code, dtype: object

242    BUH
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

could not find code for Melbourne

429    DOH
Name: Code, dtype: object

1303    PHL
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

could not find code for Melbourne

364    CPH
Name: Code, dtype: object

could not find code for Washington

845    KWI
Name: Code, dtype: object

could not find code for Houston
could not find code for Washington

407    DPS
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

273    CBR
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Melbourne

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Shanghai

410    DPS
Name: Code, dtype: object

could not find code for Muscat

732    JNB
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

could not find code for Hong Kong

188    BHX
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

646    SGN
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

25    AMD
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1247    OSL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

could not find code for New York

429    DOH
Name: Code, dtype: object

could not find code for Jakarta

133    BKK
Name: Code, dtype: object

could not find code for Melbourne

732    JNB
Name: Code, dtype: object

could not find code for Frankfurt

925    LON
926    YXU
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Frankfurt

138    BCN
139    BLA
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

could not find code for Kigali

214    BOS
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

698    ISB
Name: Code, dtype: object

could not find code for Chicago
could not find code for Singapore

756    KHI
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Chicago

932    LHR
Name: Code, dtype: object

1655    TBS
Name: Code, dtype: object

could not find code for Venice
could not find code for Marrakech

925    LON
926    YXU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1303    PHL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

645    SGN
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

173    BER
Name: Code, dtype: object

could not find code for Washington

1005    MPM
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

could not find code for Melbourne

386    DFW
Name: Code, dtype: object

592    GRU
Name: Code, dtype: object

could not find code for Hong Kong

1056    MIA
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Berlin Tegel

1062    MIL
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

could not find code for Maldives
could not find code for Melbourne

429    DOH
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Jakarta

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1303    PHL
Name: Code, dtype: object

could not find code for Muscat

133    BKK
Name: Code, dtype: object

could not find code for Venice

1631    SYD
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Melbourne

429    DOH
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

could not find code for Singapore

104    ATL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

446    DUR
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

could not find code for Kiev

429    DOH
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

123    BAK
Name: Code, dtype: object

1660    THR
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

1457    SLL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

could not find code for Hong Kong

1631    SYD
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1576    SOF
Name: Code, dtype: object

618    HAN
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Muscat
could not find code for Hong Kong

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

386    DFW
Name: Code, dtype: object

could not find code for Melbourne

997    MAN
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Stockholm

364    CPH
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

could not find code for Melbourne

429    DOH
Name: Code, dtype: object

861    LOS
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Kuala Lumpur

133    BKK
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

1303    PHL
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

386    DFW
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Melbourne

410    DPS
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for New York

173    BER
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Stockholm

435    DXB
Name: Code, dtype: object

could not find code for London Heatrhow

423    DAC
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Frankfurt

16    ADL
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

could not find code for Berlin Tegel

16    ADL
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Venice

618    HAN
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

could not find code for Melbourne

1631    SYD
Name: Code, dtype: object

756    KHI
Name: Code, dtype: object

could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Melbourne

188    BHX
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Chicago

429    DOH
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Belgrade

429    DOH
Name: Code, dtype: object

could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

123    BAK
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

1576    SOF
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

646    SGN
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1305    PNH
Name: Code, dtype: object

963    LXR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Jakarta

263    CAI
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Muscat

275    CPT
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

390    DMM
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

63    ATQ
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

390    DMM
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

698    ISB
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

540    GVA
Name: Code, dtype: object

646    SGN
Name: Code, dtype: object

could not find code for Venice

1851    ZAG
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Washington DC

188    BHX
Name: Code, dtype: object

1540    SHJ
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for New York

100    ATH
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Kuala Lumpur

240    BRU
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

could not find code for Hong Kong

977    MAD
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

1420    RUH
Name: Code, dtype: object

could not find code for Tunis
could not find code for Frankfurt

429    DOH
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Krabi

64    AMS
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

1039    MED
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

1636    TIF
Name: Code, dtype: object

540    GVA
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

1303    PHL
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

could not find code for Paris CDG

429    DOH
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for doh TO sof

646    SGN
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1708    TOY
Name: Code, dtype: object

could not find code for Shanghai

1694    TYO
Name: Code, dtype: object

528    FUK
Name: Code, dtype: object

1695    HND
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Iwakuni

1475    SFO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

321    CTS
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Narita

1694    TYO
Name: Code, dtype: object

could not find code for Seoul
could not find code for Hong Kong

1694    TYO
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

1695    HND
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

could not find code for Chicago

1225    OKJ
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

could not find code for Hong Kong

1695    HND
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Haneda
could not find code for Tokyo Narita

1475    SFO
Name: Code, dtype: object

could not find code for Haneda
could not find code for Washington

133    BKK
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Haneda

133    BKK
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Kuala Lumpur

1694    TYO
Name: Code, dtype: object

could not find code for Okinawa Naha
could not find code for Osaka

1694    TYO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Singapore

1694    TYO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago
could not find code for Tokyo Narita
could not find code for Kuala Lumpur

1694    TYO
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Jakarta
could not find code for Tokyo Narita (NRT)
could not find code for Jakarta
could not find code for Tokyo Narita

1694    TYO
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for New York

528    FUK
Name: Code, dtype: object

could not find code for Narita
could not find code for Okinawa
could not find code for Kuala Lumpur

1631    SYD
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Houston
could not find code for Haneda

646    SGN
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for New York

1694    TYO
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Honolulu
could not find code for Nagoya
could not find code for Itami

1694    TYO
Name: Code, dtype: object

could not find code for Houston

1695    HND
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Tokyo ta

133    BKK
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

could not find code for Taipei

1694    TYO
Name: Code, dtype: object

645    SGN
Name: Code, dtype: object

could not find code for Okinawa

1001    MNL
Name: Code, dtype: object

1695    HND
Name: Code, dtype: object

1843    RGN
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1695    HND
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Jakarta
could not find code for Jakarta

402    DEL
Name: Code, dtype: object

could not find code for Hiroshima

944    LAX
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Tokyo-Haneda

1694    TYO
Name: Code, dtype: object

could not find code for Chicago

1695    HND
Name: Code, dtype: object

could not find code for Jakarta

1754    YVR
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

1695    HND
Name: Code, dtype: object

could not find code for Naha

133    BKK
Name: Code, dtype: object

could not find code for Singapore

1544    SHE
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

1695    HND
Name: Code, dtype: object

1305    PNH
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

could not find code for Frankfurt

1001    MNL
Name: Code, dtype: object

could not find code for New York
could not find code for Chicago
could not find code for Honolulu

1695    HND
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Hangzhou
could not find code for Jakarta

1695    HND
Name: Code, dtype: object

could not find code for Kuala Lumpur

1178    JFK
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Hiroshima
could not find code for Chicago

1695    HND
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Haneda
could not find code for New York

133    BKK
Name: Code, dtype: object

could not find code for Osaka
could not find code for Hong Kong
could not find code for Houston

133    BKK
Name: Code, dtype: object

could not find code for Frankfurt

1695    HND
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

could not find code for Chicago

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Washington

206    BOM
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

could not find code for Haneda
could not find code for Frankfurt

944    LAX
Name: Code, dtype: object

could not find code for New Chitose (Sapporo)
could not find code for Frankfurt
could not find code for Jakarta
could not find code for Washington
could not find code for Kuala Lumpur

1695    HND
Name: Code, dtype: object

could not find code for Kuala Lumpur

1631    SYD
Name: Code, dtype: object

could not find code for Osaka

944    LAX
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Washington Dulles
could not find code for Kuala Lumpur

1150    NGS
Name: Code, dtype: object

could not find code for Nagoya
could not find code for Hong Kong
could not find code for Tokyo Narita

133    BKK
Name: Code, dtype: object

1477    SJO
Name: Code, dtype: object

1695    HND
Name: Code, dtype: object

could not find code for Kansai
could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Kuala Lumpur
could not find code for Seoul Gimpo
could not find code for Kuala Lumpur

1305    PNH
Name: Code, dtype: object

could not find code for Jakarta

1694    TYO
Name: Code, dtype: object

207    BOM
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1695    HND
Name: Code, dtype: object

1150    NGS
Name: Code, dtype: object

could not find code for Tokyo Narita

1694    TYO
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

could not find code for Osaka
could not find code for Haneda
could not find code for Hong Kong
could not find code for Washington

1053    MEX
Name: Code, dtype: object

could not find code for Jakarta

1225    OKJ
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Sapporo New Chitose
could not find code for Haneda
could not find code for Kuala Lumpur
could not find code for Kuala Lumpur

154    PEK
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for IAh

133    BKK
Name: Code, dtype: object

could not find code for London Stansted

1278    PAR
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Baghdad

233    BNE
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

could not find code for New York

1104    YMQ
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Heathrow

214    BOS
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

551    GLA
Name: Code, dtype: object

1247    OSL
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

551    GLA
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

could not find code for Frankfurt

1631    SYD
Name: Code, dtype: object

325    CHC
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

could not find code for Singapore

240    BRU
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

could not find code for Singapore

732    JNB
Name: Code, dtype: object

287    CTA
Name: Code, dtype: object

could not find code for Kuala Lumpur

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1030    MUB
Name: Code, dtype: object

could not find code for Hong Kong

133    BKK
Name: Code, dtype: object

645    SGN
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Mauritius

435    DXB
Name: Code, dtype: object

446    DUR
Name: Code, dtype: object

307    MAA
Name: Code, dtype: object

could not find code for Taipei

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1194    NCE
Name: Code, dtype: object

could not find code for New York

108    AKL
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Tokyo Narita

1132    MUC
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for St Louis

188    BHX
Name: Code, dtype: object

551    GLA
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

could not find code for Amman

1178    JFK
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

could not find code for Trivandrum
could not find code for Lisbon
could not find code for Hamburg

233    BNE
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

813    KCZ
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

342    COK
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

1185    NCS
1186    NCL
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

could not find code for Seoul

435    DXB
Name: Code, dtype: object

could not find code for Mauritius

206    BOM
Name: Code, dtype: object

263    CAI
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1787    WAW
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Heathrow

845    KWI
Name: Code, dtype: object

could not find code for Kempegowda Bengaluru

435    DXB
Name: Code, dtype: object

could not find code for St Petersburg

997    MAN
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

756    KHI
Name: Code, dtype: object

could not find code for Chicago

818    CCU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Hong Kong

930    LGW
Name: Code, dtype: object

could not find code for United States

928    LGW
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

357    CKY
Name: Code, dtype: object

403    DEL
Name: Code, dtype: object

could not find code for Houston

435    DXB
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

could not find code for Tokyo Narita

423    DAC
Name: Code, dtype: object

could not find code for Orlando

1062    MIL
Name: Code, dtype: object

407    DPS
Name: Code, dtype: object

1185    NCS
1186    NCL
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

could not find code for Melbourne

435    DXB
Name: Code, dtype: object

could not find code for Tokyo Narita

133    BKK
Name: Code, dtype: object

928    LGW
Name: Code, dtype: object

1300    PEW
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Venice

435    DXB
Name: Code, dtype: object

307    MAA
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

928    LGW
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

407    DPS
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

813    KCZ
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

551    GLA
Name: Code, dtype: object

could not find code for Singapore

100    ATH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

131    BLR
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Houston
could not find code for Jakarta
could not find code for Stansted

1858    ZRH
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Kuala Lumpur

386    DFW
Name: Code, dtype: object

could not find code for Singapore

157    BEY
Name: Code, dtype: object

could not find code for Adélaïde

121    BAH
Name: Code, dtype: object

1420    RUH
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

342    COK
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

could not find code for Lisbon

435    DXB
Name: Code, dtype: object

813    KCZ
Name: Code, dtype: object

172    BGO
Name: Code, dtype: object

439    DBV
Name: Code, dtype: object

390    DMM
Name: Code, dtype: object

could not find code for Stockholm

121    BAH
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Houston

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

could not find code for Washington
could not find code for Washington

646    SGN
Name: Code, dtype: object

1510    SAO
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Houston
could not find code for New York

818    CCU
Name: Code, dtype: object

342    COK
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Mauritius
could not find code for New York
could not find code for New York

157    BEY
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

928    LGW
Name: Code, dtype: object

could not find code for Lisbon

435    DXB
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

1660    THR
Name: Code, dtype: object

756    KHI
Name: Code, dtype: object

could not find code for Hong Kong

435    DXB
Name: Code, dtype: object

756    KHI
Name: Code, dtype: object

could not find code for Chicago

133    BKK
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

could not find code for New York

435    DXB
Name: Code, dtype: object

could not find code for Johannesbug

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Amman

1420    RUH
Name: Code, dtype: object

could not find code for New York

435    DXB
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

could not find code for Melbourne

1153    NBO
Name: Code, dtype: object

could not find code for Houston

756    KHI
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

988    MLE
Name: Code, dtype: object

could not find code for Chicago

1858    ZRH
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Houston

1153    NBO
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Washington

100    ATH
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

could not find code for Tel Aviv

435    DXB
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Houston

1694    TYO
Name: Code, dtype: object

980    SEZ
Name: Code, dtype: object

could not find code for Houston

988    MLE
Name: Code, dtype: object

could not find code for Frankfurt

157    BEY
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

could not find code for New York

435    DXB
Name: Code, dtype: object

could not find code for Mexico

275    CPT
Name: Code, dtype: object

could not find code for Houston

157    BEY
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

could not find code for Tunisia

435    DXB
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Chicago

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Orlando

1701    YTO
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Chicago

435    DXB
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

813    KCZ
Name: Code, dtype: object

698    ISB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

263    CAI
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

205    BLQ
Name: Code, dtype: object

289    CBU
Name: Code, dtype: object

could not find code for Chicago

233    BNE
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Chicago
could not find code for Bruxelles

108    AKL
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

could not find code for Fort Lauderdale

402    DEL
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

could not find code for Mauritius

1694    TYO
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Saint-Petersburg

1859    ZRH
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

307    MAA
Name: Code, dtype: object

645    SGN
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

645    SGN
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

could not find code for Kuala Lumpur

121    BAH
Name: Code, dtype: object

could not find code for Singapore

108    AKL
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore

997    MAN
Name: Code, dtype: object

could not find code for Washington

997    MAN
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for London Stansted
could not find code for Orlando

307    MAA
Name: Code, dtype: object

646    SGN
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

988    MLE
Name: Code, dtype: object

could not find code for Shanghai

233    BNE
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

818    CCU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

207    BOM
Name: Code, dtype: object

could not find code for Venice

275    CPT
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1660    THR
Name: Code, dtype: object

could not find code for Chicago

133    BKK
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

could not find code for New York
could not find code for Hamburg

435    DXB
Name: Code, dtype: object

could not find code for New York

1296    PER
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

could not find code for Singapore
could not find code for Stansted
could not find code for Hong Kong

1278    PAR
Name: Code, dtype: object

could not find code for Lisbon
could not find code for Hong Kong

138    BCN
139    BLA
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

could not find code for Hong Kong

263    CAI
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Muscat
could not find code for Kuala Lumpur

1296    PER
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

could not find code for Amman

435    DXB
Name: Code, dtype: object

could not find code for Melbourne

240    BRU
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for New York

925    LON
926    YXU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

could not find code for Trivandrum

1062    MIL
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore

960    LUN
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

551    GLA
Name: Code, dtype: object

818    CCU
Name: Code, dtype: object

could not find code for Kuala Lumpur

925    LON
926    YXU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

767    KTM
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for New York

435    DXB
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

1420    RUH
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

698    ISB
Name: Code, dtype: object

could not find code for Melbourne

133    BKK
Name: Code, dtype: object

could not find code for Frankfurt

1181    EWR
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

988    MLE
Name: Code, dtype: object

could not find code for New Dehli

188    BHX
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Trivandrum

64    AMS
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

407    DPS
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

could not find code for Melbourne

133    BKK
Name: Code, dtype: object

could not find code for New York

307    MAA
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

1185    NCS
1186    NCL
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

325    CHC
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

could not find code for Singapore

352    CMB
Name: Code, dtype: object

could not find code for Melbourne

435    DXB
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Houston

437    DUB
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

could not find code for Singapore

1062    MIL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Krakow

188    BHX
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Venice

64    AMS
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

could not find code for Melbourne

15    ADD
Name: Code, dtype: object

407    DPS
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Singapore

435    DXB
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1787    WAW
Name: Code, dtype: object

could not find code for New York

435    DXB
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1185    NCS
1186    NCL
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Trivandrum
could not find code for Singapore

435    DXB
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

767    KTM
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

49    ALG
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

244    BUD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

928    LGW
Name: Code, dtype: object

could not find code for Singapore

930    LGW
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

could not find code for Melbourne

435    DXB
Name: Code, dtype: object

could not find code for Houston

1181    EWR
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

928    LGW
Name: Code, dtype: object

1247    OSL
Name: Code, dtype: object

1247    OSL
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Chicago

25    AMD
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

could not find code for Kuala Lumpur

925    LON
926    YXU
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1420    RUH
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

449    DUS
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Washington

1001    MNL
Name: Code, dtype: object

244    BUD
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

674    HDD
Name: Code, dtype: object

767    KTM
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

407    DPS
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

988    MLE
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

674    HDD
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

1153    NBO
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

could not find code for New York

435    DXB
Name: Code, dtype: object

263    CAI
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

could not find code for Taipei
could not find code for Singapore

15    ADD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

956    MLA
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

could not find code for New York

435    DXB
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

could not find code for Hamburg

233    BNE
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

551    GLA
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

767    KTM
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Kuala Lumpur

1247    OSL
Name: Code, dtype: object

could not find code for Singapore

435    DXB
Name: Code, dtype: object

could not find code for Hamburg
could not find code for Shanghai

930    LGW
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Trivandrum

1221    ODS
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

could not find code for Washington
could not find code for Stansted

352    CMB
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Orlando

1631    SYD
Name: Code, dtype: object

could not find code for Lisbon
could not find code for Jakarta
could not find code for Hong Kong

997    MAN
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Kuala Lumpur

1701    YTO
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

289    CBU
Name: Code, dtype: object

could not find code for Muscat

157    BEY
Name: Code, dtype: object

474    EBB
Name: Code, dtype: object

could not find code for Singapore

157    BEY
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

could not find code for Hamburg

1181    EWR
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Hamburg
could not find code for Melbourne
could not find code for New York

352    CMB
Name: Code, dtype: object

674    HDD
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

446    DUR
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1185    NCS
1186    NCL
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Houston

435    DXB
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

1153    NBO
Name: Code, dtype: object

785    KRT
Name: Code, dtype: object

could not find code for Moscow

108    AKL
Name: Code, dtype: object

could not find code for Santiago
could not find code for Maldives

188    BHX
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

could not find code for Washington

732    JNB
Name: Code, dtype: object

1851    ZAG
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

could not find code for Hong Kong

930    LGW
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for New York

925    LON
926    YXU
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

could not find code for Singapore

880    LCA
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Venice

275    CPT
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Washington
could not find code for Jakarta

674    HDD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

551    GLA
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

could not find code for Hong Kong

1132    MUC
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

could not find code for Melbourne

108    AKL
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Taipei
could not find code for Singapore

435    DXB
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

407    DPS
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

674    HDD
Name: Code, dtype: object

could not find code for Muscat

1858    ZRH
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Melbourne

104    ATL
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Hong Kong

133    BKK
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

551    GLA
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

325    CHC
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Ft Lauderdale

133    BKK
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

1305    PNH
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Chicago

100    ATH
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

674    HDD
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

could not find code for Chicago

1858    ZRH
Name: Code, dtype: object

1305    PNH
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

could not find code for Hong Kong

932    LHR
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

449    DUS
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1247    OSL
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

407    DPS
Name: Code, dtype: object

could not find code for Fort Lauderdale

263    CAI
Name: Code, dtype: object

289    CBU
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Detroit

435    DXB
Name: Code, dtype: object

could not find code for Heathrow

674    HDD
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

could not find code for Chicago
could not find code for Hamburg

551    GLA
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Amman

997    MAN
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

131    BLR
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

could not find code for Hamburg

240    BRU
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

325    CHC
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

could not find code for Kuala Lumpur

435    DXB
Name: Code, dtype: object

263    CAI
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Trivandrum

435    DXB
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

244    BUD
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

263    CAI
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

205    BLQ
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

could not find code for Jakarta

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

448    DUS
Name: Code, dtype: object

could not find code for Lisbon

214    BOS
Name: Code, dtype: object

674    HDD
Name: Code, dtype: object

could not find code for Moscow

435    DXB
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Frankfurt
could not find code for Hong Kong

925    LON
926    YXU
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

551    GLA
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

could not find code for New York

402    DEL
Name: Code, dtype: object

756    KHI
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Melbourne

1858    ZRH
Name: Code, dtype: object

988    MLE
Name: Code, dtype: object

966    LYS
Name: Code, dtype: object

could not find code for Frankfurt

1859    ZRH
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Malé

932    LHR
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

could not find code for New York
could not find code for Singapore
could not find code for Singapore

188    BHX
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Narita Tokyo
could not find code for Melbourne

551    GLA
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Hong Kong

435    DXB
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Frankfurt

263    CAI
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

813    KCZ
Name: Code, dtype: object

1787    WAW
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

551    GLA
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

25    AMD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Melbourne

1185    NCS
1186    NCL
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

244    BUD
Name: Code, dtype: object

551    GLA
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1843    RGN
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

could not find code for Chicago

133    BKK
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

263    CAI
Name: Code, dtype: object

could not find code for Singapore

1185    NCS
1186    NCL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

could not find code for Tokyo Narita

1694    TYO
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

325    CHC
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

244    BUD
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

25    AMD
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Singapore

551    GLA
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Melbourne

130    BLR
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Mauritius

64    AMS
Name: Code, dtype: object

956    MLA
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

307    MAA
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Melbourne

1278    PAR
Name: Code, dtype: object

could not find code for Taipei

997    MAN
Name: Code, dtype: object

785    KRT
Name: Code, dtype: object

could not find code for Kuala Lumpur

435    DXB
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

448    DUS
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Heathrow

130    BLR
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Lisbon

402    DEL
Name: Code, dtype: object

could not find code for Hong Kong

275    CPT
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

could not find code for Hong Kong

1296    PER
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

980    SEZ
Name: Code, dtype: object

1787    WAW
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

756    KHI
Name: Code, dtype: object

could not find code for Washington

930    LGW
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Taipei

214    BOS
Name: Code, dtype: object

could not find code for Muscat

997    MAN
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Singapore

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Hong Kong

1132    MUC
Name: Code, dtype: object

880    LCA
Name: Code, dtype: object

could not find code for New York

437    DUB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1185    NCS
1186    NCL
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

352    CMB
Name: Code, dtype: object

698    ISB
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

1787    WAW
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

325    CHC
Name: Code, dtype: object

551    GLA
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

could not find code for Jakarta

930    LGW
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Seoul Gimpo

1695    HND
Name: Code, dtype: object

could not find code for Singapore

1694    TYO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Frankfurt

1694    TYO
Name: Code, dtype: object

1695    HND
Name: Code, dtype: object

1515    SPK
Name: Code, dtype: object

528    FUK
Name: Code, dtype: object

could not find code for Jakarta

133    BKK
Name: Code, dtype: object

321    CTS
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Singapore

1694    TYO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Chicago

1178    JFK
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1695    HND
Name: Code, dtype: object

could not find code for New York

133    BKK
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

could not find code for Tokyo Narita

1178    JFK
Name: Code, dtype: object

could not find code for Melbourne

1694    TYO
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for New York

1695    HND
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

130    BLR
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

1695    HND
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Tan Son Nhat

1178    JFK
Name: Code, dtype: object

could not find code for Hong Kong

133    BKK
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

could not find code for Jakarta

1694    TYO
Name: Code, dtype: object

could not find code for Jakarta

1754    YVR
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

could not find code for Honolulu
could not find code for Chicago

944    LAX
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Tokyo Narita

1278    PAR
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Shanghai

1754    YVR
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Jakarta

1001    MNL
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Chicago

1694    TYO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Kuala Lumpur

1694    TYO
Name: Code, dtype: object

could not find code for Osaka

944    LAX
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Osaka

402    DEL
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

27    AXT
Name: Code, dtype: object

could not find code for Osaka Itami

1475    SFO
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Singapore Changi
could not find code for New York
could not find code for Melbourne

1526    SEA
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

could not find code for Jakarta

1631    SYD
Name: Code, dtype: object

could not find code for Tokyo Narita

154    PEK
Name: Code, dtype: object

646    SGN
Name: Code, dtype: object

could not find code for Okinawa

634    HEL
Name: Code, dtype: object

could not find code for Melbourne

1631    SYD
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Tokyo Narita

1695    HND
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for San Diego

1694    TYO
Name: Code, dtype: object

could not find code for Narita

932    LHR
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Tokyo Narita

1694    TYO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Singapore

1695    HND
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for New York

1694    TYO
Name: Code, dtype: object

could not find code for Tokyo Narita

1694    TYO
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

321    CTS
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Taipei
could not find code for Melbourne
could not find code for Narita, Tokyo
could not find code for Tokyo Narita

214    BOS
Name: Code, dtype: object

1695    HND
Name: Code, dtype: object

could not find code for Singapore
could not find code for Heathrow
could not find code for Frankfurt

528    FUK
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1695    HND
Name: Code, dtype: object

1360    PUS
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Paris CDG

1694    TYO
Name: Code, dtype: object

could not find code for Las Vegas
could not find code for Frankfurt
could not find code for Osaka

1694    TYO
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Tokyo Narita
could not find code for Shanghai

997    MAN
Name: Code, dtype: object

203    BOG
Name: Code, dtype: object

1318    TGD
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Kuala Lumpur

429    DOH
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

1820    VNO
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

246    BUE
Name: Code, dtype: object

276    CCS
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

could not find code for Kazan

701    IST
Name: Code, dtype: object

433    DLA
Name: Code, dtype: object

could not find code for Chicago

1475    SFO
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

988    MLE
Name: Code, dtype: object

could not find code for Singapore
could not find code for Bishkek

242    BUH
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Houston

1820    VNO
Name: Code, dtype: object

1845    YAO
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

could not find code for Kazan

701    IST
Name: Code, dtype: object

could not find code for Jakarta

701    IST
Name: Code, dtype: object

381    DLM
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

could not find code for Kazan

188    BHX
Name: Code, dtype: object

1749    VLC
1750    VLN
Name: Code, dtype: object

could not find code for Panama

104    ATL
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

could not find code for Antalia

701    IST
Name: Code, dtype: object

could not find code for Havana

1858    ZRH
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

242    BUH
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

could not find code for Singapore
could not find code for İstanbul

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

706    IZM
Name: Code, dtype: object

72    ANK
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

could not find code for Singapore

1475    SFO
Name: Code, dtype: object

could not find code for Kuala Lumpur

1356    PRN
Name: Code, dtype: object

could not find code for Washington

123    BAK
Name: Code, dtype: object

could not find code for Kuala Lumpur

1247    OSL
Name: Code, dtype: object

1576    SOF
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

448    DUS
Name: Code, dtype: object

173    BER
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Frankfurt

944    LAX
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

540    GVA
Name: Code, dtype: object

448    DUS
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Jakarta

1655    TBS
Name: Code, dtype: object

could not find code for Lefkosa ECN

701    IST
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

could not find code for Hong Kong

701    IST
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Biskek

706    IZM
Name: Code, dtype: object

77    AYT
Name: Code, dtype: object

could not find code for Belgrade

13    ACC
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

could not find code for Singapore
could not find code for New York

1436    ROM
Name: Code, dtype: object

1652    TAS
Name: Code, dtype: object

244    BUD
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

could not find code for Singapore

1660    THR
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

could not find code for Moscow

410    DPS
Name: Code, dtype: object

could not find code for Marrakesh

435    DXB
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

77    AYT
Name: Code, dtype: object

407    DPS
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Venice

133    BKK
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Kuala Lumpur

435    DXB
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

1660    THR
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

1618    STR
Name: Code, dtype: object

1518    SJJ
Name: Code, dtype: object

could not find code for China

435    DXB
Name: Code, dtype: object

could not find code for Heathrow

435    DXB
Name: Code, dtype: object

could not find code for Abuja

701    IST
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

390    DMM
Name: Code, dtype: object

could not find code for Constanta

944    LAX
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

1413    RIX
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Amman

1056    MIA
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

could not find code for Stockholm

410    DPS
Name: Code, dtype: object

1652    TAS
Name: Code, dtype: object

618    HAN
Name: Code, dtype: object

154    PEK
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Tallinn

188    BHX
Name: Code, dtype: object

173    BER
Name: Code, dtype: object

could not find code for Chicago

435    DXB
Name: Code, dtype: object

350    CGN
Name: Code, dtype: object

698    ISB
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

1655    TBS
Name: Code, dtype: object

could not find code for Singapore

100    ATH
Name: Code, dtype: object

774    ASR
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1420    RUH
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

77    AYT
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

15    ADD
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Antaya

944    LAX
Name: Code, dtype: object

could not find code for Katowice

944    LAX
Name: Code, dtype: object

could not find code for New Yok

701    IST
Name: Code, dtype: object

could not find code for Singapore

701    IST
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

could not find code for Lisbon
could not find code for New York
could not find code for New York
could not find code for Canada

402    DEL
Name: Code, dtype: object

1194    NCE
Name: Code, dtype: object

could not find code for Dallas Fort-Worth
could not find code for New York

701    IST
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

244    BUD
Name: Code, dtype: object

could not find code for Jeddah

1475    SFO
Name: Code, dtype: object

449    DUS
Name: Code, dtype: object

386    DFW
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

could not find code for Frankfurt

1858    ZRH
Name: Code, dtype: object

could not find code for Frankfurt

100    ATH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1247    OSL
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Singapore

138    BCN
139    BLA
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Bishkek

456    EDI
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

448    DUS
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

244    BUD
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

could not find code for Chicago

244    BUD
Name: Code, dtype: object

could not find code for Hong Kong

448    DUS
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

could not find code for Houston

407    DPS
Name: Code, dtype: object

could not find code for Singapore

474    EBB
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Frankfurt

701    IST
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

77    AYT
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Washington

1001    MNL
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Washington
could not find code for Jeddah

1754    YVR
Name: Code, dtype: object

could not find code for Tel Aviv

1820    VNO
Name: Code, dtype: object

could not find code for Jeddah

1132    MUC
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1159    NAP
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

could not find code for Alanya

1436    ROM
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

could not find code for Malaysia

1475    SFO
Name: Code, dtype: object

could not find code for Tel Aviv
could not find code for Tel Aviv

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1618    STR
Name: Code, dtype: object

could not find code for Tel Aviv
could not find code for İstanbul

384    DAL
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

956    MLA
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

987    AGP
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1568    SKP
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

202    BJV
Name: Code, dtype: object

could not find code for New York

944    LAX
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

448    DUS
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

1568    SKP
Name: Code, dtype: object

185    BLL
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Tel Aviv

701    IST
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Kuala Lumpur

1181    EWR
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Jakarta

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

72    ANK
Name: Code, dtype: object

could not find code for Singapore

121    BAH
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

could not find code for Moscow
could not find code for Houston

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

767    KTM
Name: Code, dtype: object

956    MLA
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for New York

1278    PAR
Name: Code, dtype: object

could not find code for Detroit
could not find code for Chicago

100    ATH
Name: Code, dtype: object

could not find code for Frankfurt

944    LAX
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

173    BER
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

could not find code for Milan Malpensa
could not find code for New York
could not find code for Ercan
could not find code for Kuala Lumpur

244    BUD
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

72    ANK
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

77    AYT
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Frankfurt

701    IST
Name: Code, dtype: object

could not find code for Kuala Lumpur

410    DPS
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Chicago

701    IST
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

could not find code for Singapore

188    BHX
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1851    ZAG
Name: Code, dtype: object

could not find code for Singapore

767    KTM
Name: Code, dtype: object

could not find code for Washington

1056    MIA
Name: Code, dtype: object

could not find code for Teheran

1655    TBS
Name: Code, dtype: object

242    BUH
Name: Code, dtype: object

242    BUH
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

could not find code for India
could not find code for Panama

701    IST
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Venice

1178    JFK
Name: Code, dtype: object

767    KTM
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

could not find code for Washington

437    DUB
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

could not find code for Washington

701    IST
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

756    KHI
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

756    KHI
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

173    BER
Name: Code, dtype: object

381    DLM
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

could not find code for Kazakhstan

1576    SOF
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Cluj-Napoca

214    BOS
Name: Code, dtype: object

could not find code for Hamburg

701    IST
Name: Code, dtype: object

could not find code for Kiev

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Washington

861    LOS
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Sochi
could not find code for Saint Petersburg
could not find code for Washington tyo Tehran

1086    MGQ
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1660    THR
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

987    AGP
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

could not find code for Houston

1056    MIA
Name: Code, dtype: object

756    KHI
Name: Code, dtype: object

1660    THR
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

could not find code for Houston

863    LHE
Name: Code, dtype: object

could not find code for Houston

384    DAL
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago

1247    OSL
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

386    DFW
Name: Code, dtype: object

could not find code for Almaty

1001    MNL
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago

701    IST
Name: Code, dtype: object

381    DLM
Name: Code, dtype: object

433    DLA
Name: Code, dtype: object

could not find code for Houston

925    LON
926    YXU
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

486    LYP
Name: Code, dtype: object

could not find code for Houston
could not find code for Singapore
could not find code for Frankfurt

956    MLA
Name: Code, dtype: object

could not find code for Chicago

634    HEL
Name: Code, dtype: object

could not find code for Chicago

1056    MIA
Name: Code, dtype: object

could not find code for Panama City

435    DXB
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

could not find code for Frankfurt

701    IST
Name: Code, dtype: object

could not find code for Taipei
could not find code for Tunis

701    IST
Name: Code, dtype: object

1655    TBS
Name: Code, dtype: object

could not find code for Chicago
could not find code for Marrakesh
could not find code for Toulouse
could not find code for MIami
could not find code for Parisnto Kiev
could not find code for Washington

435    DXB
Name: Code, dtype: object

145    BSL
Name: Code, dtype: object

386    DFW
Name: Code, dtype: object

could not find code for İzmir

100    ATH
Name: Code, dtype: object

could not find code for Odesa
could not find code for Houston

263    CAI
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

863    LHE
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

could not find code for Washington

701    IST
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

263    CAI
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1020    MRS
Name: Code, dtype: object

could not find code for Houston

944    LAX
Name: Code, dtype: object

173    BER
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

could not find code for Chicago O'Hare

701    IST
Name: Code, dtype: object

173    BER
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

1655    TBS
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

could not find code for Kyiv

364    CPH
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

1652    TAS
Name: Code, dtype: object

could not find code for Odesa

701    IST
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

could not find code for Bishkek

100    ATH
Name: Code, dtype: object

863    LHE
Name: Code, dtype: object

1787    WAW
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1576    SOF
Name: Code, dtype: object

1851    ZAG
Name: Code, dtype: object

could not find code for Baghdad

701    IST
Name: Code, dtype: object

could not find code for Hong Kong

1787    WAW
Name: Code, dtype: object

could not find code for Houston

1181    EWR
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

350    CGN
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for New York

1701    YTO
Name: Code, dtype: object

could not find code for Hong Kong

1056    MIA
Name: Code, dtype: object

could not find code for Mexico

100    ATH
Name: Code, dtype: object

could not find code for Phoenix

77    AYT
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

921    LJU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

756    KHI
Name: Code, dtype: object

242    BUH
Name: Code, dtype: object

988    MLE
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

962    LUX
Name: Code, dtype: object

540    GVA
Name: Code, dtype: object

340    CLJ
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Kiyv

214    BOS
Name: Code, dtype: object

1193    NIM
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Chicago

908    LIM
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

756    KHI
Name: Code, dtype: object

could not find code for Washington
could not find code for Chicago

435    DXB
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

1655    TBS
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

350    CGN
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

1221    ODS
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1660    THR
Name: Code, dtype: object

could not find code for İstanbul

701    IST
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1820    VNO
Name: Code, dtype: object

could not find code for Moscow

1701    YTO
Name: Code, dtype: object

740    KBL
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

1086    MGQ
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Jakarta
could not find code for New York

740    KBL
Name: Code, dtype: object

could not find code for Huston

701    IST
Name: Code, dtype: object

956    MLA
Name: Code, dtype: object

could not find code for Tel Aviv

1278    PAR
Name: Code, dtype: object

756    KHI
Name: Code, dtype: object

15    ADD
Name: Code, dtype: object

394    DAR
Name: Code, dtype: object

15    ADD
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

785    KRT
Name: Code, dtype: object

could not find code for Kuala Lumpur

1660    THR
Name: Code, dtype: object

could not find code for New York

1436    ROM
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1221    ODS
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Lviv

1056    MIA
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

668    HRG
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

863    LHE
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

921    LJU
Name: Code, dtype: object

could not find code for Kuala Lumpur

592    GRU
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

1547    SYZ
Name: Code, dtype: object

could not find code for Turkey

701    IST
Name: Code, dtype: object

77    AYT
Name: Code, dtype: object

966    LYS
Name: Code, dtype: object

could not find code for Seoul

701    IST
Name: Code, dtype: object

145    BSL
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

863    LHE
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago

701    IST
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

988    MLE
Name: Code, dtype: object

could not find code for Chicago

701    IST
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

863    LHE
Name: Code, dtype: object

861    LOS
Name: Code, dtype: object

could not find code for Houston
could not find code for Jakarta
could not find code for Moscow
could not find code for ISTANBUL

1119    VKO
Name: Code, dtype: object

13    ACC
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Istambul
could not find code for Hong Kong

701    IST
Name: Code, dtype: object

could not find code for Moscow
could not find code for Moscow

1858    ZRH
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

863    LHE
Name: Code, dtype: object

289    CBU
Name: Code, dtype: object

173    BER
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Kuala Lumpur

138    BCN
139    BLA
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Chicago

701    IST
Name: Code, dtype: object

could not find code for Washington DC

423    DAC
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

72    ANK
Name: Code, dtype: object

could not find code for Moscow

997    MAN
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Singapore

423    DAC
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

could not find code for Singapore

138    BCN
139    BLA
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Denver
could not find code for Hong Kong

1652    TAS
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Houston

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Panama City

263    CAI
Name: Code, dtype: object

1618    STR
Name: Code, dtype: object

1510    SAO
Name: Code, dtype: object

could not find code for Chicago

925    LON
926    YXU
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

72    ANK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

773    ASR
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

980    SEZ
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1601    LED
Name: Code, dtype: object

203    BOG
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

could not find code for New York

925    LON
926    YXU
Name: Code, dtype: object

956    MLA
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1618    STR
Name: Code, dtype: object

could not find code for Kuala Lumpur

767    KTM
Name: Code, dtype: object

could not find code for Chicago

701    IST
Name: Code, dtype: object

988    MLE
Name: Code, dtype: object

634    HEL
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

380    DKR
Name: Code, dtype: object

1652    TAS
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

390    DMM
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

394    DAR
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Stockholm

133    BKK
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Jakarta

263    CAI
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

123    BAK
Name: Code, dtype: object

1734    ULN
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Milano

77    AYT
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

could not find code for Frankfurt

701    IST
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Taipei

435    DXB
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Lisbon
could not find code for Houston

956    MLA
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

987    AGP
Name: Code, dtype: object

668    HRG
Name: Code, dtype: object

863    LHE
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

648    SGN
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

350    CGN
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

123    BAK
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

could not find code for Washington

1056    MIA
Name: Code, dtype: object

could not find code for Chicago

263    CAI
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Singapore

701    IST
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

could not find code for Singapore

188    BHX
Name: Code, dtype: object

could not find code for Kuala Lumpur

1851    ZAG
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

could not find code for Lisbon

1701    YTO
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Chicago

263    CAI
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

1576    SOF
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

774    ASR
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Singapore

275    CPT
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Washington

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Frankfurt

1062    MIL
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

1216    NUE
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

381    DLM
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Lvov

701    IST
Name: Code, dtype: object

could not find code for İstanbul

72    ANK
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for New York

188    BHX
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Mauritius

701    IST
Name: Code, dtype: object

could not find code for Kiev

701    IST
Name: Code, dtype: object

could not find code for İstanbul

930    LGW
Name: Code, dtype: object

could not find code for Kuala Lumpur

701    IST
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

202    BJV
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Amman

1858    ZRH
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Houston

701    IST
Name: Code, dtype: object

could not find code for Hong Kong

825    KSC
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

244    BUD
Name: Code, dtype: object

could not find code for New York

925    LON
926    YXU
Name: Code, dtype: object

1568    SKP
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

822    KYA
Name: Code, dtype: object

244    BUD
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

390    DMM
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1576    SOF
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1787    WAW
Name: Code, dtype: object

could not find code for Singapore

944    LAX
Name: Code, dtype: object

928    LGW
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Kuala Lumpur

1062    MIL
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Stockholm

1178    JFK
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

202    BJV
Name: Code, dtype: object

could not find code for Kinshasa

1349    PRG
Name: Code, dtype: object

756    KHI
Name: Code, dtype: object

could not find code for Houston

15    ADD
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

448    DUS
Name: Code, dtype: object

14    ADA
Name: Code, dtype: object

could not find code for Tel Aviv
could not find code for New York
could not find code for Havana

390    DMM
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

774    ASR
Name: Code, dtype: object

could not find code for Kiev

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Kuala Lumpur

64    AMS
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

could not find code for Alexandria

701    IST
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

could not find code for New York

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

774    ASR
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Kuala Lumpur

701    IST
Name: Code, dtype: object

could not find code for Tel Aviv

8    AUH
Name: Code, dtype: object

13    ACC
Name: Code, dtype: object

could not find code for New York

701    IST
Name: Code, dtype: object

could not find code for Kiev
could not find code for Kiev

701    IST
Name: Code, dtype: object

could not find code for Tel Aviv

767    KTM
Name: Code, dtype: object

could not find code for Moscow

15    ADD
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Kigali
could not find code for Singapore

1056    MIA
Name: Code, dtype: object

429    DOH
Name: Code, dtype: object

could not find code for Chișinău
could not find code for Chisinau

402    DEL
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

could not find code for Mombasa

925    LON
926    YXU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

could not find code for Washington Dulles

206    BOM
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

145    BSL
Name: Code, dtype: object

8    AUH
Name: Code, dtype: object

could not find code for Venice
could not find code for New York

1660    THR
Name: Code, dtype: object

could not find code for Belgrade

437    DUB
Name: Code, dtype: object

could not find code for Houston

1652    TAS
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Nakhchivan

932    LHR
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

706    IZM
Name: Code, dtype: object

403    DEL
Name: Code, dtype: object

could not find code for Singapore

123    BAK
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

767    KTM
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

591    CAN
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

861    LOS
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Venice
could not find code for Singapore

634    HEL
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

668    HRG
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for New York

1001    MNL
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

618    HAN
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

72    ANK
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

966    LYS
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

1153    NBO
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

785    KRT
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

634    HEL
Name: Code, dtype: object

381    DLM
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

987    AGP
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

could not find code for New York

1475    SFO
Name: Code, dtype: object

could not find code for Kuala Lumpur

1005    MPM
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

173    BER
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

could not find code for Tel Aviv

701    IST
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

980    SEZ
Name: Code, dtype: object

767    KTM
Name: Code, dtype: object

could not find code for Sharm el Sheikh

701    IST
Name: Code, dtype: object

could not find code for Tel Aviv

123    BAK
Name: Code, dtype: object

1510    SAO
Name: Code, dtype: object

could not find code for İstanbul

1701    YTO
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

1652    TAS
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Alexandria

206    BOM
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Kilaminjaro
could not find code for Stockholm

863    LHE
Name: Code, dtype: object

446    DUR
Name: Code, dtype: object

could not find code for New York
could not find code for Tirana

275    CPT
Name: Code, dtype: object

could not find code for New York

1420    RUH
Name: Code, dtype: object

could not find code for Belgrade

925    LON
926    YXU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

could not find code for Washington

785    KRT
Name: Code, dtype: object

173    BER
Name: Code, dtype: object

928    LGW
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

could not find code for Taipei
could not find code for Chicago

925    LON
926    YXU
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Istanbul Atatürk

701    IST
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

72    ANK
Name: Code, dtype: object

72    ANK
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

706    IZM
Name: Code, dtype: object

could not find code for Tel Aviv

706    IZM
Name: Code, dtype: object

263    CAI
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

350    CGN
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

863    LHE
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

could not find code for Lvov

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Lisbon

154    PEK
Name: Code, dtype: object

could not find code for Yaoundé

701    IST
Name: Code, dtype: object

340    CLJ
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1851    ZAG
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

could not find code for Kiev

1749    VLC
1750    VLN
Name: Code, dtype: object

could not find code for Venice
could not find code for Gothenburg

381    DLM
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

77    AYT
Name: Code, dtype: object

could not find code for Venice

77    AYT
Name: Code, dtype: object

6    ABJ
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Washington

429    DOH
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

423    DAC
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1859    ZRH
Name: Code, dtype: object

173    BER
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

863    LHE
Name: Code, dtype: object

439    DBV
Name: Code, dtype: object

could not find code for Heathrow

987    AGP
Name: Code, dtype: object

185    BLL
Name: Code, dtype: object

928    LGW
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Detroit
could not find code for New York

1104    YMQ
Name: Code, dtype: object

756    KHI
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Singapore

1660    THR
Name: Code, dtype: object

1413    RIX
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

could not find code for Washington

925    LON
926    YXU
Name: Code, dtype: object

863    LHE
Name: Code, dtype: object

242    BUH
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Moscow

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Kinshasa

1420    RUH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

276    CCS
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Tel Aviv

774    ASR
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Singapore

1001    MNL
Name: Code, dtype: object

173    BER
Name: Code, dtype: object

could not find code for Washington

921    LJU
Name: Code, dtype: object

could not find code for Calgary
could not find code for Minsk

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

49    ALG
Name: Code, dtype: object

1851    ZAG
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for New York
could not find code for Oporto
could not find code for Singapore

701    IST
Name: Code, dtype: object

could not find code for Paris CDG

1056    MIA
Name: Code, dtype: object

could not find code for Toulouse

1056    MIA
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago

701    IST
Name: Code, dtype: object

980    SEZ
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1086    MGQ
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Hamburg
could not find code for New York

1436    ROM
Name: Code, dtype: object

could not find code for Houston
could not find code for Pisa
could not find code for Chicago
could not find code for Chicago

206    BOM
Name: Code, dtype: object

77    AYT
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

could not find code for Muscat

214    BOS
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

448    DUS
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Singapore

932    LHR
Name: Code, dtype: object

449    DUS
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

1356    PRN
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

774    ASR
Name: Code, dtype: object

could not find code for Washington

263    CAI
Name: Code, dtype: object

could not find code for Taipei

154    PEK
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1420    RUH
Name: Code, dtype: object

could not find code for Shanghai

930    LGW
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for New York
could not find code for Mauritius

706    IZM
Name: Code, dtype: object

173    BER
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

242    BUH
Name: Code, dtype: object

could not find code for Moscow

701    IST
Name: Code, dtype: object

could not find code for Houston
could not find code for Houston

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Jakarta

701    IST
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

could not find code for Tel Aviv
could not find code for Gothenburg
could not find code for Belgrade
could not find code for Thessaloniki
could not find code for Chicago
could not find code for Stockholm

240    BRU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

1655    TBS
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

could not find code for Frankfurt

701    IST
Name: Code, dtype: object

825    KSC
Name: Code, dtype: object

could not find code for Chicago

701    IST
Name: Code, dtype: object

could not find code for Napoli

925    LON
926    YXU
Name: Code, dtype: object

921    LJU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

could not find code for İstanbul
could not find code for Washington

1132    MUC
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

540    GVA
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

1039    MED
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

could not find code for Mombasa

701    IST
Name: Code, dtype: object

988    MLE
Name: Code, dtype: object

13    ACC
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

634    HEL
Name: Code, dtype: object

could not find code for Frankfurt

925    LON
926    YXU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

774    ASR
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

244    BUD
Name: Code, dtype: object

767    KTM
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

77    AYT
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

246    BUE
Name: Code, dtype: object

could not find code for Washington

701    IST
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Houston

104    ATL
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Jakarta

701    IST
Name: Code, dtype: object

could not find code for Mashad
could not find code for Frankfurt

104    ATL
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

could not find code for Tel Aviv

701    IST
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Houston

997    MAN
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

could not find code for Houston

1178    JFK
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Giresun
could not find code for Mauritius
could not find code for New York

77    AYT
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Was

1701    YTO
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

350    CGN
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Hong Kong

100    ATH
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

246    BUE
Name: Code, dtype: object

390    DMM
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

could not find code for Jakarta

701    IST
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Chicago

1153    NBO
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

381    DLM
Name: Code, dtype: object

185    BLL
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

49    ALG
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1247    OSL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

could not find code for Moscow

701    IST
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Tel Aviv

437    DUB
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

154    PEK
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

could not find code for Seoul

925    LON
926    YXU
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

1413    RIX
Name: Code, dtype: object

could not find code for Kuala Lumpur

1436    ROM
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

263    CAI
Name: Code, dtype: object

845    KWI
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Kuala Lumpur

701    IST
Name: Code, dtype: object

1518    SJJ
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Venice
could not find code for Cluj-Napoca
could not find code for Tallin
could not find code for Kiev

188    BHX
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

1655    TBS
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

could not find code for Tel Aviv
could not find code for Singapore

701    IST
Name: Code, dtype: object

could not find code for Singapore

701    IST
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

could not find code for Frankfurt

64    AMS
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Kuala Lumpur

767    KTM
Name: Code, dtype: object

could not find code for Moscow

1858    ZRH
Name: Code, dtype: object

could not find code for Belgrade

104    ATL
Name: Code, dtype: object

could not find code for Dushanbe

138    BCN
139    BLA
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

could not find code for Singapore

203    BOG
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

could not find code for IA
could not find code for BXH toCPT

1278    PAR
Name: Code, dtype: object

could not find code for Singapore

997    MAN
Name: Code, dtype: object

203    BOG
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

could not find code for Haneda

244    BUD
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

646    SGN
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Dallas Fort-Worth

538    GDN
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Venice

1436    ROM
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Chicago

1278    PAR
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Antanarivo

1278    PAR
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

could not find code for Shanghai

206    BOM
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1247    OSL
Name: Code, dtype: object

205    BLQ
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

could not find code for Rabat

925    LON
926    YXU
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Haneda
could not find code for Raleigh Durham

1278    PAR
Name: Code, dtype: object

could not find code for París CDG
could not find code for New York

1436    ROM
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

1020    MRS
Name: Code, dtype: object

282    CAS
Name: Code, dtype: object

could not find code for Lisbon

1858    ZRH
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

could not find code for New York
could not find code for Kansai

1020    MRS
Name: Code, dtype: object

could not find code for Dallas Fort-Worth

206    BOM
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

could not find code for Oran

1349    PRG
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

1020    MRS
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

403    DEL
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1159    NAP
Name: Code, dtype: object

could not find code for New York
could not find code for Strasbourg

1178    JFK
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

could not find code for Paris Orly
could not find code for Marseilles

214    BOS
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1477    SJO
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

274    CUN
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

244    BUD
Name: Code, dtype: object

448    DUS
Name: Code, dtype: object

908    LIM
Name: Code, dtype: object

could not find code for Paris Orly

203    BOG
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

966    LYS
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

924    LFW
Name: Code, dtype: object

274    CUN
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1477    SJO
Name: Code, dtype: object

456    EDI
Name: Code, dtype: object

could not find code for Hamburg

1278    PAR
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Chicago

997    MAN
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1053    MEX
Name: Code, dtype: object

1373    PUJ
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

449    DUS
Name: Code, dtype: object

could not find code for Paris Orly
could not find code for Mauritius

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

242    BUH
Name: Code, dtype: object

could not find code for Washington

203    BOG
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for New U=York
could not find code for New York

1278    PAR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Hamburg

104    ATL
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

could not find code for Singapore

997    MAN
Name: Code, dtype: object

357    CKY
Name: Code, dtype: object

could not find code for Montréal

1278    PAR
Name: Code, dtype: object

could not find code for New York

1718    TRD
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

242    BUH
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Orlando
could not find code for New York
could not find code for Washington

1278    PAR
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for New York

1858    ZRH
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1791    WAS
Name: Code, dtype: object

could not find code for Paris CDG

1020    MRS
Name: Code, dtype: object

could not find code for Seoul

925    LON
926    YXU
Name: Code, dtype: object

384    DAL
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

could not find code for Senegal

1159    NAP
Name: Code, dtype: object

966    LYS
Name: Code, dtype: object

could not find code for Lisbon

173    BER
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1153    NBO
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

could not find code for Firenze

1104    YMQ
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for New York

206    BOM
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Osaka

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

could not find code for Paris CDG

1278    PAR
Name: Code, dtype: object

could not find code for Washington

732    JNB
Name: Code, dtype: object

173    BER
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

540    GVA
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Paris, France

357    CKY
Name: Code, dtype: object

could not find code for Abuja

1278    PAR
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

could not find code for Paris CDG

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Tel Aviv

1278    PAR
Name: Code, dtype: object

357    CKY
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

could not find code for Houston

977    MAD
Name: Code, dtype: object

could not find code for Detroit

242    BUH
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Tunis

206    BOM
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

244    BUD
Name: Code, dtype: object

could not find code for Washington

1194    NCE
Name: Code, dtype: object

could not find code for Colombo, Sri Lanka

1278    PAR
Name: Code, dtype: object

211    BOD
Name: Code, dtype: object

could not find code for Chicago

1436    ROM
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Frankfurt

1278    PAR
Name: Code, dtype: object

could not find code for New York

925    LON
926    YXU
Name: Code, dtype: object

357    CKY
Name: Code, dtype: object

could not find code for Mosco

932    LHR
Name: Code, dtype: object

could not find code for Washington

1062    MIL
Name: Code, dtype: object

could not find code for Tunis

1278    PAR
Name: Code, dtype: object

could not find code for San José

138    BCN
139    BLA
Name: Code, dtype: object

515    FOR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

could not find code for Washington

997    MAN
Name: Code, dtype: object

could not find code for Lisbon

64    AMS
Name: Code, dtype: object

could not find code for Paris CDG

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Washington

944    LAX
Name: Code, dtype: object

could not find code for Moscow
could not find code for Chicago

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

could not find code for Bangkok,
could not find code for Paris CDG

1655    TBS
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

145    BSL
Name: Code, dtype: object

1153    NBO
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

701    IST
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

could not find code for Paris CDG

1851    ZAG
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

could not find code for Marseilles
could not find code for Georgia

148    BIA
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Kiev

944    LAX
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

1576    SOF
Name: Code, dtype: object

could not find code for Frankfurt

1278    PAR
Name: Code, dtype: object

could not find code for New York

1278    PAR
Name: Code, dtype: object

could not find code for New York

263    CAI
Name: Code, dtype: object

1247    OSL
Name: Code, dtype: object

could not find code for Marrakech

944    LAX
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

503    FDF
Name: Code, dtype: object

could not find code for Hamburg

64    AMS
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

205    BLQ
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

1104    YMQ
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Paris CDG

1349    PRG
Name: Code, dtype: object

could not find code for Detroit

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Salt Lake City

4    ABZ
Name: Code, dtype: object

could not find code for Paris CDG
could not find code for Stockholm
could not find code for Bogotá

997    MAN
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

4    ABZ
Name: Code, dtype: object

242    BUH
Name: Code, dtype: object

1053    MEX
Name: Code, dtype: object

could not find code for New York

1278    PAR
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

498    FLR
Name: Code, dtype: object

could not find code for Paris CDG
could not find code for New York
could not find code for Paris CDG
could not find code for Paris CDG
could not find code for Paris CDG

1278    PAR
Name: Code, dtype: object

could not find code for Paris CDG
could not find code for Paris CDG
could not find code for Lisbon

145    BSL
Name: Code, dtype: object

could not find code for Paris CDG

1185    NCS
1186    NCL
Name: Code, dtype: object

203    BOG
Name: Code, dtype: object

966    LYS
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Venice

188    BHX
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1210    NKC
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Kiev
could not find code for Paris CDG

1062    MIL
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Mauritius

1278    PAR
Name: Code, dtype: object

could not find code for Paris CDG

437    DUB
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Havana

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Toulouse

1132    MUC
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

503    FDF
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Hong Kong

233    BNE
Name: Code, dtype: object

could not find code for Frankfurt

1278    PAR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

145    BSL
Name: Code, dtype: object

could not find code for Frankfurt

1132    MUC
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

could not find code for Paris CDG

925    LON
926    YXU
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

131    BLR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for New York

133    BKK
Name: Code, dtype: object

could not find code for Papeete

646    SGN
Name: Code, dtype: object

could not find code for Singapore

1787    WAW
Name: Code, dtype: object

1053    MEX
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Nuremburg

435    DXB
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Cancún

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1053    MEX
Name: Code, dtype: object

369    ORK
Name: Code, dtype: object

522    FNA
Name: Code, dtype: object

203    BOG
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

188    BHX
Name: Code, dtype: object

522    FNA
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

274    CUN
Name: Code, dtype: object

could not find code for Moscow

1278    PAR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Paris CDG

1193    NIM
Name: Code, dtype: object

1342    OPO
Name: Code, dtype: object

could not find code for Paris CDG

288    CAY
Name: Code, dtype: object

could not find code for Paris Orly

1278    PAR
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

could not find code for Paris CDG

944    LAX
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1660    THR
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Stockholm

49    ALG
Name: Code, dtype: object

could not find code for Mauritius

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Mauritius
could not find code for Washington

1056    MIA
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Detroit

1475    SFO
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Washington
could not find code for San Diego

1403    RNS
Name: Code, dtype: object

157    BEY
Name: Code, dtype: object

could not find code for Washington

1278    PAR
Name: Code, dtype: object

could not find code for Belgrade

944    LAX
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1185    NCS
1186    NCL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

203    BOG
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Shanghai

1278    PAR
Name: Code, dtype: object

100    ATH
Name: Code, dtype: object

could not find code for Paris CDG

944    LAX
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

1194    NCE
Name: Code, dtype: object

could not find code for Singapore
could not find code for Shanghai

1278    PAR
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Tel Aviv
could not find code for Mauritius

1278    PAR
Name: Code, dtype: object

1056    MIA
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

could not find code for Singapore

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Paris CDG
could not find code for Paris CDG
could not find code for New York

540    GVA
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

448    DUS
Name: Code, dtype: object

could not find code for Singapore

435    DXB
Name: Code, dtype: object

could not find code for Paris CDG

1278    PAR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1062    MIL
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

522    FNA
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

could not find code for Paris Orly

977    MAD
Name: Code, dtype: object

244    BUD
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Paris CDG

130    BLR
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

1417    RIO
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

282    CAS
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1194    NCE
Name: Code, dtype: object

could not find code for Geneva and Paris CDG
could not find code for Malé

1278    PAR
Name: Code, dtype: object

could not find code for Chicago

925    LON
926    YXU
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Moscow

1278    PAR
Name: Code, dtype: object

could not find code for Southampton
could not find code for Lisbon

100    ATH
Name: Code, dtype: object

could not find code for Orly
could not find code for Reunion

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1159    NAP
Name: Code, dtype: object

could not find code for Heathrow

246    BUE
Name: Code, dtype: object

could not find code for Berlin TXL

1278    PAR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Paris CDG

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Lisbon
could not find code for Tel Avivi

275    CPT
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

could not find code for Hamburg

932    LHR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1194    NCE
Name: Code, dtype: object

203    BOG
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Papeete

977    MAD
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Hamburg

925    LON
926    YXU
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Shanghai

1475    SFO
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Paris Orly

288    CAY
Name: Code, dtype: object

could not find code for Paris-Orly

64    AMS
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Paris CDG

203    BOG
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Paris CDG

437    DUB
Name: Code, dtype: object

131    BLR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

263    CAI
Name: Code, dtype: object

could not find code for Point-a-Pitre

1278    PAR
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

could not find code for Paris CDG

437    DUB
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

104    ATL
Name: Code, dtype: object

could not find code for Ljubliana

1278    PAR
Name: Code, dtype: object

966    LYS
Name: Code, dtype: object

240    BRU
Name: Code, dtype: object

1132    MUC
Name: Code, dtype: object

could not find code for Paris CDG

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

26    AJA
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

could not find code for Paris CDG

64    AMS
Name: Code, dtype: object

could not find code for Paris CDG

997    MAN
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

498    FLR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

211    BOD
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

498    FLR
Name: Code, dtype: object

could not find code for Paris CDG
could not find code for Washington

1278    PAR
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1576    SOF
Name: Code, dtype: object

1349    PRG
Name: Code, dtype: object

could not find code for Paris CDG

1754    YVR
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Cameroon
could not find code for Paris CDG

1178    JFK
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1510    SAO
Name: Code, dtype: object

448    DUS
Name: Code, dtype: object

908    LIM
Name: Code, dtype: object

could not find code for Singapore

1185    NCS
1186    NCL
Name: Code, dtype: object

364    CPH
Name: Code, dtype: object

could not find code for Paris CDG

944    LAX
Name: Code, dtype: object

could not find code for Osaka

1278    PAR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Singapore
could not find code for Stockholm

498    FLR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

could not find code for Paris CDG

1787    WAW
Name: Code, dtype: object

could not find code for Paris CDG
could not find code for New York

188    BHX
Name: Code, dtype: object

1618    STR
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

could not find code for Paris CDG
could not find code for Seoul

1020    MRS
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

could not find code for Hong Kong

1001    MNL
Name: Code, dtype: object

could not find code for Hong Kong

154    PEK
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

could not find code for Hong Kong

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Kansa

932    LHR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Chicago
could not find code for New York

997    MAN
Name: Code, dtype: object

could not find code for Hong Kong

133    BKK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

could not find code for Singapore
could not find code for Hong Kong
could not find code for Hong Kong

925    LON
926    YXU
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Osaka

944    LAX
Name: Code, dtype: object

618    HAN
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Hong Kong

133    BKK
Name: Code, dtype: object

528    FUK
Name: Code, dtype: object

could not find code for Narita
could not find code for Hong Kong
could not find code for Melbourne

108    AKL
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Seoul

133    BKK
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong

1701    YTO
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong

108    AKL
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Kuala Lumpur

1001    MNL
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Kuala Lumpur
could not find code for Frankfurt

1062    MIL
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Hong Kong

1701    YTO
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Kaohsiung
could not find code for Hong Kong

1754    YVR
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Nanjing
could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Hong Kong

108    AKL
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

could not find code for Hong Kong

64    AMS
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Kansai

1296    PER
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong
could not find code for New York

944    LAX
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

306    CTU
Name: Code, dtype: object

1520    YXE
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

289    CBU
Name: Code, dtype: object

could not find code for Hong Kong

1296    PER
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Hong Kong

1475    SFO
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Melbourne

133    BKK
Name: Code, dtype: object

1515    SPK
Name: Code, dtype: object

154    PEK
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

645    SGN
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

could not find code for Hong Kong

925    LON
926    YXU
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

457    YEA
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Taipei
could not find code for Hong Kong

133    BKK
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Singapore
could not find code for Chicago
could not find code for Hong Kong

457    YEA
Name: Code, dtype: object

could not find code for Hong Kong

233    BNE
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

could not find code for Seoul

1754    YVR
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Hong Kong

233    BNE
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Jakarta

233    BNE
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Hong Kong

1475    SFO
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Hong Kong
could not find code for Hong Kong

133    BKK
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong

925    LON
926    YXU
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

154    PEK
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

307    MAA
Name: Code, dtype: object

could not find code for Hong Kong

925    LON
926    YXU
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Hong Kong

437    DUB
Name: Code, dtype: object

could not find code for Melbourne

1278    PAR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Singapore

1296    PER
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

997    MAN
Name: Code, dtype: object

437    DUB
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong

997    MAN
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Washington DC

1858    ZRH
Name: Code, dtype: object

could not find code for Shanghai

289    CBU
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Taipei
could not find code for Singapore

435    DXB
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

could not find code for Singapore
could not find code for Jakarta

1526    SEA
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

could not find code for Hong Kong

930    LGW
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore

435    DXB
Name: Code, dtype: object

289    CBU
Name: Code, dtype: object

could not find code for New York
could not find code for Hong Kong

732    JNB
Name: Code, dtype: object

could not find code for Singapore

1631    SYD
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

646    SGN
Name: Code, dtype: object

could not find code for Hong Kong

409    DVO
Name: Code, dtype: object

could not find code for Hong Kong

925    LON
926    YXU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Hong Kong
could not find code for Hong Kong

1475    SFO
Name: Code, dtype: object

could not find code for Washington

138    BCN
139    BLA
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

977    MAD
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Melbourne
could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Hong Kong

1701    YTO
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

262    CNS
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong

1754    YVR
Name: Code, dtype: object

could not find code for Hong Kong

133    BKK
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong
could not find code for New York

133    BKK
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Haikou

1296    PER
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

289    CBU
Name: Code, dtype: object

could not find code for Seoul

352    CMB
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong

1001    MNL
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

could not find code for Hong Kong

1181    EWR
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Osaka
could not find code for Hong Kong
could not find code for Kuala Lumpur

1701    YTO
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Singapore
could not find code for Hong Kong

1754    YVR
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

could not find code for Hong Kong

1178    JFK
Name: Code, dtype: object

could not find code for Kaohsiung

1694    TYO
Name: Code, dtype: object

275    CPT
Name: Code, dtype: object

could not find code for Hong Kong

289    CBU
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong

233    BNE
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Seoul Incheon
could not find code for Hong Kong

108    AKL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for New York

130    BLR
Name: Code, dtype: object

could not find code for Jakarta

307    MAA
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Singapore
could not find code for Chicago

1181    EWR
Name: Code, dtype: object

could not find code for Hong Kong

233    BNE
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

could not find code for Hong Kong

307    MAA
Name: Code, dtype: object

could not find code for Washington
could not find code for Nagoya

1859    ZRH
Name: Code, dtype: object

could not find code for Hong Kong

435    DXB
Name: Code, dtype: object

could not find code for Hong Kong

925    LON
926    YXU
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong

997    MAN
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Hong Kong
could not find code for New York

154    PEK
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

could not find code for Seoul Incheon
could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Taipei
could not find code for Taipei
could not find code for Hong Kong

1001    MNL
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

could not find code for Hong Kong

1626    SUB
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Melbourne

133    BKK
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

1436    ROM
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for New York

645    SGN
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Hong Kong

732    JNB
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1858    ZRH
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong

108    AKL
Name: Code, dtype: object

435    DXB
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

could not find code for Hong Kong

1475    SFO
Name: Code, dtype: object

could not find code for Hong Kong

1631    SYD
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Hong Kong
could not find code for Hong Kong

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Hong Kong

448    DUS
Name: Code, dtype: object

could not find code for New York

1754    YVR
Name: Code, dtype: object

could not find code for Hkg

1001    MNL
Name: Code, dtype: object

could not find code for Hong Kong

925    LON
926    YXU
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Hong Kong

133    BKK
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

1296    PER
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Jakarta

1001    MNL
Name: Code, dtype: object

307    MAA
Name: Code, dtype: object

could not find code for Hong Kong

932    LHR
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Hong Kong

1631    SYD
Name: Code, dtype: object

could not find code for Hong Kong

1475    SFO
Name: Code, dtype: object

could not find code for Hong Kong

930    LGW
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Hong Kong

1001    MNL
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

could not find code for Hong Kong

1631    SYD
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Denpasar Bali
could not find code for Hong Kong

930    LGW
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for New York

108    AKL
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

16    ADL
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Hong Kong

997    MAN
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Jakarta
could not find code for Hong Kong

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Hong Kong

133    BKK
Name: Code, dtype: object

could not find code for Hong Kong

928    LGW
Name: Code, dtype: object

could not find code for Hong Kong

944    LAX
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong

932    LHR
Name: Code, dtype: object

could not find code for Shanghai

1701    YTO
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

402    DEL
Name: Code, dtype: object

646    SGN
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Singapore

133    BKK
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong

932    LHR
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Seoul Incheaon
could not find code for Hong Kong
could not find code for Hong Kong

1754    YVR
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

1181    EWR
Name: Code, dtype: object

could not find code for Hong Kong

1858    ZRH
Name: Code, dtype: object

307    MAA
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for New York
could not find code for Singapore
could not find code for Hong Kong

1701    YTO
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

121    BAH
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Singapore
could not find code for Osaka

1754    YVR
Name: Code, dtype: object

could not find code for New York
could not find code for Hong Kong
could not find code for Hong Kong

997    MAN
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Kansai
could not find code for Hong Kong
could not find code for Taipei
could not find code for Hong Kong

997    MAN
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

407    DPS
Name: Code, dtype: object

could not find code for Singapore

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Hong Kong

1181    EWR
Name: Code, dtype: object

214    BOS
Name: Code, dtype: object

could not find code for Kansai

133    BKK
Name: Code, dtype: object

could not find code for Paris CDG
could not find code for Hong Kong

645    SGN
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

930    LGW
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

448    DUS
Name: Code, dtype: object

could not find code for Hong Kong

1631    SYD
Name: Code, dtype: object

could not find code for Kansai
could not find code for Hong Kong

930    LGW
Name: Code, dtype: object

could not find code for Osaka
could not find code for Taipei
could not find code for Hong Kong

1001    MNL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for New York

108    AKL
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Melbourne

1754    YVR
Name: Code, dtype: object

732    JNB
Name: Code, dtype: object

could not find code for Hong Kong

930    LGW
Name: Code, dtype: object

could not find code for Paris CDG
could not find code for Hong Kong

206    BOM
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Jakarta
could not find code for Singapore
could not find code for Melbourne

1858    ZRH
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Melbourne
could not find code for Hong Kong
could not find code for Singapore
could not find code for Singapore

1631    SYD
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Hong Kong

1001    MNL
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Hong Kong

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Hong Kong

108    AKL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Seoul Incheon

925    LON
926    YXU
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

could not find code for Hong Kong

1754    YVR
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Chicago
could not find code for Hong Kong
could not find code for Hong Kong

925    LON
926    YXU
Name: Code, dtype: object

154    PEK
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for New York
could not find code for Hong Kong

1001    MNL
Name: Code, dtype: object

could not find code for Hong Kong

133    BKK
Name: Code, dtype: object

646    SGN
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

could not find code for Taipei
could not find code for Hong Kong

289    CBU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Jakarta
could not find code for Hong Kong
could not find code for Heathrow

1859    ZRH
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for New York

435    DXB
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

could not find code for Hong Kong

435    DXB
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for New York

133    BKK
Name: Code, dtype: object

818    CCU
Name: Code, dtype: object

could not find code for Seoul
could not find code for Hong Kong

133    BKK
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Taipei

1278    PAR
Name: Code, dtype: object

1289    PEN
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

could not find code for Hong Kong

1754    YVR
Name: Code, dtype: object

could not find code for Tokyo Narita

1001    MNL
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Jakarta

925    LON
926    YXU
Name: Code, dtype: object

154    PEK
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

could not find code for Hong Kong

1631    SYD
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

could not find code for BA
could not find code for Xi'an

1813    VIE
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Taipei

1813    VIE
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

could not find code for Taipei

133    BKK
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

could not find code for Singapore

1754    YVR
Name: Code, dtype: object

could not find code for Taipei

944    LAX
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for New York

925    LON
926    YXU
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Hong Kong

648    SGN
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Taipei Taoyuan Airport

1813    VIE
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Taipei

133    BKK
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

could not find code for Taipei
could not find code for Houston

1813    VIE
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Taipei

1754    YVR
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago

457    YEA
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Taipei
could not find code for Taipei
could not find code for Seoul

925    LON
926    YXU
Name: Code, dtype: object

could not find code for New York

925    LON
926    YXU
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1813    VIE
Name: Code, dtype: object

could not find code for Taipei
could not find code for Houston

1001    MNL
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

could not find code for Harbin

133    BKK
Name: Code, dtype: object

could not find code for Taipei

1754    YVR
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1694    TYO
Name: Code, dtype: object

154    PEK
Name: Code, dtype: object

could not find code for Taipei
could not find code for Osaka
could not find code for Shanghai Pudong

1475    SFO
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

could not find code for Seoul

932    LHR
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Taipei
could not find code for Houston
could not find code for Taipei
could not find code for Seoul
could not find code for Hong Kong
could not find code for Taipei
could not find code for Taipei

1754    YVR
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

could not find code for Chicago

1694    TYO
Name: Code, dtype: object

could not find code for Taipei

1475    SFO
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Taipei

133    BKK
Name: Code, dtype: object

could not find code for Singapore

1278    PAR
Name: Code, dtype: object

could not find code for Taipei

1526    SEA
Name: Code, dtype: object

could not find code for New York

1526    SEA
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

could not find code for Taipei

133    BKK
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

646    SGN
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Chicago

310    CNX
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Taipei
could not find code for New York

1001    MNL
Name: Code, dtype: object

could not find code for Taipei
could not find code for Taipei

1475    SFO
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Houston
could not find code for Taipei
could not find code for Taipei

1754    YVR
Name: Code, dtype: object

could not find code for Taipei
could not find code for Hong Kong

310    CNX
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

could not find code for Chicago

133    BKK
Name: Code, dtype: object

1526    SEA
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Kinmen
could not find code for Taipei
could not find code for Taipei

1001    MNL
Name: Code, dtype: object

could not find code for Hong Kong

1701    YTO
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Kansai

944    LAX
Name: Code, dtype: object

could not find code for Taipei
could not find code for Houston

1475    SFO
Name: Code, dtype: object

could not find code for Taipei

1178    JFK
Name: Code, dtype: object

could not find code for Houston
could not find code for Houston

289    CBU
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Taipei
could not find code for Incheon

133    BKK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

could not find code for Houston

133    BKK
Name: Code, dtype: object

could not find code for Incheon
could not find code for Hong Kong

1178    JFK
Name: Code, dtype: object

could not find code for Hong Kong

1278    PAR
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

could not find code for Taipei
could not find code for Kuala Lumpur

1475    SFO
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Houston

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Houston

133    BKK
Name: Code, dtype: object

could not find code for Taipei

1701    YTO
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

932    LHR
Name: Code, dtype: object

could not find code for Taipei
could not find code for Singapore
could not find code for Taipei

1001    MNL
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Singapore

1526    SEA
Name: Code, dtype: object

could not find code for Taipei

1526    SEA
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Taipei
could not find code for Taipei
could not find code for New York

645    SGN
Name: Code, dtype: object

could not find code for Taipei
could not find code for Hong Kong

646    SGN
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

could not find code for Hong Kong

1754    YVR
Name: Code, dtype: object

could not find code for Taipei
could not find code for Hong Kong
could not find code for Shanghai
could not find code for Houston

1701    YTO
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Taipei

1754    YVR
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

could not find code for Taipei

944    LAX
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for New York

1001    MNL
Name: Code, dtype: object

could not find code for Taipei

1278    PAR
Name: Code, dtype: object

could not find code for Taipei
could not find code for Heathrow

133    BKK
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Taipei

944    LAX
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

138    BCN
139    BLA
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

1308    HKT
Name: Code, dtype: object

could not find code for Seoul
could not find code for Honolulu
could not find code for Seoul Incheon

435    DXB
Name: Code, dtype: object

could not find code for Seoul

1360    PUS
Name: Code, dtype: object

could not find code for Seoul GMP
could not find code for Washington

646    SGN
Name: Code, dtype: object

1754    YVR
Name: Code, dtype: object

could not find code for Seoul
could not find code for Incheon
could not find code for Singapore
could not find code for Singapore

104    ATL
Name: Code, dtype: object

64    AMS
Name: Code, dtype: object

could not find code for Incheon
could not find code for Seoul

925    LON
926    YXU
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

could not find code for Seoul

1104    YMQ
Name: Code, dtype: object

1695    HND
Name: Code, dtype: object

could not find code for Singapore

1475    SFO
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Seoul

1305    PNH
Name: Code, dtype: object

1305    PNH
Name: Code, dtype: object

could not find code for Honolulu

1475    SFO
Name: Code, dtype: object

289    CBU
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Seoul
could not find code for Kuala Lumpur

64    AMS
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Fiji

646    SGN
Name: Code, dtype: object

410    DPS
Name: Code, dtype: object

could not find code for Seoul

696    IKT
Name: Code, dtype: object

925    LON
926    YXU
Name: Code, dtype: object

could not find code for Seoul

1631    SYD
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

could not find code for Frankfurt

233    BNE
Name: Code, dtype: object

could not find code for Jeju
could not find code for Tel Aviv
could not find code for Honolulu
could not find code for Incheon
could not find code for Hong Kong

944    LAX
Name: Code, dtype: object

383    DLC
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

could not find code for Seoul

1278    PAR
Name: Code, dtype: object

could not find code for Seoul

1631    SYD
Name: Code, dtype: object

could not find code for Rome Fiumicino
could not find code for Seoul
could not find code for Seoul
could not find code for Incheon
could not find code for Chicago
could not find code for Incheon

1694    TYO
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

1515    SPK
Name: Code, dtype: object

could not find code for Honolulu
could not find code for Incheon

944    LAX
Name: Code, dtype: object

could not find code for Washington
could not find code for Seoul

1475    SFO
Name: Code, dtype: object

could not find code for Seoul

1526    SEA
Name: Code, dtype: object

could not find code for Seoul
could not find code for Seoul
could not find code for Honolulu
could not find code for Seoul

944    LAX
Name: Code, dtype: object

1225    OKJ
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

could not find code for Malé

410    DPS
Name: Code, dtype: object

could not find code for Seoul
could not find code for Taipei

108    AKL
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

233    BNE
Name: Code, dtype: object

could not find code for Chicago
could not find code for Seoul Incheon

944    LAX
Name: Code, dtype: object

289    CBU
Name: Code, dtype: object

1001    MNL
Name: Code, dtype: object

could not find code for Singapore

108    AKL
Name: Code, dtype: object

could not find code for Seoul
could not find code for Singapore

1754    YVR
Name: Code, dtype: object

could not find code for Taipei
could not find code for Seoul

645    SGN
Name: Code, dtype: object

528    FUK
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

1178    JFK
Name: Code, dtype: object

could not find code for Seoul
could not find code for Frankfurt

944    LAX
Name: Code, dtype: object

could not find code for Seoul
could not find code for Seoul
could not find code for Seoul
could not find code for Seoul

1475    SFO
Name: Code, dtype: object

1475    SFO
Name: Code, dtype: object

386    DFW
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for JeJu Island

408    DPS
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

133    BKK
Name: Code, dtype: object

could not find code for Incheon

1178    JFK
Name: Code, dtype: object

could not find code for Seoul
could not find code for Incheon
could not find code for Seoul
could not find code for Kuala Lumpur
could not find code for Seoul

1526    SEA
Name: Code, dtype: object

289    CBU
Name: Code, dtype: object

could not find code for Seoul Incheon

925    LON
926    YXU
Name: Code, dtype: object

154    PEK
Name: Code, dtype: object

could not find code for Seoul

925    LON
926    YXU
Name: Code, dtype: object

1631    SYD
Name: Code, dtype: object

1701    YTO
Name: Code, dtype: object

206    BOM
Name: Code, dtype: object

could not find code for Seoul
could not find code for Seoul

925    LON
926    YXU
Name: Code, dtype: object

108    AKL
Name: Code, dtype: object

944    LAX
Name: Code, dtype: object

1278    PAR
Name: Code, dtype: object

1734    ULN
Name: Code, dtype: object

could not find code for Seoul
could not find code for Seoul
could not find code for Singapore

108    AKL
Name: Code, dtype: object

0       None
1        HKT
2        SAI
3       None
4       None
        ...
8095     BNE
8096     SYD
8097     DPS
8098     ICN
8099     ICN
Name: Origin, Length: 8100, dtype: object

In [ ]:
df['Origin'].value_counts()

In [ ]:
def lookup_code(airport_string):
    if len(airport_string) == 3 and airport_string.isupper():
        return airport_string
    else: 
        code = airport_codes.loc[airport_codes["City"] == airport_string, "Code"]
        if code.empty:    # because .loc returns series (vs string), can't run "not code" instead run code.empty
            print(f'could not find code for {airport_string}')
            return None
        display(code)
        return code.iloc[0]

In [ ]:
df['O'].value_counts()

In [ ]:
lookup_code("Fukuoka")

In [ ]:
df['Origin'].apply(functions.lookup_code)

In [ ]:
airport_codes.head()

In [ ]:
def lookup_city(airport_string):
    if len(airport_string) == 3 and not airport_string.isupper():
        # city = airport_codes.loc[airport_codes['Code'] == airport_string, 'City']
        return airport_string
    else: 
        city = airport_codes.loc[airport_codes["Code"] == airport_string, "City"]
        if city.empty:  
            print(f'could not find city for {airport_string}')
            return None
        display(city)
        return city.iloc[0]

In [ ]:
lookup_city("JFK")

In [ ]:
### create new columns for "origin_code" "origin_city" "destination_code" "destination_city" "via_code" "via_city"
df[:2]

In [13]:
df.insert(18,'origin_code',df['Origin'].apply(functions.lookup_code))

could not find code for Jakarta

1754    HKT
Name: Code, dtype: object

could not find code for Siem Reap
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Siem Reap

1714    BWN
Name: Code, dtype: object

could not find code for Singapore
could not find code for London Heathrow
could not find code for Singapore
could not find code for Singapore
could not find code for Perth
could not find code for Sydney

654    MIL
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Singapore

1754    HKT
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Penang
could not find code for Frankfurt

1543    BNE
Name: Code, dtype: object

could not find code for Singapore
could not find code for Melbourne
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Siam Reap, Cambodia
could not find code for London Heathrow
could not find code for New York
could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Sydney
could not find code for Manila
could not find code for Mumbai

470    ATH
Name: Code, dtype: object

could not find code for Singapore
could not find code for Guangzhou

279    KCZ
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Singapore
could not find code for Singapore
could not find code for San Francisco
could not find code for Singapore

1534    ADL
Name: Code, dtype: object

could not find code for Mumbai

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne

1    CPT
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York
could not find code for Penang
could not find code for Melbourne
could not find code for Singapoe
could not find code for Perth

1543    BNE
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Newark
could not find code for Frankfurt
could not find code for Frankfurt
could not find code for Hong Kong
could not find code for Vancouver

1534    ADL
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

could not find code for Manila
could not find code for Phnom Penh
could not find code for Frankfurt
could not find code for Sydney
could not find code for Davao
could not find code for Singapore
could not find code for New York
could not find code for Denpasar

1692    AKL
Name: Code, dtype: object

could not find code for Hanoi
could not find code for Singapore
could not find code for New York

1543    BNE
Name: Code, dtype: object

could not find code for Singapore

791    MAN
Name: Code, dtype: object

could not find code for London Heathrow

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York JFK
could not find code for Johannesburg

791    MAN
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Frankfurt

203    TYO
Name: Code, dtype: object

279    KCZ
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

could not find code for Singapore
could not find code for Denpasar
could not find code for Istanbul
could not find code for Singapore
could not find code for Frankfurt
could not find code for Singapore
could not find code for Denpasar
could not find code for San Francisco

1543    BNE
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Surabaya

584    PAR
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

654    MIL
Name: Code, dtype: object

could not find code for Perth
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

233    BLR
Name: Code, dtype: object

could not find code for Sydney
could not find code for Frankfurt
could not find code for Sydney

791    MAN
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Amsterdam

791    MAN
Name: Code, dtype: object

could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Singapore
could not find code for Bengaluru
could not find code for Mumbai
could not find code for Singapore
could not find code for Ho Chi Minh
could not find code for Singapore
could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Denpasar
could not find code for Melbourne

1543    BNE
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Sydney
could not find code for London Heathrow
could not find code for Danang

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Sydney
could not find code for New York
could not find code for Singapore
could not find code for Singapore
could not find code for Frankfurt
could not find code for Melbourne
could not find code for Sydney
could not find code for Sydney
could not find code for Bali
could not find code for Johannesburg

1    CPT
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Sydney
could not find code for Istanbul
could not find code for Amsterdam

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York JFK
could not find code for New York
could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Sydney

667    ROM
Name: Code, dtype: object

could not find code for Los Angeles

1543    BNE
Name: Code, dtype: object

1534    ADL
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Sydney
could not find code for Singapore
could not find code for Denpasar
could not find code for Sydney
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for London Heahrow
could not find code for Kolkata
could not find code for Jakarta
could not find code for Frankfurt
could not find code for Istanbul

1750    BKK
Name: Code, dtype: object

could not find code for Singapore

1543    BNE
Name: Code, dtype: object

could not find code for Singapore
could not find code for Istanbul

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Sydney
could not find code for San Francisco
could not find code for Singapore
could not find code for Singapore
could not find code for Munich
could not find code for singapore
could not find code for Hong Kong
could not find code for Singapore

1754    HKT
Name: Code, dtype: object

could not find code for Ho Chi Minh

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Hanoi
could not find code for Singapore
could not find code for Newark
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

1543    BNE
Name: Code, dtype: object

could not find code for Newark
could not find code for Singapore
could not find code for Frankfurt

1692    AKL
Name: Code, dtype: object

could not find code for Singapore
could not find code for Sydney

785    LON
919    YXU
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Kuala Lumpur
could not find code for New York

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Newark

584    PAR
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Melbourne

584    PAR
Name: Code, dtype: object

could not find code for Sydney
could not find code for Singapore

791    MAN
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Singapore
could not find code for Munich
could not find code for Singapore

210    CMB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Melbourne
could not find code for Singapore

868    DXB
Name: Code, dtype: object

could not find code for Sydney

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Hong Kong

1750    BKK
Name: Code, dtype: object

could not find code for Singapore
could not find code for New York
could not find code for New York JFK
could not find code for Frankfurt

1750    BKK
Name: Code, dtype: object

could not find code for Jakarta

1750    BKK
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Istanbul
could not find code for London Heathrow

1750    BKK
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Singapore
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Perth

1475    SAO
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Osaka Kansai
could not find code for Bali Denpasar
could not find code for Singapore
could not find code for Amsterdam
could not find code for Singapore
could not find code for Osaka
could not find code for Da Nang
could not find code for Penang
could not find code for Manila
could not find code for Melbourne

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Jakarta

1692    AKL
Name: Code, dtype: object

could not find code for Tokyo Haneda
could not find code for Singapore
could not find code for Zurich

1534    ADL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Makassar
could not find code for Sydney

1754    HKT
Name: Code, dtype: object

229    AMD
Name: Code, dtype: object

could not find code for Singapore
could not find code for Los Angeles
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

1543    BNE
Name: Code, dtype: object

could not find code for Singapore
could not find code for Los Angeles
could not find code for Jakarta
could not find code for Melbourne
could not find code for Siem Reap
could not find code for Manila
could not find code for Los Angeles

1543    BNE
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Ho Chi Minh City
could not find code for Busan
could not find code for Los Angeles
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Denpasar

584    PAR
Name: Code, dtype: object

could not find code for Singapore
could not find code for Sydney
could not find code for Singapore
could not find code for Singapore
could not find code for San Francisco
could not find code for Perth
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Singapore
could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Singapore
could not find code for Munich
could not find code for Perth
could not find code for Perth
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore

197    SPK
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Johannesburg
could not find code for Jakarta
could not find code for Sydney
could not find code for Singapore
could not find code for New York JFK
could not find code for Singapore
could not find code for Shanghai
could not find code for Shanghai
could not find code for Singapore
could not find code for Amsterdam

1750    BKK
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Delhi

233    BLR
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Bengaluru

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Melbourne
could not find code for Frankfurt
could not find code for Sydney
could not find code for Melbourne

791    MAN
Name: Code, dtype: object

could not find code for Los Angeles

210    CMB
Name: Code, dtype: object

could not find code for Singapore
could not find code for Perth

1543    BNE
Name: Code, dtype: object

could not find code for Frankfurt

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore

213    DAC
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Jakarta
could not find code for New York

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Singapore
could not find code for Perth
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Amsterdam

1543    BNE
Name: Code, dtype: object

could not find code for Seattle
could not find code for Singapore
could not find code for Stockholm
could not find code for Singapore
could not find code for Stockholm
could not find code for Singapore
could not find code for Singapore
could not find code for Jakarta
could not find code for Singapore
could not find code for Singapore
could not find code for Melbourne

210    CMB
Name: Code, dtype: object

could not find code for Singapore

1694    CHC
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Jakarta
could not find code for Singapore
could not find code for Melbourne
could not find code for Seoul

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Mumbai
could not find code for Istanbul
could not find code for Bali
could not find code for Singapore
could not find code for Singapore
could not find code for Sydney
could not find code for Singapore
could not find code for Singapore
could not find code for San Francisco
could not find code for Munich
could not find code for Perth

584    PAR
Name: Code, dtype: object

could not find code for Zurich
could not find code for Melbourne
could not find code for Manila
could not find code for Singapore
could not find code for Dusseldorf
could not find code for Singapore
could not find code for Singapore
could not find code for Los Angeles
could not find code for Johannesburg
could not find code for Singapore
could not find code for Singapore
could not find code for Amsterdam
could not find code for Singapore
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Singapore
could not find code for Sydney
could not find code for Melbourne

1543    BNE
Name: Code, dtype: object

could not find code for Munich
could not find code for Jogjakarta

1750    BKK
Name: Code, dtype: object

could not find code for Zurich

584    PAR
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Mumbai

1750    BKK
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Sydney
could not find code for Sydney
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Melbourne

1543    BNE
Name: Code, dtype: object

could not find code for Singapore

1694    CHC
Name: Code, dtype: object

could not find code for Perth

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Hong Kong
could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Osaka
could not find code for Singapore
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Ho Chi Minh City

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York
could not find code for Manila
could not find code for Singapore
could not find code for Amsterdam
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

463    CPH
Name: Code, dtype: object

could not find code for Singapore
could not find code for Hanoi
could not find code for Frankfurt
could not find code for Singapore
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Manila
could not find code for Singapore
could not find code for Los Angeles
could not find code for Melbourne
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

203    TYO
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Perth

868    DXB
Name: Code, dtype: object

could not find code for Mumbai
could not find code for Mumbai
could not find code for Singapore
could not find code for Amsterdam
could not find code for Singapore
could not find code for Melbourne
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Singapore
could not find code for Tokyo Haneda
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Perth
could not find code for Singapore
could not find code for Melbourne
could not find code for Singapore
could not find code for Kuala Lumpur

1    CPT
Name: Code, dtype: object

1705    WLG
Name: Code, dtype: object

could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore

667    ROM
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Jakarta
could not find code for San Francisco
could not find code for Sydney
could not find code for Newark

584    PAR
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for New York JFK
could not find code for Singapore
could not find code for Singapore
could not find code for Danang
could not find code for Zurich
could not find code for Zürich

463    CPH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

868    DXB
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Mumbai
could not find code for Singapore
could not find code for Surabaya
could not find code for Singapore
could not find code for Sydney

868    DXB
Name: Code, dtype: object

could not find code for Singapore
could not find code for Sydney
could not find code for Seoul
could not find code for London Heathrow
could not find code for Manila

1692    AKL
Name: Code, dtype: object

could not find code for Delhi
could not find code for Singapore
could not find code for Singapore

868    DXB
Name: Code, dtype: object

could not find code for Singapore
could not find code for Hong Kong
could not find code for Singapore
could not find code for Mumbai

1    CPT
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Singapore
could not find code for Singapore
could not find code for Delhi
could not find code for Manila
could not find code for Perth
could not find code for Jakarta
could not find code for Singapore
could not find code for Frankfurt
could not find code for Singapore
could not find code for Denpasar
could not find code for Melbourne
could not find code for Perth
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore

791    MAN
Name: Code, dtype: object

could not find code for Perth
could not find code for Ho Chi Minh
could not find code for Singapore
could not find code for Jakarta
could not find code for Guangzhou
could not find code for Singapore
could not find code for Johannesburg
could not find code for Singapore

1534    ADL
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Singapore
could not find code for San Francisco
could not find code for Shanghai
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore

213    DAC
Name: Code, dtype: object

could not find code for Taipei

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Singapore
could not find code for Yangon
could not find code for Jakarta
could not find code for Frankfurt
could not find code for Frankfurt
could not find code for Singapore
could not find code for San Francisco
could not find code for Manila
could not find code for Singapore

1694    CHC
Name: Code, dtype: object

could not find code for Denpasar

1705    WLG
Name: Code, dtype: object

could not find code for Sydney
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Davao
could not find code for Singapore
could not find code for Melbourne
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Mumbai
could not find code for Singapore

1705    WLG
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Singapore
could not find code for Perth
could not find code for Hong Kong

1750    BKK
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Singapore
could not find code for Jakarta

1750    BKK
Name: Code, dtype: object

could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for London Heathrow
could not find code for London Heathrow

584    PAR
Name: Code, dtype: object

1705    WLG
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Sydney
could not find code for San Francisco
could not find code for Frankfurt
could not find code for Singapore
could not find code for Munich
could not find code for Johannesburg
could not find code for Melbourne
could not find code for London Heathrow
could not find code for Singapore
could not find code for Perth
could not find code for San Francisco
could not find code for Jakarta
could not find code for Kuala Lumpur
could not find code for Jakarta
could not find code for Singapore

244    CJB
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Los Angeles

791    MAN
Name: Code, dtype: object

could not find code for Chennai
could not find code for Guangzhou
could not find code for Singapore
could not find code for Singapore
could not find code for Frankfurt

203    TYO
Name: Code, dtype: object

could not find code for Istanbul

667    ROM
Name: Code, dtype: object

could not find code for Perth
could not find code for Delhi
could not find code for Singapore
could not find code for Singapore

1750    BKK
Name: Code, dtype: object

could not find code for Surabaya
could not find code for Kuala Lumpur
could not find code for Surabaya

1543    BNE
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Sydney
could not find code for Singapore
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Sydney
could not find code for München
could not find code for Singapore
could not find code for Singapore
could not find code for Melbourne
could not find code for Munich
could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Houston

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Zürich
could not find code for Singapore
could not find code for Singapore
could not find code for Sydney
could not find code for Zürich
could not find code for Singapore

1549    CBR
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Jakarta
could not find code for Singapore
could not find code for Istanbul
could not find code for Singapore
could not find code for Amsterdam
could not find code for Singapore
could not find code for Singapore

584    PAR
Name: Code, dtype: object

could not find code for Singapore
could not find code for Sydney
could not find code for Singapore
could not find code for Jakarta
could not find code for Singapore
could not find code for Sydney
could not find code for Singapore

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Houston
could not find code for Frankfurt
could not find code for Singapore

213    DAC
Name: Code, dtype: object

could not find code for Singapore
could not find code for Perth
could not find code for Frankfurt
could not find code for Munich
could not find code for Surabaya
could not find code for Melbourne
could not find code for Hong Kong
could not find code for Singapore

667    ROM
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

could not find code for Singapore
could not find code for Hong Kong

791    MAN
Name: Code, dtype: object

could not find code for Stockholm

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Melbourne

868    DXB
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Sydney
could not find code for Singapore
could not find code for Denpasar
could not find code for San Francisco
could not find code for Singapore
could not find code for Los Angeles
could not find code for Jakarta
could not find code for Singapore
could not find code for Perth

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Jakarta
could not find code for Delhi
could not find code for San Francisco
could not find code for Sydney
could not find code for Singapore
could not find code for Guangzhou
could not find code for Munich

1534    ADL
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Singapore
could not find code for Munich
could not find code for Denpasar

1750    BKK
Name: Code, dtype: object

could not find code for Singapore
could not find code for Manila
could not find code for Hong Kong
could not find code for Singapore
could not find code for Sydney
could not find code for Shanghai
could not find code for Kolkata
could not find code for Singapore
could not find code for Hong Kong
could not find code for Dusseldorf
could not find code for Singapore

1    CPT
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Singapore
could not find code for Jakarta
could not find code for Singapore
could not find code for Singapore

1543    BNE
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Sydney

1750    BKK
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Sydney

868    DXB
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Manila
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Dusseldorf
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Singapore
could not find code for Perth
could not find code for Singapore

791    MAN
Name: Code, dtype: object

could not find code for BK

203    TYO
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for New Delhi
could not find code for Dusseldorf
could not find code for Frankfurt
could not find code for New York
could not find code for Chicago
could not find code for Nice

860    DOH
Name: Code, dtype: object

could not find code for Penang

229    AMD
Name: Code, dtype: object

could not find code for Tbilisi
could not find code for Spain

785    LON
919    YXU
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Gatwick
could not find code for Bali

860    DOH
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Dallas Ft Worth

791    MAN
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Ho Chi Minh
could not find code for Düsseldorf

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Ho Chi Minh City
could not find code for Kuwait

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Mahé

186    LUN
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Melbourne
could not find code for New York
could not find code for Seattle

511    BRU
Name: Code, dtype: object

could not find code for Perth
could not find code for Denpasar

860    DOH
Name: Code, dtype: object

could not find code for Stockholm

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Riyadh
could not find code for Zurich
could not find code for Singapore
could not find code for doh

488    OSL
Name: Code, dtype: object

could not find code for Kathmandu

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

could not find code for Vienna

210    CMB
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for London Heathrow

868    DXB
Name: Code, dtype: object

could not find code for London Heathrow
could not find code for Amsterdam

1750    BKK
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Washington

584    PAR
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Vienna

1750    BKK
Name: Code, dtype: object

could not find code for Singapore

860    DOH
Name: Code, dtype: object

could not find code for Vienna

860    DOH
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

866    AUH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

180    EBB
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Sydney

1543    BNE
Name: Code, dtype: object

could not find code for Philadelphia

803    BEY
Name: Code, dtype: object

could not find code for Mumbai

860    DOH
Name: Code, dtype: object

could not find code for London Heathrow

1750    BKK
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Sydney
could not find code for Islamabad

764    GVA
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

921    YMQ
Name: Code, dtype: object

could not find code for Chicago

860    DOH
Name: Code, dtype: object

could not find code for Dallas
could not find code for Singapore
could not find code for Zurich

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Perth
could not find code for Hanoi
could not find code for Maputo
could not find code for Frankfurt

667    ROM
Name: Code, dtype: object

could not find code for Jarkata

399    BUH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Manila
could not find code for New York
could not find code for Johannesburg
could not find code for Johannesburg

192    HRE
Name: Code, dtype: object

could not find code for Mumbai
could not find code for Philadelphia

860    DOH
Name: Code, dtype: object

866    AUH
Name: Code, dtype: object

could not find code for New York JFK
could not find code for Boston
could not find code for Frankfurt
could not find code for Los Angeles

866    AUH
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Madrid
could not find code for Tehran
could not find code for Sofia

1692    AKL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Lagos

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Manila
could not find code for Prague

1750    BKK
Name: Code, dtype: object

could not find code for Delhi

470    ATH
Name: Code, dtype: object

could not find code for Franfurt
could not find code for Perth

860    DOH
Name: Code, dtype: object

could not find code for Sydney
could not find code for Dallas

1754    HKT
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Stockholm
could not find code for Johannesburg

77    NBO
Name: Code, dtype: object

could not find code for London Heathrow

1750    BKK
Name: Code, dtype: object

could not find code for Thailand
could not find code for Atlanta
could not find code for Delhi

1543    BNE
Name: Code, dtype: object

could not find code for Dallas

860    DOH
Name: Code, dtype: object

764    GVA
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

could not find code for São Paulo
could not find code for Ho chi Minh City

480    DUB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

3    ALG
Name: Code, dtype: object

could not find code for Munich

785    LON
919    YXU
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

870    SHJ
Name: Code, dtype: object

could not find code for Miami
could not find code for Kuala Lumpur
could not find code for San Francisco
could not find code for Ho Chi Minh
could not find code for Zagreb
could not find code for Brisibane

1750    BKK
Name: Code, dtype: object

243    COK
Name: Code, dtype: object

could not find code for Sydney
could not find code for Singapore

1    CPT
Name: Code, dtype: object

could not find code for New York
could not find code for Atlanta

1543    BNE
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Manila

279    KCZ
Name: Code, dtype: object

could not find code for madrid
could not find code for Dusseldorf
could not find code for Islamabad

860    DOH
Name: Code, dtype: object

could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Frankfurt

860    DOH
Name: Code, dtype: object

could not find code for New York JFK

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for London Heathrow

866    AUH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

862    ANK
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Munich

1750    BKK
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Kathmandu
could not find code for Istanbul
could not find code for Kigali
could not find code for Philadelphia

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Erbil

1750    BKK
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

921    YMQ
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

could not find code for Zurich
could not find code for Boston
could not find code for Munich
could not find code for Singapore
could not find code for Singapore
could not find code for Bali

488    OSL
Name: Code, dtype: object

could not find code for Denpasar

860    DOH
Name: Code, dtype: object

could not find code for Maldives

950    YTO
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Frankfurt

791    MAN
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Dallas Ft Worth

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

921    YMQ
Name: Code, dtype: object

could not find code for Kuala Lumpur

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Zurich
could not find code for Los Angeles
could not find code for Zurich

860    DOH
Name: Code, dtype: object

could not find code for Mumbai

860    DOH
Name: Code, dtype: object

could not find code for Madrid

860    DOH
Name: Code, dtype: object

could not find code for Stockholm

1750    BKK
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Sydney
could not find code for Manila

480    DUB
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Mumbai
could not find code for Los Angeles

210    CMB
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Islamabad

860    DOH
Name: Code, dtype: object

could not find code for New York

921    YMQ
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Zurich
could not find code for Jakarta

866    AUH
Name: Code, dtype: object

could not find code for Johannesburg

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Singapore

860    DOH
Name: Code, dtype: object

could not find code for Seattle
could not find code for Perth

77    NBO
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Singapore

832    HDD
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

could not find code for New York
could not find code for Lagos, Nigeria
could not find code for Maputo
could not find code for Tunis

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Vienna

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Islamabad

654    MIL
Name: Code, dtype: object

77    NBO
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Madrid
could not find code for Philadelphia
could not find code for Singapore
could not find code for Cairo

803    BEY
Name: Code, dtype: object

180    EBB
Name: Code, dtype: object

could not find code for Male

180    EBB
Name: Code, dtype: object

could not find code for Mumbai
could not find code for Singapore

791    MAN
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

77    NBO
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for New York JFK
could not find code for Lagos

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Singapore

584    PAR
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Singapore

868    DXB
Name: Code, dtype: object

could not find code for Melbourne

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Manila
could not find code for Chennai
could not find code for Jakarta

77    NBO
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Chicago

480    DUB
Name: Code, dtype: object

could not find code for Philadelphia
could not find code for Amsterdam
could not find code for Kuala Lumpur
could not find code for Los Angeles

1692    AKL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Bodrum

726    AGP
Name: Code, dtype: object

could not find code for Sydney

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

318    CTU
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

1747    CBU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Frankfurt
could not find code for Amsterdam
could not find code for Ho Chi Minh

860    DOH
Name: Code, dtype: object

could not find code for Johannesburg

950    YTO
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne

860    DOH
Name: Code, dtype: object

could not find code for Johannesburg

1    CPT
Name: Code, dtype: object

921    YMQ
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Belgrade

1750    BKK
Name: Code, dtype: object

could not find code for New York

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Dammam
could not find code for Sydney
could not find code for Amsterdam

263    TRV
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

could not find code for Miami

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Johannesburg

1534    ADL
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Cairo
could not find code for New York

488    OSL
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Seattle
could not find code for Sydney

584    PAR
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Hong Kong

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Sydney

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Philadelphia

1750    BKK
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

could not find code for Kuala Lumpur

1    CPT
Name: Code, dtype: object

could not find code for Washington
could not find code for Singapore
could not find code for Riyadh

654    MIL
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Dallas Fort Worth
could not find code for Islamabad

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Manila
could not find code for Chennai

463    CPH
Name: Code, dtype: object

could not find code for New York
could not find code for Cairo
could not find code for Kozikhode
could not find code for Houston
could not find code for Johannesburg

791    MAN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Helsinki
could not find code for Zanzibar
could not find code for Philadelphia
could not find code for Sydney

921    YMQ
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for London Heathrow
could not find code for Cairo

860    DOH
Name: Code, dtype: object

1534    ADL
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

could not find code for Johannesburg

1750    BKK
Name: Code, dtype: object

could not find code for Seattle

785    LON
919    YXU
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

95    CAS
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Chicago

866    AUH
Name: Code, dtype: object

could not find code for Chicago

77    NBO
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Munich

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

could not find code for Sydney
could not find code for Chicago
could not find code for Hong Kong
could not find code for Philadelphia

77    NBO
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Stockholm

866    AUH
Name: Code, dtype: object

could not find code for Los Angeles

860    DOH
Name: Code, dtype: object

could not find code for Chicago
could not find code for San Francisco

832    HDD
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Islamabad
could not find code for Zurich
could not find code for San Francisco

1    CPT
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Dallas
could not find code for New York
could not find code for Munich
could not find code for Erbil
could not find code for Lagos

667    ROM
Name: Code, dtype: object

95    CAS
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Kyiv
could not find code for Boston
could not find code for Vienna
could not find code for Melbourne
could not find code for Kigali
could not find code for Kathmandu
could not find code for Johannesburg

210    CMB
Name: Code, dtype: object

could not find code for Washington

213    DAC
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

77    NBO
Name: Code, dtype: object

could not find code for Male
could not find code for Tehran

1692    AKL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Manila
could not find code for Cairo
could not find code for Singapore

465    BER
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

488    OSL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Boston

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Chicago
could not find code for Manila
could not find code for Lagos
could not find code for Helsinki

1750    BKK
Name: Code, dtype: object

could not find code for Delhi
could not find code for Boston

921    YMQ
Name: Code, dtype: object

243    COK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

could not find code for Islamabad

860    DOH
Name: Code, dtype: object

could not find code for Male
could not find code for Washington
could not find code for Chicago
could not find code for Islamabad

480    DUB
Name: Code, dtype: object

could not find code for Dallas Ft Worth
could not find code for Zagreb

399    BUH
Name: Code, dtype: object

could not find code for Dallas

860    DOH
Name: Code, dtype: object

could not find code for Najaf
could not find code for Seattle

1750    BKK
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Boston
could not find code for Kuala Lumpur

839    LHE
Name: Code, dtype: object

could not find code for Chicago
could not find code for Seattle
could not find code for Erbil
could not find code for New York JFK
could not find code for Seoul
could not find code for Houston
could not find code for Jakarta

921    YMQ
Name: Code, dtype: object

could not find code for London Heathrow

3    ALG
Name: Code, dtype: object

could not find code for Chicago
could not find code for Stockholm
could not find code for Boston
could not find code for Chennai
could not find code for Muscat

839    LHE
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Stockholm
could not find code for Kathmandu
could not find code for Istanbul
could not find code for Amsterdam

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

399    BUH
Name: Code, dtype: object

could not find code for Sofia
could not find code for Seoul

584    PAR
Name: Code, dtype: object

could not find code for Mogadishu
could not find code for Stockholm
could not find code for Zvartnots
could not find code for Kigali
could not find code for Krabi
could not find code for Jakarta
could not find code for Zagreb
could not find code for Sydney

463    CPH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Zurich
could not find code for Male

213    DAC
Name: Code, dtype: object

399    BUH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

77    NBO
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Munich
could not find code for Chicago

1    CPT
Name: Code, dtype: object

could not find code for Kathmandu
could not find code for London Heathrow
could not find code for Tehran
could not find code for Erbil

785    LON
919    YXU
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Prague
could not find code for New York

860    DOH
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Perth
could not find code for Kuala Lumpur
could not find code for Kuwait
could not find code for Sulaymaniyah
could not find code for Tblisi
could not find code for Islamabad

1543    BNE
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Lisbon
could not find code for Amman

654    MIL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Melbourne

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Perth

803    BEY
Name: Code, dtype: object

could not find code for Melbourne

860    DOH
Name: Code, dtype: object

233    BLR
Name: Code, dtype: object

839    LHE
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Dallas
could not find code for Helsinki
could not find code for Melbourne
could not find code for Washington
could not find code for Perth
could not find code for Kathmandu
could not find code for Chicago

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Melbourne

230    ATQ
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Perth
could not find code for Yangon
could not find code for New York
could not find code for Budapest

1692    AKL
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Prague
could not find code for Frankfurt

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Helsinki

1754    HKT
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

1534    ADL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Johannesburg

1754    HKT
Name: Code, dtype: object

could not find code for Amman

772    BHX
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

399    BUH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

could not find code for Washington

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Sydney

839    LHE
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

could not find code for Singapore

791    MAN
Name: Code, dtype: object

could not find code for Perth

463    CPH
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

could not find code for New York
could not find code for Dallas Ft Worth
could not find code for Gatwick
could not find code for Houston
could not find code for Gatwick

791    MAN
Name: Code, dtype: object

230    ATQ
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Istanbul

243    COK
Name: Code, dtype: object

could not find code for Mumbai
could not find code for Perth
could not find code for Hong Kong
could not find code for Kyiv
could not find code for Los Angeles

785    LON
919    YXU
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Sydney
could not find code for Denpasar
could not find code for Manila

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

could not find code for Amman

654    MIL
Name: Code, dtype: object

could not find code for Pisa
could not find code for Amman

229    AMD
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Kuala Lumpur

860    DOH
Name: Code, dtype: object

488    OSL
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

could not find code for Stockholm

463    CPH
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Melbourne
could not find code for Manila

463    CPH
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

could not find code for Zanzibar
could not find code for Sydney

465    BER
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Maputo
could not find code for New York JFK

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Perth
could not find code for Stockholm

791    MAN
Name: Code, dtype: object

could not find code for London Heathrow
could not find code for Sydney

463    CPH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Sydney

584    PAR
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Venice
could not find code for Hong Kong

246    GOI
Name: Code, dtype: object

could not find code for Heathrow
could not find code for Manila

860    DOH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Melbourne

775    CWL
Name: Code, dtype: object

could not find code for Helsinki
could not find code for Mahe
could not find code for Melbourne
could not find code for Nice
could not find code for Gatwick

860    DOH
Name: Code, dtype: object

764    GVA
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Lisbon

1750    BKK
Name: Code, dtype: object

could not find code for Sofia
could not find code for Kolkata
could not find code for Perth

463    CPH
Name: Code, dtype: object

could not find code for Denpasar
could not find code for Istanbul
could not find code for Kolkata
could not find code for Perth
could not find code for Amman
could not find code for Helsinki

860    DOH
Name: Code, dtype: object

921    YMQ
Name: Code, dtype: object

could not find code for Tbilisi
could not find code for Amsterdam

860    DOH
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Dar es Salaam
could not find code for Kiev
could not find code for Tunis

470    ATH
Name: Code, dtype: object

could not find code for Amsterdam

791    MAN
Name: Code, dtype: object

could not find code for Gatwick

1534    ADL
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

could not find code for Denpasar
could not find code for Johannesburg

1750    BKK
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Vienna

203    TYO
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Sydney

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

could not find code for Johannesburg

860    DOH
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

could not find code for Singapore
could not find code for Denpasar

1692    AKL
Name: Code, dtype: object

could not find code for Mumbai

511    BRU
Name: Code, dtype: object

could not find code for Sydney

480    DUB
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Mumbai

491    WAW
Name: Code, dtype: object

could not find code for Sydney
could not find code for Muscat
could not find code for Helsinki
could not find code for Stockholm

1750    BKK
Name: Code, dtype: object

240    CCJ
Name: Code, dtype: object

could not find code for Moscow
could not find code for Sydney
could not find code for Paris CDG
could not find code for Frankfurt

1    CPT
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

could not find code for Dallas Ft Worth
could not find code for Chicago

785    LON
919    YXU
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

279    KCZ
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Philadelphia
could not find code for Hanoi
could not find code for Melbourne

860    DOH
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Sydney

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Sydney
could not find code for Singapore

246    GOI
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

could not find code for Sydney

584    PAR
Name: Code, dtype: object

could not find code for Munich

860    DOH
Name: Code, dtype: object

could not find code for Singapore

511    BRU
Name: Code, dtype: object

could not find code for Vienna

654    MIL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

could not find code for Gatwick

860    DOH
Name: Code, dtype: object

could not find code for Singapore

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Gatwick
could not find code for Johannesburg

772    BHX
Name: Code, dtype: object

could not find code for Stockholm
could not find code for Male

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Washington
could not find code for Belgrade

860    DOH
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Denpasar

233    BLR
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Boston

778    EDI
Name: Code, dtype: object

could not find code for Tehran

860    DOH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Maputo
could not find code for Vienna
could not find code for Perth
could not find code for Stockholm

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for London Heathrow
could not find code for Kuala Lumpur

480    DUB
Name: Code, dtype: object

could not find code for Chennai

488    OSL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

233    BLR
Name: Code, dtype: object

could not find code for Atlanta

791    MAN
Name: Code, dtype: object

could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Incheon
could not find code for Penang
could not find code for Budapest

1750    BKK
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Hong Kong

921    YMQ
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Sydney
could not find code for Belgrade

463    CPH
Name: Code, dtype: object

could not find code for Singapore

860    DOH
Name: Code, dtype: object

could not find code for Munich
could not find code for Sydney

860    DOH
Name: Code, dtype: object

could not find code for Mumbai

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

233    BLR
Name: Code, dtype: object

279    KCZ
Name: Code, dtype: object

could not find code for Gothenburg
could not find code for Singapore

950    YTO
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Perth
could not find code for Johannesburg
could not find code for Sydney
could not find code for Washington
could not find code for Los Angeles

860    DOH
Name: Code, dtype: object

could not find code for Perth
could not find code for Washington

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Denpasar

860    DOH
Name: Code, dtype: object

465    BER
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

392    SJJ
Name: Code, dtype: object

could not find code for Kigali
could not find code for Sofia
could not find code for Tbilisi

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Zurich

778    EDI
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for New York
could not find code for Dallas

233    BLR
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

could not find code for New York

1534    ADL
Name: Code, dtype: object

could not find code for London Heathrow
could not find code for Budapest
could not find code for Kuala Lumpur

77    NBO
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Vienna
could not find code for Jakarta
could not find code for Dallas

860    DOH
Name: Code, dtype: object

could not find code for Kolkata

860    DOH
Name: Code, dtype: object

could not find code for Zanzibar
could not find code for Clark
could not find code for Sydney

511    BRU
Name: Code, dtype: object

could not find code for Amsterdam

921    YMQ
Name: Code, dtype: object

could not find code for Perth

654    MIL
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Kuala Lumpur

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Melbourne

860    DOH
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Kigali

584    PAR
Name: Code, dtype: object

could not find code for Munich

860    DOH
Name: Code, dtype: object

could not find code for Najaf

860    DOH
Name: Code, dtype: object

could not find code for Helsinki
could not find code for Jakarta
could not find code for Stockholm
could not find code for Miami

1549    CBR
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

775    CWL
Name: Code, dtype: object

could not find code for Delhi

785    LON
919    YXU
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Denpasar
could not find code for Sydney

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

could not find code for Perth
could not find code for Denpasar
could not find code for Mahé, Seychelles

860    DOH
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

could not find code for Kuala Lumpur

488    OSL
Name: Code, dtype: object

could not find code for Manila

584    PAR
Name: Code, dtype: object

could not find code for Perth

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Jakarta

238    BOM
Name: Code, dtype: object

could not find code for Melbourne

862    ANK
Name: Code, dtype: object

could not find code for Singapore

256    NAG
Name: Code, dtype: object

399    BUH
Name: Code, dtype: object

could not find code for Vienna
could not find code for Boston

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Munich
could not find code for Kuwait
could not find code for Melbourne

860    DOH
Name: Code, dtype: object

could not find code for Philadelphia

1543    BNE
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1534    ADL
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Zurich
could not find code for Perth
could not find code for Johannesburg
could not find code for Melbourne

463    CPH
Name: Code, dtype: object

could not find code for Washington
could not find code for Kuwait
could not find code for Houston
could not find code for Washington
could not find code for Bali

1692    AKL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1549    CBR
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Melbourne

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Shanghai
could not find code for Denpasar
could not find code for Muscat
could not find code for Johannesburg

1534    ADL
Name: Code, dtype: object

could not find code for Kuwait

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Vienna

778    EDI
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

could not find code for Miami
could not find code for Atlanta

860    DOH
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Hong Kong

772    BHX
Name: Code, dtype: object

could not find code for Johannesburg

1534    ADL
Name: Code, dtype: object

could not find code for New York JFK

1692    AKL
Name: Code, dtype: object

could not find code for Ho Chi Minh City

1692    AKL
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

229    AMD
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

488    OSL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

could not find code for New York

860    DOH
Name: Code, dtype: object

could not find code for Jakarta

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Johannesburg
could not find code for Frankfurt

785    LON
919    YXU
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Frankfurt

715     BCN
1522    BLA
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Kigali
could not find code for Boston

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Islamabad
could not find code for Chicago
could not find code for Singapore
could not find code for Karachi

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Chicago
could not find code for London Heathrow
could not find code for Tbilisi
could not find code for Venice
could not find code for Marrakech

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Philadelphia

860    DOH
Name: Code, dtype: object

could not find code for Ho Chi Minh
could not find code for Munich

470    ATH
Name: Code, dtype: object

465    BER
Name: Code, dtype: object

could not find code for Washington
could not find code for Maputo

1750    BKK
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Dallas Ft Worth
could not find code for São Paulo
could not find code for Hong Kong
could not find code for Miami
could not find code for New York JFK

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Berlin Tegel

654    MIL
Name: Code, dtype: object

could not find code for Munich
could not find code for Maldives
could not find code for Melbourne

860    DOH
Name: Code, dtype: object

could not find code for Manila
could not find code for Melbourne
could not find code for Jakarta

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Philadelphia
could not find code for Muscat

1750    BKK
Name: Code, dtype: object

could not find code for Venice
could not find code for Sydney

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Melbourne

860    DOH
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Dallas
could not find code for Singapore
could not find code for Atlanta

860    DOH
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

136    DUR
Name: Code, dtype: object

could not find code for Delhi
could not find code for Kiev

860    DOH
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

could not find code for Sydney

463    CPH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for London Heathrow

1750    BKK
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for London Heathrow

785    LON
919    YXU
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

402    BAK
Name: Code, dtype: object

could not find code for Tehran
could not find code for Munich
could not find code for Johannesburg
could not find code for Denpasar

1750    BKK
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

824    SLL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Sydney
could not find code for Sydney
could not find code for Sofia
could not find code for Hanoi

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Muscat
could not find code for Hong Kong

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Dallas Ft Worth
could not find code for Melbourne

791    MAN
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Stockholm

463    CPH
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Sydney
could not find code for New York JFK

1692    AKL
Name: Code, dtype: object

could not find code for Melbourne

860    DOH
Name: Code, dtype: object

could not find code for Lagos

860    DOH
Name: Code, dtype: object

could not find code for Kuala Lumpur

1750    BKK
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Munich
could not find code for Philadelphia

791    MAN
Name: Code, dtype: object

could not find code for Dallas Ft Worth

778    EDI
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for New York JFK
could not find code for Istanbul
could not find code for Melbourne
could not find code for Denpasar

1692    AKL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

could not find code for Atlanta

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York

465    BER
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Stockholm

868    DXB
Name: Code, dtype: object

could not find code for London Heatrhow

213    DAC
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Frankfurt

1534    ADL
Name: Code, dtype: object

could not find code for Zurich
could not find code for Berlin Tegel

1534    ADL
Name: Code, dtype: object

could not find code for Manila
could not find code for Venice
could not find code for Hanoi
could not find code for Perth
could not find code for Melbourne
could not find code for Sydney
could not find code for Karachi
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Mumbai

1750    BKK
Name: Code, dtype: object

could not find code for Los Angeles

1692    AKL
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Melbourne

772    BHX
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Chicago

860    DOH
Name: Code, dtype: object

could not find code for Atlanta
could not find code for Sydney
could not find code for Belgrade

860    DOH
Name: Code, dtype: object

could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

402    BAK
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Munich
could not find code for Sofia
could not find code for Istanbul

868    DXB
Name: Code, dtype: object

could not find code for Ho Chi Minh City

785    LON
919    YXU
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Phnom Penh

50    LXR
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Cairo

860    DOH
Name: Code, dtype: object

could not find code for Muscat

1    CPT
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

could not find code for Dammam

210    CMB
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

230    ATQ
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Dammam
could not find code for Munich
could not find code for Islamabad
could not find code for Madrid
could not find code for Vienna

764    GVA
Name: Code, dtype: object

could not find code for Ho Chi Minh City
could not find code for Venice
could not find code for Zagreb

1750    BKK
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Sydney
could not find code for Washington DC

772    BHX
Name: Code, dtype: object

870    SHJ
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York

470    ATH
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Kuala Lumpur

511    BRU
Name: Code, dtype: object

could not find code for Zurich

860    DOH
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Madrid

1750    BKK
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

could not find code for Riyadh
could not find code for Tunis
could not find code for Frankfurt

860    DOH
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Krabi
could not find code for Amsterdam

860    DOH
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

1534    ADL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for London Heathrow

877    MED
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Madrid

880    TIF
Name: Code, dtype: object

764    GVA
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Philadelphia

866    AUH
Name: Code, dtype: object

could not find code for Paris CDG

860    DOH
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for doh TO sof
could not find code for Ho Chi Minh City

203    TYO
Name: Code, dtype: object

could not find code for Seattle

203    TYO
Name: Code, dtype: object

300    TOY
Name: Code, dtype: object

could not find code for Shanghai

203    TYO
Name: Code, dtype: object

272    FUK
Name: Code, dtype: object

could not find code for Tokyo Haneda
could not find code for Sydney
could not find code for Iwakuni
could not find code for San Francisco

203    TYO
Name: Code, dtype: object

could not find code for Los Angeles

271    CTS
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Narita

203    TYO
Name: Code, dtype: object

could not find code for Seoul
could not find code for Hong Kong

203    TYO
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Tokyo Haneda
could not find code for Seattle

203    TYO
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Delhi
could not find code for Chicago

290    OKJ
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Hong Kong
could not find code for Tokyo Haneda

1750    BKK
Name: Code, dtype: object

could not find code for Haneda
could not find code for Tokyo Narita
could not find code for San Francisco
could not find code for Haneda
could not find code for Washington

1750    BKK
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Haneda

1750    BKK
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Sydney
could not find code for Kuala Lumpur

203    TYO
Name: Code, dtype: object

could not find code for Okinawa Naha
could not find code for Osaka

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Sydney
could not find code for Manila
could not find code for Singapore

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago
could not find code for Tokyo Narita
could not find code for Kuala Lumpur

203    TYO
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Jakarta
could not find code for Tokyo Narita (NRT)
could not find code for Jakarta
could not find code for Tokyo Narita

203    TYO
Name: Code, dtype: object

could not find code for Manila
could not find code for New York

272    FUK
Name: Code, dtype: object

could not find code for Narita
could not find code for Okinawa
could not find code for Kuala Lumpur
could not find code for Sydney

1750    BKK
Name: Code, dtype: object

could not find code for Houston
could not find code for Haneda
could not find code for Ho Chi Minh City

203    TYO
Name: Code, dtype: object

could not find code for Los Angeles

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for New York

203    TYO
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Los Angeles

203    TYO
Name: Code, dtype: object

could not find code for Honolulu
could not find code for Nagoya
could not find code for Itami

203    TYO
Name: Code, dtype: object

could not find code for Houston
could not find code for Tokyo Haneda

203    TYO
Name: Code, dtype: object

could not find code for Tokyo ta

1750    BKK
Name: Code, dtype: object

could not find code for Perth
could not find code for Taipei

203    TYO
Name: Code, dtype: object

could not find code for Ho Chi Minh
could not find code for Okinawa
could not find code for Manila
could not find code for Tokyo Haneda
could not find code for Yangon
could not find code for Sydney
could not find code for Tokyo Haneda

203    TYO
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Jakarta
could not find code for Jakarta
could not find code for Delhi
could not find code for Hiroshima
could not find code for Los Angeles
could not find code for Manila
could not find code for Tokyo-Haneda

203    TYO
Name: Code, dtype: object

could not find code for Chicago
could not find code for Tokyo Haneda
could not find code for Jakarta
could not find code for Vancouver
could not find code for Vancouver
could not find code for Tokyo Haneda
could not find code for Naha

1750    BKK
Name: Code, dtype: object

could not find code for Singapore

309    SHE
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Tokyo Haneda
could not find code for Phnom Penh
could not find code for Delhi
could not find code for Frankfurt
could not find code for Manila
could not find code for New York
could not find code for Chicago
could not find code for Honolulu
could not find code for Tokyo Haneda
could not find code for Manila
could not find code for Hangzhou
could not find code for Jakarta
could not find code for Tokyo Haneda
could not find code for Kuala Lumpur
could not find code for New York JFK
could not find code for San Francisco

1750    BKK
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Hiroshima
could not find code for Chicago
could not find code for Tokyo Haneda
could not find code for Kuala Lumpur
could not find code for Haneda
could not find code for New York

1750    BKK
Name: Code, dtype: object

could not find code for Osaka
could not find code for Hong Kong
could not find code for Houston

1750    BKK
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Tokyo Haneda

511    BRU
Name: Code, dtype: object

could not find code for Chicago

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Washington
could not find code for Mumbai
could not find code for Vancouver
could not find code for Haneda
could not find code for Frankfurt
could not find code for Los Angeles
could not find code for New Chitose (Sapporo)
could not find code for Frankfurt
could not find code for Jakarta
could not find code for Washington
could not find code for Kuala Lumpur
could not find code for Tokyo Haneda
could not find code for Kuala Lumpur
could not find code for Sydney
could not find code for Osaka
could not find code for Los Angeles

203    TYO
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Washington Dulles
could not find code for Kuala Lumpur

287    NGS
Name: Code, dtype: object

could not find code for Nagoya
could not find code for Hong Kong
could not find code for Tokyo Narita

1750    BKK
Name: Code, dtype: object

383    SJO
Name: Code, dtype: object

could not find code for Tokyo Haneda
could not find code for Kansai
could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Kuala Lumpur
could not find code for Seoul Gimpo
could not find code for Kuala Lumpur
could not find code for Phnom Penh
could not find code for Jakarta

203    TYO
Name: Code, dtype: object

238    BOM
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Tokyo Haneda

287    NGS
Name: Code, dtype: object

could not find code for Tokyo Narita

203    TYO
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Osaka
could not find code for Haneda
could not find code for Hong Kong
could not find code for Washington

988    MEX
Name: Code, dtype: object

could not find code for Jakarta

290    OKJ
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Sapporo New Chitose
could not find code for Haneda
could not find code for Kuala Lumpur
could not find code for Kuala Lumpur

216    PEK
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for IAh

1750    BKK
Name: Code, dtype: object

could not find code for London Stansted

584    PAR
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Baghdad

1543    BNE
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Delhi
could not find code for New York

921    YMQ
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Manila

1692    AKL
Name: Code, dtype: object

could not find code for Newark

868    DXB
Name: Code, dtype: object

could not find code for Heathrow
could not find code for Boston

921    YMQ
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

488    OSL
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

807    BAH
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Sydney

1694    CHC
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

could not find code for London Heathrow
could not find code for Singapore

511    BRU
Name: Code, dtype: object

could not find code for Miami
could not find code for Singapore
could not find code for Johannesburg

649    CTA
Name: Code, dtype: object

could not find code for Kuala Lumpur

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

13    MUB
Name: Code, dtype: object

could not find code for Hong Kong

1750    BKK
Name: Code, dtype: object

could not find code for Ho Chi Minh

868    DXB
Name: Code, dtype: object

could not find code for Mauritius

868    DXB
Name: Code, dtype: object

136    DUR
Name: Code, dtype: object

could not find code for Chennai
could not find code for Taipei

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Nice
could not find code for New York

1692    AKL
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Munich

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for St Louis

772    BHX
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

could not find code for Amman
could not find code for New York JFK

772    BHX
Name: Code, dtype: object

could not find code for Trivandrum
could not find code for Lisbon
could not find code for Hamburg

1543    BNE
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Sydney

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

279    KCZ
Name: Code, dtype: object

could not find code for Prague

243    COK
Name: Code, dtype: object

could not find code for Mumbai

149    NCS
792    NCL
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

could not find code for Seoul

868    DXB
Name: Code, dtype: object

could not find code for Mauritius
could not find code for Mumbai
could not find code for Cairo
could not find code for Sydney
could not find code for Delhi

868    DXB
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Heathrow
could not find code for Kuwait
could not find code for Kempegowda Bengaluru

868    DXB
Name: Code, dtype: object

could not find code for St Petersburg

791    MAN
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

could not find code for Karachi
could not find code for Chicago
could not find code for Kolkata

868    DXB
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

could not find code for Sydney
could not find code for Hong Kong
could not find code for Gatwick
could not find code for United States
could not find code for London Gatwick

868    DXB
Name: Code, dtype: object

could not find code for Miami

1750    BKK
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

1517    CKY
Name: Code, dtype: object

could not find code for New Delhi
could not find code for Houston

868    DXB
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

could not find code for Tokyo Narita

213    DAC
Name: Code, dtype: object

could not find code for Orlando

654    MIL
Name: Code, dtype: object

could not find code for Bali

149    NCS
792    NCL
Name: Code, dtype: object

could not find code for Seattle

654    MIL
Name: Code, dtype: object

could not find code for Melbourne

868    DXB
Name: Code, dtype: object

could not find code for Tokyo Narita

1750    BKK
Name: Code, dtype: object

could not find code for London Gatwick

848    PEW
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Venice

868    DXB
Name: Code, dtype: object

could not find code for Chennai

868    DXB
Name: Code, dtype: object

could not find code for London Gatwick

785    LON
919    YXU
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

could not find code for Bali

1    CPT
Name: Code, dtype: object

279    KCZ
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

could not find code for Singapore

470    ATH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

807    BAH
Name: Code, dtype: object

could not find code for Bengaluru
could not find code for Dallas

1692    AKL
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Houston
could not find code for Jakarta
could not find code for Stansted
could not find code for Zurich

868    DXB
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Dallas Ft Worth
could not find code for Singapore

803    BEY
Name: Code, dtype: object

could not find code for Adélaïde

807    BAH
Name: Code, dtype: object

could not find code for Riyadh

213    DAC
Name: Code, dtype: object

could not find code for Munich

868    DXB
Name: Code, dtype: object

243    COK
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

could not find code for Lisbon

868    DXB
Name: Code, dtype: object

279    KCZ
Name: Code, dtype: object

487    BGO
Name: Code, dtype: object

412    DBV
Name: Code, dtype: object

could not find code for Dammam
could not find code for Stockholm

807    BAH
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Houston

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Mumbai
could not find code for Washington
could not find code for Washington
could not find code for Ho Chi Minh City

1475    SAO
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Sydney

868    DXB
Name: Code, dtype: object

could not find code for Houston
could not find code for New York
could not find code for Kolkata

243    COK
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Mauritius
could not find code for New York
could not find code for New York

803    BEY
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for London Gatwick
could not find code for Lisbon

868    DXB
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

could not find code for Dallas
could not find code for Tehran
could not find code for Karachi
could not find code for Hong Kong

868    DXB
Name: Code, dtype: object

could not find code for Karachi
could not find code for Chicago

1750    BKK
Name: Code, dtype: object

could not find code for New York JFK
could not find code for New York

868    DXB
Name: Code, dtype: object

could not find code for Johannesbug

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Amman
could not find code for Riyadh
could not find code for New York

868    DXB
Name: Code, dtype: object

could not find code for Dallas
could not find code for Melbourne

77    NBO
Name: Code, dtype: object

could not find code for Houston
could not find code for Karachi

1754    HKT
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Male
could not find code for Chicago
could not find code for Zurich

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Newark
could not find code for Amsterdam
could not find code for Houston

77    NBO
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Washington

470    ATH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Tel Aviv

868    DXB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Houston

203    TYO
Name: Code, dtype: object

could not find code for Seychelles
could not find code for Houston
could not find code for Male
could not find code for Frankfurt

803    BEY
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for New York

868    DXB
Name: Code, dtype: object

could not find code for Mexico

1    CPT
Name: Code, dtype: object

could not find code for Houston

803    BEY
Name: Code, dtype: object

could not find code for Delhi
could not find code for Tunisia

868    DXB
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Chicago

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Orlando

950    YTO
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Chicago

868    DXB
Name: Code, dtype: object

could not find code for San Francisco
could not find code for San Francisco

868    DXB
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

279    KCZ
Name: Code, dtype: object

could not find code for Islamabad

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Amsterdam

868    DXB
Name: Code, dtype: object

could not find code for Cairo

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Perth

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Delhi

646    BLQ
Name: Code, dtype: object

1747    CBU
Name: Code, dtype: object

could not find code for Chicago

1543    BNE
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Chicago
could not find code for Bruxelles

1692    AKL
Name: Code, dtype: object

could not find code for Perth

1754    HKT
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Sydney
could not find code for Perth
could not find code for Fort Lauderdale
could not find code for Delhi

868    DXB
Name: Code, dtype: object

807    BAH
Name: Code, dtype: object

could not find code for Mauritius

203    TYO
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Saint-Petersburg
could not find code for Zürich
could not find code for Sydney
could not find code for Chennai
could not find code for Ho Chi Minh

1543    BNE
Name: Code, dtype: object

could not find code for Sydney
could not find code for Ho Chi Minh
could not find code for Amsterdam

868    DXB
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

could not find code for Kuala Lumpur

807    BAH
Name: Code, dtype: object

could not find code for Singapore

1692    AKL
Name: Code, dtype: object

could not find code for Gatwick

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore

791    MAN
Name: Code, dtype: object

could not find code for Washington

791    MAN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for London Stansted
could not find code for Orlando
could not find code for Chennai
could not find code for Ho Chi Minh City

791    MAN
Name: Code, dtype: object

could not find code for Male
could not find code for Shanghai

1543    BNE
Name: Code, dtype: object

233    BLR
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Kolkata

868    DXB
Name: Code, dtype: object

238    BOM
Name: Code, dtype: object

could not find code for Venice

1    CPT
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Tehran
could not find code for Chicago

1750    BKK
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for New York
could not find code for Hamburg

868    DXB
Name: Code, dtype: object

could not find code for New York
could not find code for Perth

772    BHX
Name: Code, dtype: object

could not find code for Singapore
could not find code for Stansted
could not find code for Hong Kong

584    PAR
Name: Code, dtype: object

could not find code for Lisbon
could not find code for Hong Kong

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Johannesburg

1543    BNE
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Cairo
could not find code for Sydney

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Muscat
could not find code for Kuala Lumpur
could not find code for Perth

1692    AKL
Name: Code, dtype: object

could not find code for Amman

868    DXB
Name: Code, dtype: object

could not find code for Melbourne

511    BRU
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Perth

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Sydney

868    DXB
Name: Code, dtype: object

could not find code for New York

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Dallas
could not find code for Trivandrum

654    MIL
Name: Code, dtype: object

could not find code for Perth

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore

186    LUN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

could not find code for Kolkata
could not find code for Kuala Lumpur

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Denpasar

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Newark
could not find code for Kathmandu
could not find code for Newark
could not find code for Sydney
could not find code for New York

868    DXB
Name: Code, dtype: object

could not find code for Denpasar
could not find code for Manila
could not find code for Riyadh

950    YTO
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Seattle

772    BHX
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Islamabad
could not find code for Melbourne

1750    BKK
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Newark

1543    BNE
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Male
could not find code for New Dehli

772    BHX
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Sydney

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Trivandrum
could not find code for Amsterdam

584    PAR
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Bali

791    MAN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Johannesburg
could not find code for Denpasar
could not find code for Denpasar
could not find code for London Heathrow
could not find code for Melbourne

1750    BKK
Name: Code, dtype: object

could not find code for New York
could not find code for Chennai
could not find code for Newark

868    DXB
Name: Code, dtype: object

1534    ADL
Name: Code, dtype: object

149    NCS
792    NCL
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Newark

1694    CHC
Name: Code, dtype: object

could not find code for Madrid
could not find code for Singapore

210    CMB
Name: Code, dtype: object

could not find code for Melbourne

868    DXB
Name: Code, dtype: object

could not find code for Los Angeles

868    DXB
Name: Code, dtype: object

could not find code for Houston

480    DUB
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

778    EDI
Name: Code, dtype: object

could not find code for Singapore

654    MIL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Gatwick

868    DXB
Name: Code, dtype: object

could not find code for Krakow

772    BHX
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Venice
could not find code for Amsterdam

511    BRU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Melbourne

58    ADD
Name: Code, dtype: object

could not find code for Bali

1750    BKK
Name: Code, dtype: object

could not find code for Singapore

868    DXB
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

could not find code for New York

868    DXB
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Istanbul

1750    BKK
Name: Code, dtype: object

149    NCS
792    NCL
Name: Code, dtype: object

could not find code for Prague

868    DXB
Name: Code, dtype: object

could not find code for Trivandrum
could not find code for Singapore

868    DXB
Name: Code, dtype: object

could not find code for Mumbai
could not find code for Perth

1750    BKK
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Kathmandu

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Vienna

3    ALG
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Budapest

868    DXB
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

could not find code for London Gatwick
could not find code for Singapore
could not find code for Gatwick

868    DXB
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

could not find code for Melbourne

868    DXB
Name: Code, dtype: object

could not find code for Houston
could not find code for Newark

868    DXB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for London Gatwick

488    OSL
Name: Code, dtype: object

488    OSL
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Newark

868    DXB
Name: Code, dtype: object

could not find code for Chicago

229    AMD
Name: Code, dtype: object

could not find code for Prague

868    DXB
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

could not find code for Kuala Lumpur

785    LON
919    YXU
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Riyadh

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Düsseldorf
could not find code for Sydney

1750    BKK
Name: Code, dtype: object

could not find code for Washington
could not find code for Manila
could not find code for Budapest
could not find code for Istanbul

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Zurich

785    LON
919    YXU
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

could not find code for Kathmandu
could not find code for Vienna
could not find code for Perth

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Munich

868    DXB
Name: Code, dtype: object

could not find code for Bali

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Male

868    DXB
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

could not find code for Munich
could not find code for Amsterdam
could not find code for Madrid
could not find code for Sydney

511    BRU
Name: Code, dtype: object

could not find code for Kuwait

77    NBO
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

could not find code for New York

868    DXB
Name: Code, dtype: object

could not find code for Cairo

1750    BKK
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

could not find code for New York JFK

1750    BKK
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

could not find code for Taipei
could not find code for Singapore

58    ADD
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Malta

1750    BKK
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

could not find code for New York

868    DXB
Name: Code, dtype: object

could not find code for Prague
could not find code for Sydney

715     BCN
1522    BLA
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Perth
could not find code for Munich
could not find code for Hamburg

1543    BNE
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Kathmandu

210    CMB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Istanbul

791    MAN
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Kuala Lumpur
could not find code for Kuala Lumpur

488    OSL
Name: Code, dtype: object

could not find code for Singapore

868    DXB
Name: Code, dtype: object

could not find code for Hamburg
could not find code for Shanghai
could not find code for Gatwick
could not find code for Newark
could not find code for Delhi

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Trivandrum

451    ODS
Name: Code, dtype: object

could not find code for Madrid
could not find code for Seattle

1543    BNE
Name: Code, dtype: object

could not find code for Perth
could not find code for Washington
could not find code for Stansted

210    CMB
Name: Code, dtype: object

could not find code for Johannesburg

772    BHX
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Orlando
could not find code for Sydney
could not find code for Lisbon
could not find code for Jakarta
could not find code for Hong Kong

791    MAN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Sydney
could not find code for Frankfurt
could not find code for Kuala Lumpur

950    YTO
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Johannesburg

1750    BKK
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Sydney
could not find code for Gatwick
could not find code for Sydney

868    DXB
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

could not find code for Sydney

1747    CBU
Name: Code, dtype: object

could not find code for Muscat

803    BEY
Name: Code, dtype: object

180    EBB
Name: Code, dtype: object

could not find code for Singapore

803    BEY
Name: Code, dtype: object

could not find code for Gatwick

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Hamburg
could not find code for Newark

210    CMB
Name: Code, dtype: object

807    BAH
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Sydney

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Hamburg
could not find code for Melbourne
could not find code for New York

210    CMB
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Kuwait

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

136    DUR
Name: Code, dtype: object

could not find code for Sydney

149    NCS
792    NCL
Name: Code, dtype: object

could not find code for Los Angeles

868    DXB
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Johannesburg

470    ATH
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Houston

868    DXB
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

77    NBO
Name: Code, dtype: object

170    KRT
Name: Code, dtype: object

could not find code for Moscow

1692    AKL
Name: Code, dtype: object

could not find code for Santiago
could not find code for Maldives

772    BHX
Name: Code, dtype: object

could not find code for Perth
could not find code for Washington
could not find code for Johannesburg
could not find code for Zagreb

667    ROM
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Gatwick

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York

785    LON
919    YXU
Name: Code, dtype: object

807    BAH
Name: Code, dtype: object

could not find code for Singapore

514    LCA
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Kuwait

868    DXB
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Venice

1    CPT
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Washington
could not find code for Jakarta

832    HDD
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Amsterdam

654    MIL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

could not find code for Dallas
could not find code for Hong Kong
could not find code for Munich

868    DXB
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Melbourne

1692    AKL
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Taipei
could not find code for Singapore

868    DXB
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Bali

772    BHX
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

could not find code for Muscat
could not find code for Zurich
could not find code for Sydney
could not find code for Melbourne
could not find code for Atlanta
could not find code for London Heathrow

868    DXB
Name: Code, dtype: object

could not find code for Hong Kong

1750    BKK
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1694    CHC
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Ft Lauderdale

1750    BKK
Name: Code, dtype: object

could not find code for Gatwick
could not find code for Amsterdam
could not find code for Johannesburg
could not find code for Phnom Penh

470    ATH
Name: Code, dtype: object

could not find code for New York JFK

868    DXB
Name: Code, dtype: object

could not find code for Chicago

470    ATH
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

832    HDD
Name: Code, dtype: object

could not find code for New York JFK

785    LON
919    YXU
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

could not find code for Chicago
could not find code for Zurich
could not find code for Phnom Penh

654    MIL
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for London Heathrow

772    BHX
Name: Code, dtype: object

could not find code for Düsseldorf

868    DXB
Name: Code, dtype: object

488    OSL
Name: Code, dtype: object

could not find code for Amsterdam

480    DUB
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Bali
could not find code for Fort Lauderdale
could not find code for Cairo

1747    CBU
Name: Code, dtype: object

could not find code for Manila
could not find code for Detroit

868    DXB
Name: Code, dtype: object

could not find code for Heathrow

832    HDD
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Chicago
could not find code for Hamburg

504    GLA
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Amman

791    MAN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Zurich
could not find code for Bengaluru

213    DAC
Name: Code, dtype: object

could not find code for Hamburg

511    BRU
Name: Code, dtype: object

could not find code for Delhi

1694    CHC
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Newark
could not find code for Kuala Lumpur

868    DXB
Name: Code, dtype: object

could not find code for Cairo

868    DXB
Name: Code, dtype: object

could not find code for Trivandrum

868    DXB
Name: Code, dtype: object

1543    BNE
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Budapest
could not find code for Kuwait
could not find code for Cairo
could not find code for Sydney

868    DXB
Name: Code, dtype: object

646    BLQ
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Johannesburg
could not find code for Jakarta

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Dusseldorf
could not find code for Lisbon
could not find code for Boston

832    HDD
Name: Code, dtype: object

could not find code for Moscow

868    DXB
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Singapore
could not find code for Frankfurt
could not find code for Hong Kong

785    LON
919    YXU
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

could not find code for New York
could not find code for Delhi
could not find code for Karachi

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Madrid

868    DXB
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Zurich
could not find code for Male

575    LYS
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Zürich
could not find code for Newark

868    DXB
Name: Code, dtype: object

could not find code for Malé
could not find code for London Heathrow

868    DXB
Name: Code, dtype: object

could not find code for London Heathrow
could not find code for New York
could not find code for Singapore
could not find code for Singapore

772    BHX
Name: Code, dtype: object

could not find code for Sydney
could not find code for Narita Tokyo
could not find code for Melbourne

504    GLA
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

715     BCN
1522    BLA
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Hong Kong

868    DXB
Name: Code, dtype: object

could not find code for Newark
could not find code for Melbourne
could not find code for Frankfurt
could not find code for Cairo

791    MAN
Name: Code, dtype: object

could not find code for New York JFK
could not find code for Perth

1692    AKL
Name: Code, dtype: object

279    KCZ
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

could not find code for Delhi

229    AMD
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Melbourne

149    NCS
792    NCL
Name: Code, dtype: object

could not find code for Mumbai

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Istanbul

868    DXB
Name: Code, dtype: object

could not find code for Budapest

504    GLA
Name: Code, dtype: object

could not find code for Johannesburg

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Yangon

1543    BNE
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Perth

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for San Francisco

868    DXB
Name: Code, dtype: object

1    CPT
Name: Code, dtype: object

could not find code for Mumbai
could not find code for Chicago

1750    BKK
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Perth

772    BHX
Name: Code, dtype: object

could not find code for Gatwick
could not find code for Cairo
could not find code for Singapore

149    NCS
792    NCL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

could not find code for Tokyo Narita

203    TYO
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Sydney
could not find code for Seattle
could not find code for Mumbai

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1694    CHC
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Budapest
could not find code for Sydney

868    DXB
Name: Code, dtype: object

229    AMD
Name: Code, dtype: object

could not find code for Johannesburg

868    DXB
Name: Code, dtype: object

could not find code for Munich
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Munich

1543    BNE
Name: Code, dtype: object

807    BAH
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Singapore

504    GLA
Name: Code, dtype: object

could not find code for Madrid

470    ATH
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Melbourne

233    BLR
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

1692    AKL
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Mauritius
could not find code for Amsterdam
could not find code for Malta

1692    AKL
Name: Code, dtype: object

could not find code for Johannesburg
could not find code for Chennai
could not find code for Mumbai
could not find code for Amsterdam
could not find code for Melbourne

584    PAR
Name: Code, dtype: object

could not find code for Taipei

791    MAN
Name: Code, dtype: object

170    KRT
Name: Code, dtype: object

could not find code for Kuala Lumpur

868    DXB
Name: Code, dtype: object

could not find code for Sydney

511    BRU
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Amsterdam
could not find code for Gatwick

868    DXB
Name: Code, dtype: object

could not find code for Dusseldorf
could not find code for Sydney

868    DXB
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Heathrow

233    BLR
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Lisbon
could not find code for Delhi
could not find code for Hong Kong

1    CPT
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Perth

1750    BKK
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

could not find code for Seychelles

491    WAW
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

could not find code for Karachi
could not find code for Washington
could not find code for Gatwick

868    DXB
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Taipei
could not find code for Boston
could not find code for Muscat

791    MAN
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Singapore

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

1754    HKT
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Hong Kong
could not find code for Munich

514    LCA
Name: Code, dtype: object

could not find code for New York

480    DUB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

149    NCS
792    NCL
Name: Code, dtype: object

could not find code for Seattle
could not find code for London Heathrow

868    DXB
Name: Code, dtype: object

210    CMB
Name: Code, dtype: object

could not find code for Islamabad

1543    BNE
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

1694    CHC
Name: Code, dtype: object

504    GLA
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Zurich

1543    BNE
Name: Code, dtype: object

could not find code for London Heathrow
could not find code for Gatwick
could not find code for Jakarta
could not find code for Gatwick

791    MAN
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Seoul Gimpo
could not find code for Tokyo Haneda
could not find code for Singapore

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Sydney
could not find code for Frankfurt

203    TYO
Name: Code, dtype: object

could not find code for Tokyo Haneda

197    SPK
Name: Code, dtype: object

272    FUK
Name: Code, dtype: object

could not find code for Jakarta

1750    BKK
Name: Code, dtype: object

271    CTS
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Singapore

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Chicago
could not find code for New York JFK
could not find code for San Francisco

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Tokyo Haneda
could not find code for New York

1750    BKK
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Seattle
could not find code for Delhi
could not find code for Tokyo Narita
could not find code for New York JFK
could not find code for Melbourne

203    TYO
Name: Code, dtype: object

could not find code for Sydney

203    TYO
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York
could not find code for Tokyo Haneda
could not find code for Los Angeles

233    BLR
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Tokyo Haneda

1750    BKK
Name: Code, dtype: object

could not find code for Tan Son Nhat
could not find code for New York JFK
could not find code for Hong Kong

1750    BKK
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Manila
could not find code for Seattle
could not find code for Jakarta

203    TYO
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Vancouver
could not find code for San Francisco
could not find code for Los Angeles

203    TYO
Name: Code, dtype: object

could not find code for Manila
could not find code for Dallas
could not find code for Honolulu
could not find code for Chicago
could not find code for Los Angeles
could not find code for Seattle

1750    BKK
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Tokyo Narita

584    PAR
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Melbourne
could not find code for Shanghai
could not find code for Vancouver

203    TYO
Name: Code, dtype: object

could not find code for Jakarta
could not find code for Manila
could not find code for Boston

203    TYO
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Chicago

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Kuala Lumpur

203    TYO
Name: Code, dtype: object

could not find code for Osaka
could not find code for Los Angeles
could not find code for Frankfurt
could not find code for Osaka
could not find code for Delhi

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

266    AXT
Name: Code, dtype: object

could not find code for Osaka Itami
could not find code for San Francisco
could not find code for Seattle

203    TYO
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Los Angeles
could not find code for Singapore Changi
could not find code for New York
could not find code for Melbourne
could not find code for Seattle

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Jakarta
could not find code for Sydney
could not find code for Tokyo Narita

216    PEK
Name: Code, dtype: object

could not find code for Ho Chi Minh City
could not find code for Okinawa
could not find code for Helsinki
could not find code for Melbourne
could not find code for Sydney

1750    BKK
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Tokyo Haneda

1750    BKK
Name: Code, dtype: object

could not find code for San Diego

203    TYO
Name: Code, dtype: object

could not find code for Narita
could not find code for London Heathrow
could not find code for Delhi

654    MIL
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

could not find code for Sydney
could not find code for Tokyo Narita

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Singapore
could not find code for Tokyo Haneda
could not find code for Tokyo Narita
could not find code for New York

203    TYO
Name: Code, dtype: object

could not find code for Tokyo Narita

203    TYO
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

271    CTS
Name: Code, dtype: object

could not find code for Tokyo Narita
could not find code for Taipei
could not find code for Melbourne
could not find code for Narita, Tokyo
could not find code for Tokyo Narita
could not find code for Boston
could not find code for Tokyo Haneda
could not find code for Singapore
could not find code for Heathrow
could not find code for Frankfurt

272    FUK
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Tokyo Haneda
could not find code for Busan

203    TYO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Paris CDG

203    TYO
Name: Code, dtype: object

could not find code for Las Vegas
could not find code for Frankfurt
could not find code for Osaka

203    TYO
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Tokyo Narita
could not find code for Shanghai

791    MAN
Name: Code, dtype: object

1460    BOG
Name: Code, dtype: object

456    TGD
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Istanbul
could not find code for Istanbul
could not find code for Kuala Lumpur

860    DOH
Name: Code, dtype: object

could not find code for Munich
could not find code for Vilnius

950    YTO
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Dallas

950    YTO
Name: Code, dtype: object

could not find code for Istanbul

1447    BUE
Name: Code, dtype: object

1523    CCS
Name: Code, dtype: object

could not find code for Miami

480    DUB
Name: Code, dtype: object

could not find code for Istanbul

772    BHX
Name: Code, dtype: object

could not find code for Kazan
could not find code for Istanbul

1717    DLA
Name: Code, dtype: object

could not find code for Chicago
could not find code for San Francisco
could not find code for Johannesburg
could not find code for Male
could not find code for Singapore
could not find code for Bishkek

399    BUH
Name: Code, dtype: object

could not find code for Singapore
could not find code for Singapore

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Houston
could not find code for Vilnius

1721    YAO
Name: Code, dtype: object

could not find code for Prague
could not find code for Kazan
could not find code for Istanbul
could not find code for Jakarta
could not find code for Istanbul

864    DLM
Name: Code, dtype: object

could not find code for Vienna
could not find code for Kazan

772    BHX
Name: Code, dtype: object

496     VLC
1527    VLN
Name: Code, dtype: object

could not find code for Panama
could not find code for Atlanta
could not find code for Seattle
could not find code for Antalia
could not find code for Istanbul
could not find code for Havana
could not find code for Zurich
could not find code for Istanbul
could not find code for Istanbul
could not find code for Amsterdam

785    LON
919    YXU
Name: Code, dtype: object

399    BUH
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Singapore
could not find code for İstanbul
could not find code for Istanbul
could not find code for Istanbul

805    IZM
Name: Code, dtype: object

862    ANK
Name: Code, dtype: object

921    YMQ
Name: Code, dtype: object

could not find code for Singapore
could not find code for San Francisco
could not find code for Kuala Lumpur

457    PRN
Name: Code, dtype: object

could not find code for Washington

402    BAK
Name: Code, dtype: object

could not find code for Kuala Lumpur

488    OSL
Name: Code, dtype: object

could not find code for Sofia
could not find code for London Heathrow
could not find code for Zurich
could not find code for Los Angeles
could not find code for Dusseldorf

465    BER
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Dallas
could not find code for Munich
could not find code for Istanbul
could not find code for Frankfurt
could not find code for Los Angeles
could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul

764    GVA
Name: Code, dtype: object

could not find code for Dusseldorf
could not find code for Los Angeles
could not find code for Jakarta
could not find code for Tbilisi
could not find code for Lefkosa ECN
could not find code for Istanbul

778    EDI
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Istanbul

868    DXB
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Biskek

805    IZM
Name: Code, dtype: object

863    AYT
Name: Code, dtype: object

could not find code for Belgrade

67    ACC
Name: Code, dtype: object

772    BHX
Name: Code, dtype: object

could not find code for Munich

511    BRU
Name: Code, dtype: object

could not find code for Istanbul

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Miami
could not find code for Singapore
could not find code for New York

667    ROM
Name: Code, dtype: object

could not find code for Tashkent
could not find code for Budapest
could not find code for Boston
could not find code for Singapore
could not find code for Tehran
could not find code for Mumbai
could not find code for Moscow
could not find code for Denpasar
could not find code for Marrakesh

868    DXB
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Istanbul

863    AYT
Name: Code, dtype: object

could not find code for Bali

868    DXB
Name: Code, dtype: object

could not find code for Venice

1750    BKK
Name: Code, dtype: object

could not find code for Dallas
could not find code for Istanbul
could not find code for Kuala Lumpur

868    DXB
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

could not find code for Tehran
could not find code for Vienna

1750    BKK
Name: Code, dtype: object

could not find code for Delhi
could not find code for Stuttgart

392    SJJ
Name: Code, dtype: object

could not find code for China

868    DXB
Name: Code, dtype: object

could not find code for Heathrow

868    DXB
Name: Code, dtype: object

could not find code for Abuja
could not find code for Istanbul
could not find code for Amsterdam

868    DXB
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Dammam
could not find code for Constanta
could not find code for Los Angeles
could not find code for Mumbai
could not find code for Miami

423    RIX
Name: Code, dtype: object

could not find code for Miami
could not find code for Istanbul
could not find code for Amman
could not find code for Miami

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Delhi
could not find code for Stockholm
could not find code for Denpasar
could not find code for Tashkent
could not find code for Hanoi

216    PEK
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Istanbul
could not find code for Tallinn

772    BHX
Name: Code, dtype: object

465    BER
Name: Code, dtype: object

could not find code for Chicago

868    DXB
Name: Code, dtype: object

could not find code for Cologne
could not find code for Islamabad
could not find code for Zurich
could not find code for Tbilisi
could not find code for Singapore

470    ATH
Name: Code, dtype: object

could not find code for Kayseri
could not find code for Istanbul
could not find code for Riyadh
could not find code for Istanbul
could not find code for Boston

863    AYT
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

58    ADD
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Istanbul

1543    BNE
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Antaya
could not find code for Los Angeles
could not find code for Katowice
could not find code for Los Angeles
could not find code for New Yok
could not find code for Istanbul
could not find code for Singapore
could not find code for Istanbul

921    YMQ
Name: Code, dtype: object

could not find code for Lisbon
could not find code for New York
could not find code for New York
could not find code for Canada
could not find code for Delhi
could not find code for Nice
could not find code for Dallas Fort-Worth
could not find code for New York
could not find code for Istanbul
could not find code for Seattle
could not find code for Istanbul
could not find code for Budapest
could not find code for Jeddah
could not find code for San Francisco
could not find code for Düsseldorf
could not find code for Dallas Ft Worth
could not find code for Delhi
could not find code for Frankfurt
could not find code for Zurich
could not find code for Frankfurt

470    ATH
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

488    OSL
Name: Code, dtype: object

could not find code for Newark

584    PAR
Name: Code, dtype: object

could not find code for Singapore

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Zurich

868    DXB
Name: Code, dtype: object

could not find code for Bishkek

778    EDI
Name: Code, dtype: object

1750    BKK
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Dusseldorf
could not find code for Amsterdam

463    CPH
Name: Code, dtype: object

could not find code for Budapest
could not find code for Newark
could not find code for Chicago
could not find code for Budapest
could not find code for Hong Kong
could not find code for Dusseldorf

791    MAN
Name: Code, dtype: object

could not find code for Delhi
could not find code for Houston
could not find code for Bali
could not find code for Singapore

180    EBB
Name: Code, dtype: object

could not find code for Dallas
could not find code for San Francisco
could not find code for Frankfurt
could not find code for Istanbul
could not find code for Boston

863    AYT
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Washington
could not find code for Manila
could not find code for Zurich
could not find code for San Francisco

203    TYO
Name: Code, dtype: object

could not find code for Washington
could not find code for Jeddah
could not find code for Vancouver
could not find code for Tel Aviv
could not find code for Vilnius
could not find code for Jeddah
could not find code for Munich

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul

658    NAP
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Zurich
could not find code for Alanya

667    ROM
Name: Code, dtype: object

could not find code for Newark
could not find code for Malaysia
could not find code for San Francisco
could not find code for Tel Aviv
could not find code for Tel Aviv
could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul
could not find code for Stuttgart
could not find code for Tel Aviv
could not find code for İstanbul
could not find code for Dallas

803    BEY
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Malta
could not find code for Istanbul

726    AGP
Name: Code, dtype: object

could not find code for Istanbul

584    PAR
Name: Code, dtype: object

could not find code for Istanbul

398    SKP
Name: Code, dtype: object

could not find code for Delhi
could not find code for Istanbul
could not find code for Bodrum
could not find code for New York
could not find code for Los Angeles
could not find code for Istanbul
could not find code for Atlanta
could not find code for Dusseldorf
could not find code for Istanbul
could not find code for Istanbul
could not find code for Gatwick
could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul
could not find code for Dallas

398    SKP
Name: Code, dtype: object

521    BLL
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Los Angeles
could not find code for Istanbul

584    PAR
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Tel Aviv
could not find code for Istanbul
could not find code for Boston
could not find code for Istanbul
could not find code for Kuala Lumpur
could not find code for Newark
could not find code for Istanbul
could not find code for Jakarta
could not find code for Istanbul
could not find code for Istanbul
could not find code for Mumbai

862    ANK
Name: Code, dtype: object

could not find code for Singapore

807    BAH
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

could not find code for Boston
could not find code for Moscow
could not find code for Houston
could not find code for Istanbul
could not find code for Istanbul
could not find code for Kathmandu
could not find code for Malta

785    LON
919    YXU
Name: Code, dtype: object

could not find code for New York

584    PAR
Name: Code, dtype: object

could not find code for Detroit
could not find code for Chicago

470    ATH
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Los Angeles

950    YTO
Name: Code, dtype: object

584    PAR
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

465    BER
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Milan Malpensa
could not find code for New York
could not find code for Ercan
could not find code for Kuala Lumpur
could not find code for Budapest
could not find code for San Francisco

862    ANK
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Istanbul

863    AYT
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Frankfurt
could not find code for Istanbul
could not find code for Kuala Lumpur
could not find code for Denpasar

1750    BKK
Name: Code, dtype: object

could not find code for Newark

791    MAN
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Chicago
could not find code for Istanbul
could not find code for Johannesburg
could not find code for Los Angeles

791    MAN
Name: Code, dtype: object

could not find code for Singapore

772    BHX
Name: Code, dtype: object

868    DXB
Name: Code, dtype: object

could not find code for Zagreb
could not find code for Singapore
could not find code for Kathmandu
could not find code for Washington
could not find code for Miami
could not find code for Teheran
could not find code for Tbilisi

399    BUH
Name: Code, dtype: object

399    BUH
Name: Code, dtype: object

could not find code for Madrid
could not find code for India
could not find code for Panama
could not find code for Istanbul

470    ATH
Name: Code, dtype: object

791    MAN
Name: Code, dtype: object

could not find code for Kuwait
could not find code for Boston
could not find code for Los Angeles
could not find code for Istanbul
could not find code for Venice
could not find code for New York JFK
could not find code for Kathmandu

480    DUB
Name: Code, dtype: object

could not find code for Washington

480    DUB
Name: Code, dtype: object

could not find code for Prague
could not find code for Washington
could not find code for Istanbul

921    YMQ
Name: Code, dtype: object

807    BAH
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Karachi
could not find code for Los Angeles
could not find code for Karachi
could not find code for Istanbul

785    LON
919    YXU
Name: Code, dtype: object

465    BER
Name: Code, dtype: object

864    DLM
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Los Angeles

950    YTO
Name: Code, dtype: object

807    BAH
Name: Code, dtype: object

could not find code for Kazakhstan
could not find code for Sofia
could not find code for San Francisco
could not find code for Cluj-Napoca
could not find code for Boston
could not find code for Hamburg
could not find code for Istanbul
could not find code for Kiev

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Washington
could not find code for Lagos

921    YMQ
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Istanbul
could not find code for Sochi
could not find code for Saint Petersburg
could not find code for Washington tyo Tehran
could not find code for Mogadishu
could not find code for Atlanta
could not find code for Tehran
could not find code for Dallas

726    AGP
Name: Code, dtype: object

could not find code for Zurich
could not find code for Houston
could not find code for Miami
could not find code for Karachi
could not find code for Tehran

807    BAH
Name: Code, dtype: object

could not find code for Houston

839    LHE
Name: Code, dtype: object

could not find code for Houston
could not find code for Dallas

807    BAH
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago

488    OSL
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Sydney
could not find code for Vancouver
could not find code for Dallas Ft Worth
could not find code for Almaty
could not find code for Manila
could not find code for Chicago
could not find code for Chicago
could not find code for Istanbul

864    DLM
Name: Code, dtype: object

1717    DLA
Name: Code, dtype: object

could not find code for Houston

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Miami

829    LYP
Name: Code, dtype: object

could not find code for Houston
could not find code for Singapore
could not find code for Frankfurt
could not find code for Malta
could not find code for Chicago
could not find code for Helsinki
could not find code for Chicago
could not find code for Miami
could not find code for Panama City

868    DXB
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

could not find code for Frankfurt
could not find code for Istanbul
could not find code for Taipei
could not find code for Tunis
could not find code for Istanbul
could not find code for Tbilisi
could not find code for Chicago
could not find code for Marrakesh
could not find code for Toulouse
could not find code for MIami
could not find code for Parisnto Kiev
could not find code for Washington

868    DXB
Name: Code, dtype: object

761    BSL
Name: Code, dtype: object

could not find code for Dallas Ft Worth
could not find code for İzmir

470    ATH
Name: Code, dtype: object

could not find code for Odesa
could not find code for Houston
could not find code for Cairo
could not find code for Dallas

839    LHE
Name: Code, dtype: object

could not find code for Zurich
could not find code for Washington
could not find code for Istanbul

584    PAR
Name: Code, dtype: object

could not find code for Cairo
could not find code for Istanbul

576    MRS
Name: Code, dtype: object

could not find code for Houston
could not find code for Los Angeles

465    BER
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Chicago O'Hare
could not find code for Istanbul

465    BER
Name: Code, dtype: object

could not find code for Boston
could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul

213    DAC
Name: Code, dtype: object

could not find code for Tbilisi
could not find code for Miami
could not find code for Kyiv

463    CPH
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Tashkent
could not find code for Odesa
could not find code for Istanbul

950    YTO
Name: Code, dtype: object

could not find code for Bishkek

470    ATH
Name: Code, dtype: object

839    LHE
Name: Code, dtype: object

491    WAW
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Sofia
could not find code for Zagreb
could not find code for Baghdad
could not find code for Istanbul
could not find code for Hong Kong

491    WAW
Name: Code, dtype: object

could not find code for Houston
could not find code for Newark
could not find code for Istanbul
could not find code for Istanbul

213    DAC
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Cologne
could not find code for Los Angeles
could not find code for Istanbul
could not find code for New York

950    YTO
Name: Code, dtype: object

could not find code for Hong Kong
could not find code for Miami
could not find code for Mexico

470    ATH
Name: Code, dtype: object

could not find code for Phoenix

863    AYT
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

could not find code for Newark
could not find code for Istanbul
could not find code for Ljubljana

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Karachi

399    BUH
Name: Code, dtype: object

could not find code for Male
could not find code for Istanbul

480    DUB
Name: Code, dtype: object

could not find code for Vancouver

677    LUX
Name: Code, dtype: object

764    GVA
Name: Code, dtype: object

could not find code for Cluj
could not find code for Los Angeles
could not find code for Kiyv
could not find code for Boston

119    NIM
Name: Code, dtype: object

could not find code for Vancouver
could not find code for Los Angeles
could not find code for Chicago
could not find code for Lima
could not find code for Atlanta
could not find code for Karachi
could not find code for Washington
could not find code for Chicago

868    DXB
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

could not find code for Tbilisi

470    ATH
Name: Code, dtype: object

950    YTO
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Cologne

950    YTO
Name: Code, dtype: object

654    MIL
Name: Code, dtype: object

866    AUH
Name: Code, dtype: object

451    ODS
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Tehran
could not find code for İstanbul
could not find code for Istanbul

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Vilnius
could not find code for Moscow

950    YTO
Name: Code, dtype: object

could not find code for Kabul
could not find code for Atlanta
could not find code for Vienna
could not find code for Mogadishu
could not find code for Istanbul
could not find code for Jakarta
could not find code for New York
could not find code for Kabul
could not find code for Huston
could not find code for Istanbul
could not find code for Malta
could not find code for Tel Aviv

584    PAR
Name: Code, dtype: object

could not find code for Karachi

58    ADD
Name: Code, dtype: object

could not find code for Dar es Salaam

58    ADD
Name: Code, dtype: object

could not find code for Los Angeles

170    KRT
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Tehran
could not find code for New York

667    ROM
Name: Code, dtype: object

could not find code for Madrid
could not find code for Atlanta

868    DXB
Name: Code, dtype: object

451    ODS
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Lviv
could not find code for Miami
could not find code for London Heathrow
could not find code for Hurghada

860    DOH
Name: Code, dtype: object

could not find code for Los Angeles

839    LHE
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Ljubljana
could not find code for Kuala Lumpur
could not find code for São Paulo
could not find code for Boston
could not find code for Manila
could not find code for Shiraz
could not find code for Turkey
could not find code for Istanbul

863    AYT
Name: Code, dtype: object

575    LYS
Name: Code, dtype: object

could not find code for Seoul
could not find code for Istanbul

761    BSL
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

839    LHE
Name: Code, dtype: object

could not find code for Chicago
could not find code for Chicago
could not find code for Istanbul
could not find code for Boston
could not find code for Los Angeles

463    CPH
Name: Code, dtype: object

could not find code for Male
could not find code for Chicago
could not find code for Istanbul
could not find code for Atlanta

839    LHE
Name: Code, dtype: object

could not find code for Lagos
could not find code for Houston
could not find code for Jakarta
could not find code for Moscow
could not find code for ISTANBUL
could not find code for Moscow-Vnukovo

67    ACC
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Kuwait
could not find code for Kuwait
could not find code for Istanbul
could not find code for Istambul
could not find code for Hong Kong
could not find code for Istanbul
could not find code for Moscow
could not find code for Moscow
could not find code for Zurich
could not find code for Amsterdam
could not find code for San Francisco
could not find code for Miami

839    LHE
Name: Code, dtype: object

1747    CBU
Name: Code, dtype: object

465    BER
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Los Angeles
could not find code for Kuala Lumpur

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for San Francisco
could not find code for Istanbul
could not find code for Chicago
could not find code for Istanbul
could not find code for Washington DC

213    DAC
Name: Code, dtype: object

866    AUH
Name: Code, dtype: object

862    ANK
Name: Code, dtype: object

could not find code for Moscow

791    MAN
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Singapore

213    DAC
Name: Code, dtype: object

921    YMQ
Name: Code, dtype: object

could not find code for Singapore

715     BCN
1522    BLA
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Istanbul

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Denver
could not find code for Hong Kong
could not find code for Tashkent
could not find code for Los Angeles

950    YTO
Name: Code, dtype: object

203    TYO
Name: Code, dtype: object

could not find code for Houston

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Panama City
could not find code for Cairo
could not find code for Stuttgart

1475    SAO
Name: Code, dtype: object

could not find code for Chicago

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Miami
could not find code for Delhi

862    ANK
Name: Code, dtype: object

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Keyseri
could not find code for Atlanta
could not find code for Seychelles
could not find code for Istanbul
could not find code for St Petersburgh

1460    BOG
Name: Code, dtype: object

could not find code for Istanbul

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Mumbai
could not find code for New York

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Malta
could not find code for Istanbul
could not find code for Istanbul
could not find code for Stuttgart
could not find code for Kuala Lumpur
could not find code for Kathmandu
could not find code for Chicago
could not find code for Istanbul
could not find code for Male
could not find code for Helsinki
could not find code for Johannesburg

128    DKR
Name: Code, dtype: object

could not find code for Tashkent
could not find code for Prague
could not find code for Istanbul
could not find code for Atlanta
could not find code for Amsterdam
could not find code for Dammam
could not find code for Los Angeles
could not find code for Dar es Salaam
could not find code for Amsterdam
could not find code for Stockholm

1750    BKK
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Jakarta
could not find code for Cairo

213    DAC
Name: Code, dtype: object

402    BAK
Name: Code, dtype: object

could not find code for Ulaanbaatar
could not find code for Istanbul
could not find code for Amsterdam
could not find code for Milano

863    AYT
Name: Code, dtype: object

could not find code for Gatwick
could not find code for Frankfurt
could not find code for Istanbul

868    DXB
Name: Code, dtype: object

could not find code for Taipei

868    DXB
Name: Code, dtype: object

213    DAC
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Lisbon
could not find code for Houston
could not find code for Malta
could not find code for Istanbul

726    AGP
Name: Code, dtype: object

could not find code for Hurghada

839    LHE
Name: Code, dtype: object

470    ATH
Name: Code, dtype: object

could not find code for Los Angeles
could not find code for Saigon

778    EDI
Name: Code, dtype: object

667    ROM
Name: Code, dtype: object

480    DUB
Name: Code, dtype: object

could not find code for Cologne
could not find code for Munich

402    BAK
Name: Code, dtype: object

could not find code for Los Angeles

807    BAH
Name: Code, dtype: object

803    BEY
Name: Code, dtype: object

could not find code for Washington
could not find code for Miami
could not find code for Chicago
could not find code for Cairo

584    PAR
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Singapore
could not find code for Istanbul
could not find code for Madrid
could not find code for Singapore

772    BHX
Name: Code, dtype: object

could not find code for Kuala Lumpur
could not find code for Zagreb
could not find code for Amsterdam
could not find code for Istanbul
could not find code for Istanbul

667    ROM
Name: Code, dtype: object

could not find code for Lisbon

950    YTO
Name: Code, dtype: object

could not find code for Amsterdam
could not find code for Istanbul
could not find code for Chicago
could not find code for Cairo
could not find code for Denpasar
could not find code for Atlanta
could not find code for San Francisco

950    YTO
Name: Code, dtype: object

could not find code for Sofia

470    ATH
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Kayseri

654    MIL
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Singapore

1    CPT
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul
could not find code for Washington
could not find code for Istanbul
could not find code for Istanbul
could not find code for Vienna
could not find code for New York JFK
could not find code for Istanbul
could not find code for Frankfurt

654    MIL
Name: Code, dtype: object

could not find code for Istanbul

921    YMQ
Name: Code, dtype: object

463    CPH
Name: Code, dtype: object

could not find code for Nuremberg

868    DXB
Name: Code, dtype: object

511    BRU
Name: Code, dtype: object

860    DOH
Name: Code, dtype: object

864    DLM
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Los Angeles
could not find code for Lvov
could not find code for Istanbul
could not find code for İstanbul

862    ANK
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Istanbul
could not find code for Amsterdam
could not find code for Gatwick
could not find code for Istanbul
could not find code for New York

772    BHX
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Istanbul
could not find code for Mauritius
could not find code for Istanbul
could not find code for Kiev
could not find code for Istanbul
could not find code for İstanbul
could not find code for Gatwick
could not find code for Kuala Lumpur
could not find code for Istanbul
could not find code for Los Angeles
could not find code for Istanbul
could not find code for Atlanta
could not find code for Bodrum
could not find code for Istanbul
could not find code for Istanbul
could not find code for Amman
could not find code for Zurich
could not find code for Vienna
could not find code for Istanbul
could not find code for Istanbul
could not find code for Delhi

785    LON
919    YXU
Name: Code, dtype: object

could not find code for Houston
could not find code for Istanbul
could not find code for Hong Kong
could not find code for Kosice
could not find code for Istanbul
could not find code for Istanbul
could not find code for Istanbul
could not find code for Budapest
could not find code for New York

785    LON
919    YXU
Name: Code, dtype: object

398    SKP
Name: Code, dtype: object

could not find code for Gatwick
could not find code for Konya
could not find code for Budapest
could not find code for Mumbai
could not find code for Boston
could not find code for Dammam
could not find code for Istanbul
could not find code for Istanbul
could not find code for Sofia

667    ROM
Name: Code, dtype: object

could not find code for Istanbul
could not find code for Istanbul

491    WAW
Name: Code, dtype: object

could not find code for Singapore
could not find code for Los Angeles
could not find code for London Gatwick
could not find code for Istanbul
could not find code for Kuala Lumpur

IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [15]:
df.origin_code

0       None
1        HKT
2       None
3       None
4       None
        ...
8095     BNE
8096     SYD
8097     DPS
8098     ICN
8099     ICN
Name: origin_code, Length: 8100, dtype: object

In [ ]:
for i,city in enumerate(df.Origin.value_counts().index):
    if len(city) == 3:
        print(city)

In [ ]:
df.Origin

In [ ]:
### lookup failures, only return cities not found, if return series call unique.apply - return nothing if you can't find it

### get lats/long for origin-destination-via

### https://www.developer.aero/api-catalog/flight-duration-overview

In [ ]:
# airports2 = airports.replace(', ','_').replace(' ',',').replace('\t',',')

In [ ]:
# import csv

In [ ]:
# airports2

In [ ]:
airports = [ airport for airport in df.Origin.value_counts().index if len(airport) == 3]
len(airports)

In [ ]:
df_updated = df[['Title', 'Airline', 'Reviews',
       'Type of Traveller', 'Month Flown', 'Route', 'Class', 'Seat Comfort',
       'Staff Service', 'Food & Beverages', 'Inflight Entertainment',
       'Value For Money', 'Overall Rating', 'Recommended']]

In [ ]:
ratings = list(df.iloc[:,16].values)

In [ ]:
df.iloc[17]

In [ ]:
with open('Resources/airlines_reviews.csv', 'r') as file:
    reader = csv.reader(file)
    # Skip the header row if it exists
    next(reader, None)

    # Iterate over the rows and extract the comments
    comments = [row[0] for row in reader]

    ratings = [float(row[16]) for row in reader]

polarities = []
subjectivities = []

# Analyze the sentiment of each comment
for comment in comments:
    blob = TextBlob(comment)
    polarity = blob.sentiment.polarity
    subjectivity = blob.sentiment.subjectivity
    polarities.append(polarity)
    subjectivities.append(subjectivity)
    
    print(f"Comment: {comment}")
    print(f"Polarity: {polarity}")
    print(f"Subjectivity: {subjectivity}")
    print()

In [ ]:
ratings

In [ ]:
plt.figure(figsize=(8, 6))
scatter = plt.scatter(polarities, subjectivities, c=ratings, cmap='viridis', alpha=0.5)
plt.xlabel('Polarity')
plt.ylabel('Subjectivity')
plt.title('Polarity vs. Subjectivity')
plt.show()

In [ ]:
plt.figure(figsize=(8, 6))
scatter = plt.scatter(polarities, subjectivities, c=ratings, cmap='viridis', alpha=0.5)
plt.xlabel('Polarity')
plt.ylabel('Subjectivity')
plt.title('Polarity vs. Subjectivity')
plt.show()

In [ ]:
df['Name'].nunique()

In [ ]:
df['Title']

In [ ]:
df['Title'].value_counts()

In [ ]:
df['Route'].value_counts()

In [ ]:
df['Airline'].value_counts()

In [ ]:
def add_location_info(df):
    geolocator = Nominatim(user_agent="my_geocoder")

    # Create new columns for city, latitude, and longitude
    df['Origin_City'] = ""
    df['Origin_Latitude'] = 0.0
    df['Origin_Longitude'] = 0.0

    for index, row in df.iterrows():
        location = geolocator.geocode(row['Origin'])
        if location:
            df.at[index, 'Origin_City'] = location.raw.get('display_name').split(",")[-4].strip()
            df.at[index, 'Origin_Latitude'] = location.latitude
            df.at[index, 'Origin_Longitude'] = location.longitude

    return df

df_with_location_info = add_location_info(df)

In [ ]:
# keep routes & split into Origin & Destination, find coord for the locations
# Target "Recommended"
# maybe user can provide the following and 
# Type of Traveller', 'Route', 'Class', 'Seat Comfort',
# 'Staff Service', 'Food & Beverages', 'Inflight Entertainment',
# 'Value For Money